[2020-09-03 10:56] ronaldtse opened #1 "(TBD) Encode BIPM SI brochure in Metanorma format"
This is the full PDF version: https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9.pdf

Confirmed with BIPM we need to convert the whole source:
* French
* English
* Appendix 1-4 (only 1 and 4 are in the PDF, 2 and 3 are on the BIPM site separately, we need to convert all)

(The previously posted one was only English: https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9-EN.pd

[2020-09-04 00:00] ronaldtse opened #2 "Convert SI brochure Appendix 1"
Appendix 1: https://www.bipm.org/en/publications/si-brochure/appendix1.html

[2020-09-04 00:01] ronaldtse opened #3 "Convert SI brochure Appendix 4"
Appendix 4: https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9-App4-EN.pdf

[2020-09-04 00:01] ronaldtse opened #4 "Convert SI brochure Appendix 3"
Appendix 3: https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9-App3-EN.pdf

[2020-09-04 00:03] ronaldtse opened #5 "Convert SI brochure Appendix 2"
Appendix 2: https://www.bipm.org/en/publications/mises-en-pratique/

Note that appendix 2 is really a site! It contains 16 separate documents. We need to convert *all* of those. Perhaps we should split this task. The documents are not complex, though.

[2020-09-04 00:09] ronaldtse opened #6 "Conver SI brochure Appendix 1"
Appendix 1 is a set of resolutions. https://www.bipm.org/en/publications/si-brochure/appendix1.html

We basically need to scrape all of those.

[2020-09-08 03:08] #6 closed, assigned to nobody

[2020-09-10 00:08] anermina opened #10 "Compare Word and HTML content of BIPM SI brochure"
As requested in https://github.com/metanorma/bipm-si-brochure/issues/2#issuecomment-688592557.

[2020-09-10 00:23] #3 closed, assigned to anermina

[2020-09-10 00:24] #4 closed, assigned to anermina

[2020-09-15 23:40] ronaldtse opened #13 "Convert SI brochure Appendix 3 French"
https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9-App3-FR.pdf

[2020-09-15 23:42] ronaldtse opened #14 "Convert SI brochure Appendix 2 documents in French"
https://www.bipm.org/fr/publications/mises-en-pratique/

We have English ones done but no French.

Please follow latest structure.

[2020-09-15 23:44] #2 closed, assigned to anermina

[2020-09-15 23:46] ronaldtse opened #15 "Split French Appendix 1 into individual meetings like the English one"
In `sources/sib-a1-fr.adoc` the single document should be split into multiple files just like the English one in `sources/sections-a1-en`.

[2020-09-15 23:47] ronaldtse opened #16 "Perform comparison between English and French documents to ensure their content structures are identical"
We need to ensure the content structure is identical between the two.

@manuel489 @anermina any of you do French? Thanks!

[2020-09-15 23:48] #1 closed, assigned to manuelfuenmayor, anermina

[2020-09-16 03:09] ronaldtse opened #17 "Restructure English Appendix 1 to utilize cgpm-resolutions"

[2020-09-16 20:14] #14 closed, assigned to anermina

[2020-09-16 20:14] #13 closed, assigned to anermina

[2020-09-16 22:07] #15 closed, assigned to anermina

[2020-09-16 23:24] #5 closed, assigned to manuelfuenmayor

[2020-09-20 22:48] anermina commented on #16
Documents have been compared and their structures match now. Changes have been made in #21 .

Additionally, I've noticed following differences between original documents:

1. Missing note in French version (section 5):

EN:
![image](https://user-images.githubusercontent.com/55683568/93719115-dd92ea00-fb80-11ea-896d-05cc6595e806.png)

FR:
![image](https://user-images.githubusercontent.com/55683568/

[2020-09-23 00:36] manuel489 commented on #17
@ronaldtse, question please:

Is it necessary that the format of the restructured appendix match exactly with the original one?

For example, by comparing the first resolution (and obviating the rendering errors, https://github.com/metanorma/metanorma-standoc/issues/346),

Original:
![res1-original](https://user-images.githubusercontent.com/33627611/93950753-57a6a880-fd12-11ea-802a-9ae099fc73b1.PN

[2020-09-23 01:14] ronaldtse commented on #17
Yes.

Yes.

Ignore them.

[2020-09-24 13:37] anermina commented on #10
@ronaldtse , could you please check my comment above and let me know whether any changes are required?

Notes are also missing in YAML files. Should they be added to the files from cgpm-resolutions repository?

[2020-09-24 14:05] ronaldtse commented on #10
@anermina I have sought clarification and will revert soon. Thanks!

[2020-09-24 14:29] ronaldtse commented on #16
Have sought clarification from BIPM and will revert here.

[2020-09-24 14:42] anermina commented on #10
And what I didn't report earlier because it seemed not to be relevant is that HTML contains more resolutions. When I started working with YAML files, I figured out it was important after all, since YAMLs contain all those resolutions. Some of them are in French, although this is an English version of the document, while some of them are in English, but just don't exist in Word version of the BIPM

[2020-09-25 13:11] anermina commented on #17
Besides from the fact that there are some additional resolutions in YAML (which are not included in Word), some of them are also missing. For example, there is no YAML file for CIPM 2001. YAML file for CIPM 2002 doesn't contain the content of Recommendation 1.

I recall some of the resolutions were missing in HTML (broken URLs). Probably this is the reason why they are also missing in YAML files.

[2020-09-25 17:53] ronaldtse commented on #10
Replies from BIPM:

4. Appendix 1. Representation of resolution titles differ between the Word and the HTML version.

Keep the style of the titles in the SI brochure as they are. There is no need that they look the same way as the titles of the resolutions on the web page on the CGPM (I suppose that is where you took the HTML version from). Previous versions of the SI brochure were printed on pape

[2020-09-25 17:54] ronaldtse commented on #16
From BIPM:

1. SI Brochure Section 5. The highlighted English note is missing in French.

The note in the English version explains a particularity of English grammar. It is not needed for the French text.

English:
![image001](https://user-images.githubusercontent.com/11865/94299704-9cdd0b80-ff9a-11ea-8498-447c00910f77.png)

French:
![image002](https://user-images.githubusercontent.com/11865/94299

[2020-09-30 17:10] ronaldtse commented on #17
@anermina Yes please!

I'm not sure what we should do with the Notes though, because they don't really belong to the resolution... maybe there could be an additional key for "additional notes added at {date}"?

[2020-10-05 20:17] anermina commented on #10
Thank you, @ronaldtse !

This is clear, but it opens a question whether we should also align YAML files with the printed version of the document. YAML files currently contain information from HTML (except from the notes). If we want to reproduce the same content as in Word/PDF using YAMLs, I believe changes need to be applied.

[2020-10-07 14:58] anermina commented on #17
@ronaldtse I added missing resolutions and recommendations, or missing parts of them. Notes aren't added yet.

Most of the notes are written in the following format:
![image](https://user-images.githubusercontent.com/55683568/95344821-55b81a00-08ba-11eb-83b8-97be6f9c8bc7.png)

However, we also have these:
![image](https://user-images.githubusercontent.com/55683568/95347441-2eaf1780-08bd-11eb-8267-

[2020-10-08 22:56] ronaldtse opened #24 "Review from BIPM to be addressed"
BIPM performed a review of the document and indicated the following issues to be fixed:

Page 3 :                “SI“ is missing at the end of the title

Page 4:                 ISBN number is missing

Page 5:                 wrong title “Résumé” instead of  “Le BIPM et la Convention du Mètre »
                               The list of member states in the margin begins too low and extends over t

[2020-10-08 22:58] ronaldtse commented on #24
Have sought clarification for this because the font seems identical.
<img width="1339" alt="Screen Shot 2020-10-09 at 6 50 56 AM" src="https://user-images.githubusercontent.com/11865/95521665-ac2d7180-09fc-11eb-8a30-d713c6a2fc01.png">

New file:
<img width="724" alt="image" src="https://user-images.githubusercontent.com/11865/95521718-cbc49a00-09fc-11eb-88ee-ff3e747e7b13.png">

Old file:
<img widt

[2020-10-09 14:52] Intelligent2013 commented on #24
### > Page 3 : “SI“ is missing at the end of the title

Fixed.

### > Page 4: ISBN number is missing

Source XML issue. ISBN should be determined in the `feedback-statement` element or in a separate element

[code]

### > Page 5: wrong title “Résumé” instead of “Le BIPM et la Convention du Mètre »

Source xml issue:

[code]

### > Page 5: The list of member states in the margin begins too low and

[2020-10-11 09:47] opoudjis commented on #24
I am updating @Intelligent2013 with the latest generated brochure source XML, but he was up to date already. I am removing the issues he has already deem resolved:

Page 3 : “SI“ is missing at the end of the title. **Possibly invalid**

Page 4: ISBN number is missing

[code]

Page 5: wrong title “Résumé” instead of “Le BIPM et la Convention du Mètre »

[code]

Page 8: blue-red percent symbols betw

[2020-10-11 10:07] Intelligent2013 commented on #24
Page 9: All decisions of Annex 1 are listed separately

@opoudjis In the source/original PDF, only `Annexe 4` has a sub-sectionss in ToC:

![изображение](https://user-images.githubusercontent.com/5559926/95675590-12fb8800-0bc1-11eb-9ee8-da70f3f79880.png)

In the source XML there isn't a difference in the structure of Annexe 1 and 4 and I can't determine in which case I should show sub-section in T

[2020-10-11 10:50] opoudjis commented on #24
I know why they have done this, because there is a separate ToC for Annexe 1, but this inconsistency is so inane, I would rather we just not give them subsections under either. Introducing markup in Metanorma to say "have n levels of subsections for the ToC for Annex 1, but m levels of subsections for the ToC for Annex 4" is something we should NOT be putting into documents. @ronaldtse I will  not

[2020-10-12 12:08] opoudjis commented on #24
https://github.com/metanorma/metanorma-standoc/issues/359

[2020-10-12 13:03] opoudjis commented on #24
This section has been marked up as an abstract, and Metanorma policy is that abstract titles must be supplied, else they are not actually abstracts. I decree that in this instance they are not actually abstracts, and will change markup to generic preface section.

[2020-10-13 11:36] opoudjis commented on #24
And indeed, the Metanorma document model does not provide for randomly putting an abbreviations section after appendixes, as BIPM has seen fit to do. In https://www.bipm.org/utils/common/documents/jcgm/JCGM_100_2008_E.pdf. the glossary is treated as a separate annex.

I am not changing the document model of Metanorma and its 15 SDOs to indulge an exception that the BIPM does not even maintain cons

[2020-10-13 11:50] ronaldtse commented on #24
It may be easier to encode it properly as a table of contents section.

[2020-10-13 11:54] opoudjis commented on #24
Since it is not a table of contents section that is missing the Annex label but an abbreviations section, that is irrelevant.

[2020-10-13 13:13] opoudjis commented on #24
They mean indent.

Metanorma uses semantic markup. It does not support indent. Metanorma is not Microsoft Word, to support random semantically ill-defined formatting, nor shall it become so.

Indentation is justified by blockquote, which this is not, or by lists, which this is also not, or by types of admonition, which this is not.

Unless BIPM can provide a principled semantic semantic justificat

[2020-10-13 13:18] opoudjis commented on #24
Was correct in English text; fixed in French text.

[2020-10-13 13:21] opoudjis commented on #24
Was correct in English text; fixed in French text.

[2020-10-13 13:53] opoudjis commented on #24
Page 17 issue with table marginal note has been addressed.

[2020-10-13 14:00] opoudjis commented on #24
So, of the comments made by BIPM, we are currently declining to fix the following:

The fonts are identical to the fonts in the source PDF.

Alex cannot see this in his PDF.

Having tables of contents have different depths for different annexes is beyond the capability of Word, and we assume that BIPM are only achieving it by stitching together different Word documents. And while Annex 1 has its o

[2020-10-13 14:39] opoudjis commented on #24
@ronaldtse is querying the necessity for a configurable ToC depth on clauses.

[2020-10-13 14:51] ronaldtse commented on #24
@Intelligent2013 once the issues are all done can you help provide the latest PDFs? Thanks.

[2020-10-13 23:14] manuel489 commented on #24
Ok, I'm checking the PDF files provided by @Intelligent2013.
I'll be publishing any possible issue in separate tickets.

[2020-10-14 00:11] manuel489 commented on #24
@opoudjis I partially agree with your statement. But I think I understand the why BIPM made that comment. Maybe the problem comes form the PDF viewer software. I'm using Acrobat Reader and the this is how it looks in some parts:

![issueFont2](https://user-images.githubusercontent.com/33627611/95928152-a504bb80-0d8e-11eb-9c34-f5fdeb04c42d.png)
(*left: original , right: generated*)

In the red squa

[2020-10-14 00:27] opoudjis commented on #24
Right. The math expressions are going to be vulnerable to the different maths rendering engines that their PDF and our PDF have used.

[2020-10-14 00:32] opoudjis commented on #24
@Intelligent2013 There's a lot of issues with keep-with-next, and they can be addressed in markup, for anything that's not a header; but headers need keep-with-next too, and I don't see that being observed in the Annex.

[2020-10-14 00:48] #10 closed

[2020-10-14 01:42] manuel489 opened #26 "Dash too large in unordered list items"
*From https://github.com/metanorma/bipm-si-brochure/issues/24*

In second level of unordered list, the dashes look exaggerated compared with the original version.

*Generated*
![issue12-generated](https://user-images.githubusercontent.com/33627611/95933511-beacff80-0d9c-11eb-94be-3994fe578ae2.PNG)

*Original*
![issue12-original](https://user-images.githubusercontent.com/33627611/95933492-b3f26a80-

[2020-10-14 15:12] Intelligent2013 commented on #26
Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/96008956-c2965b80-0e48-11eb-8659-8db28a76b419.png)

[2020-10-14 20:22] Intelligent2013 opened #28 "BIPM xslt: keep-with-next for headers"
From opoudjis https://github.com/metanorma/bipm-si-brochure/issues/24#issuecomment-708082881:

Example (Resolution X is 4th-level title):
![изображение](https://user-images.githubusercontent.com/5559926/96040720-6dbc0a80-0e73-11eb-8f26-640cb8cf8b20.png)

I hoped that
[code]
solve this issue, but it's not working. Looks like it's not working when right column is row spanned.

Need to find a workaro

[2020-10-15 00:40] opoudjis commented on #24
@ronaldtse You make the strategic call: my suggestion is that we may fix formatting to be perfect match, as with the minor issues @manuel489 raises, but that it should not be priority, given how much there is to do in general. The idiosyncrasies of BIPM in general are going to be onerous to maintain anyway, and need to be strategically resolved; spacing and size, by contrast, are easy fixes.

[2020-10-15 14:30] Intelligent2013 opened #29 "BIPM xslt: don't show Appendix subsections in ToC"

[2020-10-15 14:39] ronaldtse commented on #24
I agree. Let's see how far @Intelligent2013 can push.

[2020-10-15 14:51] Intelligent2013 commented on #24
@manuel489 FYI

Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/96146364-e1f7bc00-0f0e-11eb-9ebe-cd474790799d.png)

[2020-10-16 18:34] Intelligent2013 commented on #29
Done.
![изображение](https://user-images.githubusercontent.com/5559926/96296082-61f95100-0ff7-11eb-8417-44e22ff59bad.png)

[2020-10-16 18:34] #29 closed

[2020-10-16 18:37] Intelligent2013 commented on #28
Fixed.
Example:
![изображение](https://user-images.githubusercontent.com/5559926/96296302-bc92ad00-0ff7-11eb-9771-2b3ba69ddc52.png)

[2020-10-16 18:37] #28 closed

[2020-10-16 18:44] #26 closed

[2020-10-18 15:03] ronaldtse opened #30 "BIPM and Manuel: Odd display of math font in Acrobat Reader"
@opoudjis I partially agree with your statement. But I think I understand the why BIPM made that comment. Maybe the problem comes form the PDF viewer software. I'm using Acrobat Reader and this is how it looks in some parts:

![issueFont2](https://user-images.githubusercontent.com/33627611/95928152-a504bb80-0d8e-11eb-9c34-f5fdeb04c42d.png)
(*left: original , right: generated*)

In the red square a

[2020-10-18 15:04] ronaldtse commented on #24
So the remaining issues are:
* Vertical gap caused by notes positioning in metanorma/mn-native-pdf#268
* Odd display of math font in Acrobat Reader #30

[2020-10-23 18:31] Intelligent2013 commented on #24
In Appendix 1 (SI-Brochure-9.pdf) there is a difference between list styles `a)` vs `(a)`:
in French (page 73), see a) as list label in the text body:
![изображение](https://user-images.githubusercontent.com/5559926/97039754-95972680-1575-11eb-8ded-652a81220a5f.png)

in English (page 181), see (a) as list label in the text body:
![изображение](https://user-images.githubusercontent.com/5559926/9703

[2020-10-23 18:32] ronaldtse commented on #24
Thanks @Intelligent2013 , I have sought BIPM for clarification as described here: https://github.com/metanorma/metanorma-bipm/issues/32#issuecomment-715504754

[2020-10-27 12:12] Intelligent2013 opened #38 "BIPM brochure: break in list"
In https://github.com/metanorma/bipm-si-brochure/blob/master/sources/sections-a1-en/04-cipm-1946.adoc (and in fr part also) `[upperalpha]` list breaks into two:

[code]

In the resulted PDF it renders as:
![изображение](https://user-images.githubusercontent.com/5559926/97299609-421f2400-1866-11eb-8976-baaa26ac14e5.png)

But second should be `B` as in source PDF:

![изображение](https://user-images

[2020-10-29 09:29] manuel489 commented on #38
Thanks @Intelligent2013! Fxed in https://github.com/metanorma/bipm-si-brochure/commit/8c668403329d6444145cef00db194fa7cf387ff7. Closing.

[2020-10-29 09:29] #38 closed

[2020-10-30 14:28] ronaldtse opened #39 "French SI Brochure feedback from BIPM (full, and may need to fix English)"
There are nearly 200 comments. I will post them in separate issues, linked from here. We will need to fix all of these issues and also fix the English counterpart if the issues exist there, too.

1. https://github.com/metanorma/bipm-si-brochure/issues/40
2. https://github.com/metanorma/bipm-si-brochure/issues/41
3. https://github.com/metanorma/bipm-si-brochure/issues/42
4. https://github.com/metan

[2020-10-30 14:28] ronaldtse opened #40 "French SI Brochure feedback from BIPM (pages 4-20)"
page | comment
-- | --
4 | Instead of "La Brochure sur le SI", the text starts with "Ce document"
4 | the accents of the French words are all at wrong places: too high, too much on the left
4 | In the postal address at the bottom "Sèvres Cedex" should be on one line
6 | Bullet point 6: gamma and alpha should not be in italics
9 | Possible to bring item 5.4.8 to the previous page?
9 | Include the i

[2020-10-30 14:29] ronaldtse opened #41 "French SI Brochure feedback from BIPM (pages 21-40)"
page | comment
-- | --
21 | first equation: wrong grouping of decimals after the comma: 6,022 140 76.
21 | second paragraph after 1. equation: "M" needs always to be initalics
21 | 2. equation: the 12 in 12C needs to be a superscript, not a subscript; C not in italics
21 | below 3. equation: an opening parenthesis is missing in M(12C)
22 | definition of candela: 2nd last line it should read m-2,no

[2020-10-30 14:30] ronaldtse opened #42 "French SI Brochure feedback from BIPM (pages 41-60)"
page | comment
-- | --
41 | Wrong title. Replace "Le Système international d’unités Table des matières" by "Table des matières de l’annexe 1"
41 | Entry for CIPM 1969: bad linebreak in second line
41 | Entry for 23rd CGPM 2007:bad line break
42 | Wrong title, remove
43 | Wrong title, remove
43 | Entry for CIPM 1946 : bad line break
43 | Entry for CIPM 1988 : bad line break
43 | 9th CGPM 1948: bad

[2020-10-30 14:30] ronaldtse opened #43 "French SI Brochure feedback from BIPM (pages 61-80)"
page | comment
-- | --
61 | side note: "IAU Trans." in italics
61 | last side note: wrong reference, should be Page 61 (the same page)
63 | Resolutions 8 and 9: replace "remarque" par "note"
63 | Resolutio 10: change "remarque" to a side note
63 | Resolution 3: no text in bold
63 | Resolution 3: side notes (1)and (2) no line break between value and unit.
67 | 2nd line: isolated » at beginning of l

[2020-10-30 14:31] ronaldtse opened #44 "French SI Brochure feedback from BIPM (pages 82-104-Index)"
page | comment
-- | --
82 | 2nd bullet point in first list: replace "mètre" by "mètres"
82 | use comma as decimal separator for all  numbers
83 | 3rd bullet point from bottom: pi not in italics
83 | last bullet point from bottom : M in M(12C) in italics
82 | CIPM 2013: isolated » at beginning of line
85 | 1st bullet point following "recommande": change to 6s2  1S0  –  6s  6p  3P0
85 | 2nd bullet p

[2020-10-30 18:20] Intelligent2013 commented on #40
page | comment | to fix
-- | -- | --
4 | Instead of "La Brochure sur le SI", the text starts with "Ce document" | adoc
4 | the accents of the French words are all at wrong places: too high, too much on the left | xslt
4 | In the postal address at the bottom "Sèvres Cedex" should be on one line | adoc
6 | Bullet point 6: gamma and alpha should not be in italics | adoc
9 | Possible to bring item 5.4

[2020-10-30 18:48] Intelligent2013 commented on #41
page | comment | to fix
-- | -- | --
21 | first equation: wrong grouping of decimals after the comma: 6,022 140 76. | adoc
21 | second paragraph after 1. equation: "M" needs always to be initalics | adoc
21 | 2. equation: the 12 in 12C needs to be a superscript, not a subscript; C not in italics | adoc
21 | below 3. equation: an opening parenthesis is missing in M(12C) | adoc
22 | definition of ca

[2020-10-31 08:12] Intelligent2013 commented on #42
page | comment | to fix
-- | -- | --
41 | Wrong title. Replace "Le Système international d’unités Table des matières" by "Table des matières de l’annexe 1" | adoc
41 | Entry for CIPM 1969: bad linebreak in second line | adoc
41 | Entry for 23rd CGPM 2007:bad line break | adoc
42 | Wrong title, remove | adoc+xslt
43 | Wrong title, remove | adoc+xslt
43 | Entry for CIPM 1946 : bad line break | adoc

[2020-10-31 08:20] Intelligent2013 commented on #43
page | comment | to fix
-- | -- | --
61 | side note: "IAU Trans." in italics | adoc
61 | last side note: wrong reference, should be Page 61 (the same page) | adoc
63 | Resolutions 8 and 9: replace "remarque" par "note" | xslt
63 | Resolutio 10: change "remarque" to a side note | adoc
63 | Resolution 3: no text in bold | adoc
63 | Resolution 3: side notes (1)and (2) no line break between value and

[2020-10-31 08:28] Intelligent2013 commented on #44
page | comment | to fix
-- | -- | --
82 | 2nd bullet point in first list: replace "mètre" by "mètres | adoc
82 | use comma as decimal separator for all  numbers | adoc
83 | 3rd bullet point from bottom: pi not in italics | adoc
83 | last bullet point from bottom : M in M(12C) in italics | adoc
82 | CIPM 2013: isolated » at beginning of line | adoc
85 | 1st bullet point following "recommande": chan

[2020-10-31 12:42] opoudjis commented on #40
rb:

Not that BIPM have said this explicitly (and BIPM _must_ learn that they need to!!), but it appears that instead of using "Article" for clause references, BIPM uses "Chapître/Chapter" for first level clause references, and "Section" for subclauses.

[2020-10-31 12:45] opoudjis commented on #41
For rb, see #40

[2020-10-31 14:07] Intelligent2013 commented on #44
Regarding issue

page | comment | to fix
-- | -- | --
88 | two bullet points following "recommande": "Les valeurs" too far on the left | adoc or xslt

In the  document there are a few definition lists (`dl`) in list items:

### Resulted PDF:
![изображение](https://user-images.githubusercontent.com/5559926/97781081-0227ac00-1b9a-11eb-906f-05b666a2d3a5.png)

### Source PDF:
![изображение](https://us

[2020-10-31 14:10] Intelligent2013 commented on #39
Resulted PDF (26 Oct):
[collection.presentation_fr.pdf](https://github.com/metanorma/bipm-si-brochure/files/5469207/collection.presentation_fr.pdf)

[2020-10-31 18:03] Intelligent2013 commented on #40
@opoudjis  @manuel489 Please note that I've reassigned these issues to `adoc` and `rb`:

page | comment | to fix
-- | -- | --
4 | the accents of the French words are all at wrong places: too high, too much on the left | ~xslt~ adoc rb
10 | In the title the accents on "à" and "édition" seem to be placed too high | ~xslt~ adoc rb

It's a bug in FOP: https://issues.apache.org/jira/browse/FOP-2969

In

[2020-10-31 18:22] manuel489 commented on #41
I understand that this is suposed to be handled automatically (and not by markup).

All three fixed.

This is a rendering issue. Not fixable by markup.

Fixed

Ok, I believe that `« »` are quotation marks, right? So, in order to avoid the issue, I've removed the white space between quotation marks and their adjacent words.

Fixed.

This is not fixable by markup. @opoudjis?

This a rendering isssue

[2020-10-31 18:23] manuel489 commented on #41
The fixes are in PR https://github.com/metanorma/bipm-si-brochure/pull/45

[2020-10-31 18:39] Intelligent2013 commented on #41
Regarding ` isolated » on new line` issues.
I think we should not remove space between `double angle quotation` and text.

Source renders with spaces:
![изображение](https://user-images.githubusercontent.com/5559926/97787071-ea175300-1bc0-11eb-8716-67cdec6a8128.png)

I think that would be bettet to replace space to non-break space character (hex A0).

[2020-10-31 19:32] manuel489 commented on #41
Thanks @Intelligent2013! I take your suggestion. Changes applied.

[2020-11-01 04:47] opoudjis commented on #44
I reject the notion of centering dl's: Metanorma is not Word, and is not going to support open-ended free formatting. In any case, what is happening here is not a centered dl, it is a dl nested within a list entry, so:

[code]

Won't an embedded `ul/li/dl` take care of this?

[2020-11-01 09:13] opoudjis commented on #41
@manuel489

That's a nightmare scenario, but we do provide for it under collections. The problem is that this is going to force a massive unwelcome change to how we process crossreferences between documents.

To reference another document in a collection, use:

`* [[[english-doc,repo:(current-metanorma-collection/si-brochure-en)]]]`

and

`<<english-doc,anchor=id>>`

I think this will break. Do it

[2020-11-01 09:30] opoudjis commented on #41
@Intelligent2013 bringing you in here.

The XML here is:

`<stem type="MathML"><math xmlns="http://www.w3.org/1998/Math/MathML"><mn>2</mn><mi>π</mi><mtext> rad</mtext></math></stem>`

Now, the MathML spec explicitly says that Greek constants like pi must be marked up as mi, not mn: https://www.w3.org/TR/MathML3/chapter3.html#presm.mi . The problem is, MathJax, and clearly Euclid, are blanket rende

[2020-11-01 09:43] opoudjis commented on #40
Wow! Yes, although Unicode processing should be dealing with that, this is indeed a problem. @manuel489 You are already editing the documents; can you fix this, or do you need me to?

[2020-11-01 09:46] opoudjis commented on #41
Flabbergastingly, the MathJax TeX font, which is the default font MathJax uses, has no support for upright lowercase Greek characters at all: a non-italic pi is impossible within MathJax even with the "mathvariant" override attribute (which I really do not want to use). We would have to shift to STIX-Web font to display any upright Greek fonts at all.

[2020-11-01 09:50] Intelligent2013 commented on #44
In this case it's enough.
But there is case with similar markup:

[code]

And it shows in source PDF without indent:
![изображение](https://user-images.githubusercontent.com/5559926/97799541-e8d93b00-1c3f-11eb-98f8-d6238cf1b1e1.png)

@ronaldtse It's ok if we'll show it with indents? :
![изображение](https://user-images.githubusercontent.com/5559926/97799655-6ef58180-1c40-11eb-8994-f629f3379fc7.png

[2020-11-01 10:16] opoudjis commented on #41
mathvariant is working in HTML if I change the MathJax font to STIX. @Intelligent2013 is investigating whether it is respected in jEuclid. If it is, I will need to postprocess the MathML to make it behave as expected in French mathematical typesetting. If it is not, our answer has to be that we do not support French mathematical typesetting.

[2020-11-01 10:18] opoudjis commented on #44
Or alternatively, don't treat it as a definition list at all: they haven't...

[2020-11-01 10:21] opoudjis commented on #40
Actually, don't worry: I'm going to apply Unicode Normalisation to the XML generation in standoc. @Intelligent2013 I will need you to confirm that it has worked. @manuel489  don't touch anything.

[2020-11-01 10:31] opoudjis commented on #40
Turns out, it is any French text *I* have entered, in Mac Terminal: Mac Terminal is entering decomposed Unicode text. So that applies to the YAML tables and to the boilerplate. I will introduce normalisation anyway, since this can happen at any stage.

[2020-11-01 11:31] Intelligent2013 commented on #41
I've checked `mathvariant` attribute and it is working in jEuclid, here is resulted PDF:
![изображение](https://user-images.githubusercontent.com/5559926/97801287-a2d6a400-1c4c-11eb-83df-e694a873378c.png)

jEuclid set mathvariant style for `mi` tag (from jeuclid-core\src\main\java\net\sourceforge\jeuclid\elements\presentation\token\Mi.java) depends on text length:
[code]

Regarding https://www.w3.

[2020-11-01 12:08] opoudjis commented on #41
Ok. This becomes new ticket: https://github.com/metanorma/metanorma-standoc/issues/367

[2020-11-01 13:50] Intelligent2013 commented on #41
Regarding issue:
page | comment
-- | --
22 | ... Negative and positive exponents are not at the same height

![изображение](https://user-images.githubusercontent.com/5559926/97804173-226d6e80-1c5f-11eb-9078-f4932c6e0edf.png)

The reason of misaligment between `-2` and `-1` is the max height of previous chars - `k` has a more height than other chars `g s r`, therefore `-1` shows a bit higher.
I've

[2020-11-01 14:14] opoudjis commented on #41
Um...

... That solution does such violence to the MathML, I would much rather we refuse to implement it at all. Whatever @ronaldtse has planned for UnitsML, it will decidedly not permit this kind of rearrangement of text: units will be treated as semantically meaningful elements.

[2020-11-01 14:35] opoudjis commented on #41
This *could* be addressed by adding an `msup/@superscriptshift` attribute, forcing the same minimum height on all superscripts. But good luck in guessing what that might be.

So this does work:

`<math><mrow><mtext>cd sr </mtext><msup superscriptshift="4pt"><mrow><mi>kg</mi></mrow><mrow><mo>−</mo><mn>1</mn></mrow></msup><msup superscriptshift="4pt"><mi mathvariant="normal">m</mi><mrow><mo>−</mo><m

[2020-11-01 15:16] manuel489 commented on #42
Fixed.

This happens because of the presence of a explicit linebreak in the markup.
All of them are now removed in ToC. Fixed.

Not a markup issue (I think).

Fixed. (All explicit linebreaks are removed in ToC.)

All fixed.

Not a markup issue.

Not understading neither.

The note block was misplaced. Fixed.

This is suposed to be hadled automatically. Fixed.

[2020-11-01 15:16] manuel489 commented on #42
The fixes are in https://github.com/metanorma/bipm-si-brochure/pull/45

[2020-11-01 19:04] manuel489 commented on #43
All fixed.

I have moved the note to a footnote inside the table:

[code]

Same as above.
Relocate note block position to a footnote inside the table. Fixed.

Suposed to be done automatically.

Not fixable by markup.

@Intelligent2013, I believe this is a problem of cross-reference definition.

[code]

I've redifined `<<ccds-tai-definition>>` as `<<ccds-tai-definition_s2,Recommandation S 2>>` whic

[2020-11-02 00:21] opoudjis commented on #43
This is doing my head in. :-)

If the same input looks ok in HTML and not PDF, that indicates that jEuclid is having trouble with the existing MathML. So I will need input from @Intelligent2013. But although all our lives would be easier avoiding AsciiMath/MathML for these expressions, that is not the direction we are going. So waiting for feedback from Alex on this.

[2020-11-02 10:41] Intelligent2013 commented on #43
Regarding the first case:

In resulted PDF I see:

![изображение](https://user-images.githubusercontent.com/5559926/97856218-0fb17300-1d0d-11eb-8533-b33183891ee4.png)

Specified location:
![изображение](https://user-images.githubusercontent.com/5559926/97856357-37a0d680-1d0d-11eb-927c-0a9dbb7dfb2c.png)

Source xml:
[code]

As I undestood, jEuclid can't display superscripted 2 if previous char is n

[2020-11-02 12:18] opoudjis commented on #43
Again, semantics is preventing this: (<sup>2</sup>S<sub>1/2</sub>) is a single thing.

Our problem is that we're abusing MathML to encode chemical symbols, and while I'm getting away with it in MathJax, you're not in jEuclid.

Manipulating the MathML in the general case looks tricky: presumably, it's going to be something like:

... sorry, @Intelligent2013, I'm writing this in Nokogiri, because XS

[2020-11-02 12:26] Intelligent2013 commented on #42
Regarding issues:
page | comment | to fix
-- | -- | --
42 | Wrong title, remove | adoc+xslt

The header `Décisions concernant l’établissement du SI page` repeats on each page:

![изображение](https://user-images.githubusercontent.com/5559926/97867306-a9cde700-1d1e-11eb-92ad-d7d5a8c12cd3.png)

because it is part of table header.

To repeat 'Page' only  on each page I propose to move  `Décisions con

[2020-11-02 12:47] opoudjis commented on #24
Issue resolved.

Vertical gap caused by notes positioning in metanorma/mn-native-pdf#268: resolved.

https://github.com/metanorma/bipm-si-brochure/issues/30: open but unassigned. No reason to keep this issue open.

[2020-11-02 18:48] Intelligent2013 commented on #43
I've tried all kind of spaces in `<mtext>` and no success. jEuclid can't evaluate the height of preceding space and therefore put superscripted text on the baseline. BUT I've found a workaround solution - replace `mtext` to `mspace` like this:
- `<mtext> </mtext>` -> `<mspace width="0.5ex" height="1ex"/>`
- `<mtext/>` -> `<mspace height="1ex"/>`

In this case the resulted PDF is:
![изображение](ht

[2020-11-02 19:49] anermina commented on #40
These are not part of adoc file. This appears on the page right after the front page. @opoudjis?

We can fix this by applying some other font, such as `sf alpha` , `sf gamma` and `sf pi`. @ronaldtse would that be fine?
I didn't apply this yet since we also have a reverse case when italics are needed, but we don't have this kind of option, since something like `cc Omega` would produce the same resu

[2020-11-02 20:13] manuel489 commented on #44
All fixed.

I have put "Annexe 1", "Annexe 2" and "Annexe 3" explicitly in the corresponding section titles.

Added "Partie 1" in title. Fixed.

Not fixable by markup.

I believe these are suposed to be handled automatically.

These cases are rendering well in HTML but not in PDF. @Intelligent2013?

In HTML renders fine, but not in PDF. @Intelligent2013?

I believe this refers to the lack of an al

[2020-11-02 20:13] manuel489 commented on #44
Fixes are in https://github.com/metanorma/bipm-si-brochure/pull/45

[2020-11-03 10:11] Intelligent2013 commented on #43
Issue with the preceding superscripted text fixed in https://github.com/metanorma/mn-native-pdf/commit/8bcd0344d6b39f5542ac7c82d34a020d313a1003.

Updated equations looks ok:
[si-brochure-fr.presentation.mtext.pdf](https://github.com/metanorma/bipm-si-brochure/files/5480493/si-brochure-fr.presentation.mtext.pdf)

[2020-11-03 13:27] opoudjis commented on #40
That is deliberate by me, and I strongly urge us not to fix this. The boilerplate we are including in our generated documents is not intended just for the single document of the SI Brochure, but for all documents produced by BIPM. We cannot just insert the title of the document, because in French we don't know what the gender of the document title is (_La_ brochure, but _le_ rapport). And frankly,

[2020-11-03 13:29] opoudjis commented on #40
@anermina @manuel489 the italicisation of mathematical symbols will be addressed in https://github.com/metanorma/metanorma-standoc/issues/367

[2020-11-04 14:37] ronaldtse commented on #24
This issue will be kept open until BIPM reviews the results. @opoudjis says we will have them prepared by 2020-11-09.

[2020-11-05 11:14] Intelligent2013 commented on #30
I've made some experiments with fonts. Results:
1. some glyphs in font STIX2Math look a bit thicker than Times New Roman (compare char `S` below).
2. jEuclid converts MathML into SVG paths (not text), therefore resulted SVG image in PDF looks thicker.
Here is discussed why jEuclid converts text to path: https://sourceforge.net/p/jeuclid/mailman/message/21997700/
[code]
3. Math equations in _source

[2020-11-05 13:42] manuel489 commented on #41
@opoudjis , problem is, there is no bibliography section in original document. I would need to create one.  Should I do so?

[2020-11-08 13:34] Intelligent2013 commented on #41
Issue:
page | comment
-- | --
22 | ... Negative and positive exponents are not at the same height

fixed.

Before:
![изображение](https://user-images.githubusercontent.com/5559926/97804173-226d6e80-1c5f-11eb-9078-f4932c6e0edf.png)

After:
![изображение](https://user-images.githubusercontent.com/5559926/98466381-33c6f580-21e0-11eb-88e0-915325b9cd3b.png)

[2020-11-09 10:25] opoudjis commented on #24
Updated PDF:

[collection.pdf](https://github.com/metanorma/bipm-si-brochure/files/5509723/collection.pdf)

[2020-11-09 10:26] opoudjis commented on #39
Updated PDF: https://github.com/metanorma/bipm-si-brochure/issues/24#issuecomment-723920534

[2020-11-09 10:28] opoudjis commented on #40
Updated PDF: https://github.com/metanorma/bipm-si-brochure/issues/24#issuecomment-723920534

[2020-11-09 18:05] ronaldtse opened #46 "Get the rec-values documents actually compiling"
1. Unify titles and parts designation. What are the part numbers?
2. Are these MEPs? I think so.

[2020-11-10 18:50] anermina commented on #24
Please don't submit the generated file to BIPM yet. I've noticed some issues and will report them as soon as I finish re-checking the document.

[2020-11-10 23:09] anermina opened #47 "BIPM SI brochure (French): review"
------------------------
Issues:
------------------------

1. Stem expressions are not generated at all. The first example is shown in the following captures, where alpha and gamma are missing.

Original:
![image](https://user-images.githubusercontent.com/55683568/98718074-3c5d2e80-238e-11eb-8891-6cd843810546.png)

Generated:
![image](https://user-images.githubusercontent.com/55683568/98718112-484

[2020-11-10 23:21] anermina commented on #24
I opened a new issue https://github.com/metanorma/bipm-si-brochure/issues/47 to address the noticed differences for French part of the brochure.  @opoudjis @Intelligent2013 @ronaldtse @manuel489 , please check. Thank you!

[2020-11-11 02:24] manuel489 commented on #47
Confirmed. I'm getting this result on generated PDF.

I agree, in my view, it should be italicized.

This happens because the text is enclosed in  an example block. I believe we would have to change it to a note block in order to place it at the right margin. But we need confirmation for that. @ronaldtse?

In my view, this is clearly a bug.

[2020-11-11 07:30] Intelligent2013 commented on #47
In Acrobat Reader there is an error after a few seconds after I opened PDF:
![изображение](https://user-images.githubusercontent.com/5559926/98781989-4a4f9580-2408-11eb-8c98-a842a12844bc.png)

PDF is corrupted. @opoudjis  could you attach a log of mn2pdf processing, please?

[2020-11-14 04:47] opoudjis commented on #41
Do so for now. I will have to implement code to remove it from ultimate rendering, and this is an issue for ISO 10303 as well, but the reference needs to be in there before we can process the reference at all.

[2020-11-14 19:40] manuel489 commented on #41
Changes pushed to master branch directly.

[2020-11-16 02:24] opoudjis commented on #41
https://github.com/metanorma/metanorma/issues/146 will address removing (hiding) those internal bibliographic entries.

[2020-11-16 08:49] ronaldtse opened #49 "Problem with Relaton-BIPM"
I'm getting this error with this:

[code]

Error:
[code]

These seem to work:
[code]

I believe this is due to the keywords in "BIPM {...}". Maybe Relaton BIPM needs to be more robust.

Ping @andrew2net for help. Thanks!

[2020-11-16 16:24] ronaldtse opened #50 "BIPM feedback on MEP Kilogram"
We need to update the MEP Kilogram to the latest 2020-08-04 version.

From BIPM:

Location  | Issue
-- | --
Title page | replace "9 édition 2020" by "9 édition 2019"
Title page | change date from 20 May 2020 to 04 August 2020
3 | replace "9th edition 2020" by "9th edition 2019"
3 | change date at bottom from 20 May 2020 to 04 August 2020
5 | first line:  link to reference should be [1]
5 | definit

[2020-11-16 16:27] ronaldtse opened #51 "BIPM feedback on MEP Metre"
Location | Issue
-- | --
Titlepage | wrong date: should be 20 May 2019
3 | wrong date: should be 20 May 2019
5 | reference to SI brochure shall be a number
5 | text of definition not easily distinguisable from surrounding text: bold font
6 | duplication of page 5, delete
7 | paragraph below equation 1: l in italics
  | replace "clause" by "section" throughout the document
  | Note: µ not in italic

[2020-11-16 16:28] ronaldtse opened #52 "BIPM feedback on MEP Mole"
Location | Issue
-- | --
5 | first paragraph: replace reference to SI brochure by number, also throught the text
  | text of the definition not clearly distinguished from surrounding text: use bold font
  | definition: replace comma in numerical value by dot
  | definition: group decimals of numerical value by three
  | replace "Clause" by "Section", throughout the document
6 | Equation 3: 28Si
 

[2020-11-16 16:29] ronaldtse opened #53 "BIPM feedback on MEP Kelvin"
Location | Issue
-- | --
Titlepage | wrong date at bottom: 20 May 2019
3 | wrong date at bottom: 20 May 2019
4 | the words with hyperlinks are not identified, throughout whole document
5 | definition of the kelvin is not easily distinguishing from surrounding text: bold font
  | definition of the kelvin: wrong numerical value: 1.380 649 x 10-23
  | replace decimal comma by dot
  | group decimals b

[2020-11-16 16:44] ronaldtse opened #54 "Formatting of values (as italics) vs units (as upright)"
From BIPM:

Is it possible to textually encode some text in `stem:[_v_ "ms"^{-2}]` blocks so that the `_v_` bit becomes italic?

[2020-11-16 22:39] andrew2net commented on #49
@ronaldtse it's due to break space in `SI Brochure`. We can change the code to replace the space with a dash.

[2020-11-16 22:56] andrew2net commented on #49
This issue is fixed in relaton-bipm v 1.6.1

[2020-11-16 22:56] #49 closed

[2020-11-17 03:58] ronaldtse commented on #49
Thanks @andrew2net !

[2020-11-17 03:59] ronaldtse commented on #49
@andrew2net can you also ensure that Relaton doesn't crash when the input cannot be found ? It should always fail gracefully (e.g. "NotFound error").

[2020-11-17 05:19] ronaldtse commented on #47
Ping @opoudjis

[2020-11-17 06:09] opoudjis commented on #54
This is what we hoped to have the Ascii-based units formatting language address, but I guess we're not going to wait for that.

Your requirement is backwards: it is the upright, not the italics, which is the exception. I doubt this can be done directly at all, and what will be necessary is some ad hoc postprocessing, where formatting is passed through in the AsciiMath parse, and then processed bef

[2020-11-17 12:46] opoudjis commented on #42
I don't have an objection. I mean, I have an blanket objection to BIPM's formatting, but not specifically to this. :-)

[2020-11-17 12:51] opoudjis commented on #44
Yes, and I got bad news for you.

Yes, we can add index markup to Metanorma: we have done it for IETF. I would not want to be @Intelligent2013 implementing it, and I'd be assiduously avoiding implementing it myself. And index generation is going to be a horrific amount of markup for you to do.

@ronaldtse I'd like for you to confirm that indexing is a requirement, and it's not going to be quick if

[2020-11-17 13:54] opoudjis commented on #43
@Intelligent2013 The proper solution in MathML, I have found, is to use `<mphantom/>` instead of `<mtext/>`, and I may end up replacing  `<mtext/>` or  `<mtext> </mtext>` with `<mphantom/>` in postprocessing. In case I do, could you ensure that mphantom is also processed like mspace in the PDF?

[2020-11-17 14:12] ronaldtse commented on #44
@opoudjis Yes, the index is a requirement. We've been avoiding it for quite some time and this seems like a good time to introduce this. I assume the index will be included in Presentational XML.

[2020-11-17 14:17] opoudjis commented on #47
OK:

The Stem rendering issue has been resolved, although I'm not happy with how we ended up resolving it—by having to upgrade Java. We are including STIX in fontist, and that may be a smoother resolution of this issue. I have regenerated the PDF, and @Intelligent2013 confirms he is not getting the errors in opening the PDF.

I am attaching the latest compilation of the PDF.

[collection.pdf](http

[2020-11-17 14:18] manuel489 commented on #53
Working on this one...

[2020-11-17 14:20] opoudjis commented on #47
"2." The intention is that chapître refers to clauses (e.g. Chapître 5), and section to subclauses (e.g. section 2.3.6). If that isn't happening, that's a bug on my side.

[2020-11-17 14:24] opoudjis commented on #44
... Gee. Thanks.

Presumably it will be realised in Presentation XML as the page-only cross-references we have already been bludgeoned by BIPM into producing.

[2020-11-17 15:03] manuel489 commented on #53
Generated PDF reviewed by BIPM:  [mep-kelvin-definition-en.presentation.pdf](https://github.com/metanorma/bipm-si-brochure/files/5554267/mep-kelvin-definition-en.presentation.pdf)

[2020-11-17 15:04] manuel489 commented on #52
Generated PDF reviewed by BIPM: [mep-mole-definition-en.presentation.pdf](https://github.com/metanorma/bipm-si-brochure/files/5554273/mep-mole-definition-en.presentation.pdf)

[2020-11-17 15:05] manuel489 commented on #51
Generated PDF reviewed by BIPM: [mep-metre-definition-en.presentation.pdf](https://github.com/metanorma/bipm-si-brochure/files/5554279/mep-metre-definition-en.presentation.pdf)

[2020-11-17 15:06] manuel489 commented on #50
Generated PDF reviewed by BIPM: [mep-kilogram-definition-en.presentation.pdf](https://github.com/metanorma/bipm-si-brochure/files/5554293/mep-kilogram-definition-en.presentation.pdf)

[2020-11-17 17:33] anermina commented on #52
Markup fixes are applied in #55 .

Pinging @opoudjis for:

Pinging @Intelligent2013 for the following:

These were apparently solved in the meanwhile:

[2020-11-17 17:42] manuel489 commented on #50
Working on it...

[2020-11-17 18:03] manuel489 commented on #53
All markup-related issues are fixed in https://github.com/metanorma/bipm-si-brochure/pull/55

Except the ones that are not markup related:

Location | Issue
-- | --
4 | the words with hyperlinks are not identified, throughout whole document
5 | definition of the kelvin is not easily distinguishing from surrounding text: bold font
  | 5th paragraph below definition: µ not in italics
  | 6th paragra

[2020-11-17 18:04] manuel489 commented on #53
@opoudjis , I believe this one is your area? I have opened a ticket in https://github.com/metanorma/metanorma-bipm/issues/68

[2020-11-17 19:25] Intelligent2013 commented on #43
@opoudjis Empty `mphantom` doesn't processing at all in jEuclid.
This xml:
[code]
shows as:
![изображение](https://user-images.githubusercontent.com/5559926/99437348-64670780-2923-11eb-94f9-f4b4cc3271c3.png)

In this case I have to change `<mphantom/>` via xslt on-fly to `<mspace height="1ex"/>`.

[2020-11-17 22:14] manuel489 commented on #50
Almost all markup-related issues are fixed in https://github.com/metanorma/bipm-si-brochure/pull/55

These cases remain:

Location | issue | source
-- | -- | --
Title page | replace "9 édition 2020" by "9 édition 2019" | xslt
3 | replace "9th edition 2020" by "9th edition 2019" | xslt
5 | first line:  link to reference should be [1] | xslt
5 | definition of kilogram: the numerical value is wrong,

[2020-11-17 22:37] anermina commented on #51
Markup fixes are made in #55 .

Note: I also made some markup fixes which weren't on this list.

Pinging @opoudjis for the following:

There is some bug with truncating zeros when there is a larger number of them (or this has been fixed in the meanwhile in .adoc, but I doubt):

Pinging @Intelligent2013 for the following:

Additional question:
Why is `phi` rendered as `varphi` and vice versa?

In A

[2020-11-18 00:52] opoudjis commented on #51
Are BIPM seriously going to use decimal commas in the Brochure, and decimal points in the MEPs?!

As I am constantly obligated to say: Metanorma does not exist in order to perpetuate inconsistency and incoherence. Either all English language text from BIPMM uses decimal points, or none does.

[2020-11-18 09:29] Intelligent2013 commented on #51
Source xml:
[code]

Regarding https://www.w3.org/TR/MathML2/chapter3.html#presm.mi:

[code]

If we need to redefine standard behaviour, I can do it via xslt, but I need clear rules for styles.

Fixed. Increased vertical space after figure title.

I can't increase column widths. They calculated automatically for all flavors.
The right margin fo the document intended for side notes.

see my first co

[2020-11-18 09:56] opoudjis commented on #46
They clearly are MEPs.

We have created docnumber `SI MEP A1` etc for the existing MEPs, based on their units. Insane though it is. https://www.bipm.org/en/publications/mises-en-pratique/standard-frequencies.html indicates that these documents are identified by their frequency, although mu is posing a challenge. So, `SI MEP M REC (frequency)`.

Part number 1 is inherited from the Metre MEP.

[2020-11-18 12:27] Intelligent2013 commented on #50
This is a bibdata issue.

'2020' is a value from source xml `bibdata/copyright/from`.
[code]

Also there is a field `bibdata/version/revision-date`:
[code]

But in bibdata there isn't any field with value '2019'.

Fixed.

Fixed.

I didn't understand it.

Header 'Continuity with the previous definition of the kilogram' shows instead of 'Bibliography', because section '5.3 Bibliography' is a part of

[2020-11-18 12:57] Intelligent2013 commented on #53
Fixed.

It isn't xslt issue. Definition of the kelvin In adoc  should be marked as bold.

See 1st comment here: https://github.com/metanorma/bipm-si-brochure/issues/51#issuecomment-729552401

It isn't xslt issue. ping @opoudjis

Source XML issue.
[code]
ping @opoudjis

[2020-11-18 13:01] Intelligent2013 commented on #52
Fixed.

[2020-11-18 19:40] anermina commented on #47
"1" is solved.

"2" can be split into several issues and questions:

2.1 Cross-referencing keywords.
`chapître` should refer to clauses, and `section` to subclauses. (I confirm it is currently not happening.)

2.2 Adding page numbers in cross-references.
In which cases should the page number be added as a part of the cross-reference? I didn't manage to find a rule in neither original nor generated

[2020-11-19 03:47] opoudjis commented on #43
Ouch. OK. I will not use mphantom. In fact, it sounds like I will need to universally do that change in PresentationXML, if I do use mphantom in the source XML.

[2020-11-19 11:49] Intelligent2013 commented on #50
Fixed.

[2020-11-20 10:24] andrew2net commented on #49
@ronaldtse this gem has a `NotFoud` error handling but this issue doesn't relate to the error. This issue happened because of break-spaces in a reference. Now all break-spaces are replaced by dashes.

[2020-11-21 05:55] ronaldtse commented on #47
No one uses Java 8 anymore...

[2020-11-22 13:02] anermina opened #57 "BIPM SI brochure (English): review"
1. Frontpage: Capital letters are used in the original EN document.
Original French document uses the same format as generated (EN and FR), so this is probably an inconsistency in BIPM, but "Bureau International des Poids et Mesures" seems right to me for both versions. @ronaldtse ?

Original:
![image](https://user-images.githubusercontent.com/55683568/99902072-66322180-2cbb-11eb-9bf6-3030a3777b1d

[2020-11-23 11:36] opoudjis commented on #51
Was already fixed in https://github.com/metanorma/bipm-si-brochure/issues/40

Addressed in https://github.com/metanorma/metanorma-bipm/issues/70

@Intelligent2013 : this is a PDF generation issue (docidentifier not to be appended to reference if of type "metanorma" (i.e. incremental number)

@Intelligent2013 : this is also a PDF generation issue: If a reference is in normal relaton format, with ti

[2020-11-23 12:14] opoudjis commented on #54
Recall: by default in MathML, two-character variables are upright, single-character variables are italic.

Asciimath gem decomposes two-character variables into single-character variables. So everything turns into italics. The real solution to that is going to have to be true units markup. But before we get there:

Asciimath applies font shifts to its arguments: so

`stem:[v bb(ms)^{-2}]`

renders

[2020-11-24 02:12] ronaldtse commented on #51
Seems that we need to have a separate gem for rendering numbers. The expectations of twitter_cldr seem too different.

And there seems to be a need for proper bibliography text generation at the presentation level? I'm not convinced that the PDF renderer needs to have so much business logic.

[2020-11-24 04:14] opoudjis commented on #53
https://github.com/metanorma/metanorma-bipm/issues/68 has been resolved.

Has also been resolved in #40

There's a few moving parts still ongoing, but I propose to do release Monday, and will regenerate all docs for re-review then.

[2020-11-24 04:16] opoudjis commented on #51
We may yet do so. We don't need to do so yet: setting precision on a floating point number turned out to be a one-liner.

Significant refactor, and _I'm not the one constantly adding to backlog so I can't get it it_: https://github.com/metanorma/metanorma-nist/issues/242 has been raised.

[2020-11-24 04:18] opoudjis commented on #52
I believe my issues have been resolved; we can confirm on Monday.

[2020-11-24 04:38] opoudjis commented on #47
Given your aspirations to have all this running in an app, this is still your problem. People who are not developers in Java have the default OS version of Java lying around, and OS versions of programming languages are always antiquated...

[2020-11-24 07:46] ronaldtse commented on #47
In fact, we already stopped supporting Mojave a while ago as the single-binary version doesn't support it. Keeping one's computer up to date using system utilities is the responsibility of the user. As application developers we are not expected to keep the execution runtimes updated.

[2020-11-24 09:53] Intelligent2013 commented on #57
To repeat 'page' on each page, please move 'page' into table header.

Very strange rendering, I can't figure out the reason of it. Could you put a link to reviewed pdf, please?

This issue was discussed earlier, and current solution is not ideally, but accepted. If we move it lower, then we'll get a vertical spaces/gaps sometimes.

[2020-11-24 10:23] opoudjis commented on #47
Was fixed in #40, but I had a typo: fixed now.

[2020-11-24 11:31] opoudjis commented on #47
And as for your Issues, separately numbered:

No opinion.

I believe @ronaldtse has already extracted the concession from BIPM that we don't: this would have been an idiosyncratic limit to the ToC.

Yes, and that needs to be done inline in PDF.

No opinion, I defer to @Intelligent2013

The text was there in sections-a1-fr/a1-decisions.adoc, which is presumably the older document that was chopped u

[2020-11-24 11:32] opoudjis commented on #47
Any remaining issues in my opinion do not involve me, so I am putting this issue on my on-hold list.

[2020-11-24 11:43] opoudjis commented on #50
This is BIPM inconsistency, and we will not perpetuate it.

https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9-EN.pdf, p. 130:

<img width="250" alt="Στιγμιότυπο 2020-11-24, 22 38 25" src="https://user-images.githubusercontent.com/1911039/100089801-5e82a080-2ea6-11eb-90ac-6edd5f93a32f.png">

https://www.bipm.org/utils/en/pdf/si-mep/SI-App2-kilogram.pdf, p. 1

<img width="1040" alt="Στ

[2020-11-24 11:47] opoudjis commented on #50
The issue of selective italicisation of parts of equations will ultimately need to be addressed by some form of Units Markup (https://github.com/metanorma/metanorma-bipm/issues/3), and is currently to be addressed by introducing an upright font shift in Asciimath: https://github.com/metanorma/bipm-si-brochure/issues/54.

[2020-11-24 13:24] opoudjis commented on #50
Now fixed

3a and 3b are not real list numbers, but more of BIPM's wilfulness. I will note that this is clearly a Word document, and they just as clearly have not used Word list numbering, because after all, Word cannot generate list numbers like "3a" and "3b".

Neither can HTML.

_Neither shall we_. @manuel489 Please change markup here: these are simply not list numbers, but numbers at the start

[2020-11-24 13:39] opoudjis commented on #50
SI Brochure is fixed, but mises en pratique still referenced by identifier.

And that is because the references in source are using the identifiers. They need to be numbers, like the others are; we can preserve both the number and the identifier as described in https://www.metanorma.com/author/topics/document-format/bibliography/#named-reference-tag-with-automatic-reference-fetching

The reference

[2020-11-24 13:44] opoudjis commented on #50
From @Intelligent2013

Ronald is pretty adamant that it relates to Presentation XML; but incorporating `docidentifier` into `formattedref` is significant refactoring, and it is going to have to wait.

It's mine. We are being forced to change the section label of appendixes if the document has an appendix identifier.

[2020-11-24 14:10] opoudjis commented on #57
I'd assumed consistency. Forcing English labels to be uppercase. (In fact, I'm removing the YAML English localisation, so they can inherit the default capitalised labels from isodoc.)

[2020-11-24 14:19] opoudjis commented on #57
Has been fixed.

Has been fixed.

[2020-11-24 14:47] Intelligent2013 commented on #47
dans le texte «&nbsp;<<le_bipm_et_la_cdm>>&nbsp;» (page <<le_bipm_et_la_cdm,pagenumber%>>).

It should be workable solution. The similar markup I've processed yet for ToC in Appendix:
[code]

But, because page numbers in ToC are bold, then please add bold markup into adoc for Appendix 1 Toc (00-toc.adoc) for both languages.

I've fixed xslt for:
- if voir/see in main text - it isn't italized,
- if

[2020-11-26 02:02] opoudjis commented on #51
@Intelligent2013 Re μm: this is part of the general issue with keeping units in upright font. This is a source markup issue, and we have just had the asciimath gem allow us to set upright font in asciimath, as our short term solution. (The long term solution is units-specific markup.)

[2020-11-28 01:06] anermina commented on #54
I applied `rm(...)` syntax to all units in `stem` expressions of BIPM SI Brochure EN/FR (#56 ).

[2020-11-28 01:07] anermina commented on #57
This requested a minor modification of the initial table appearence, but the difference is not significant, so I think it won't be a problem. Done.

@Intelligent2013 I used PDF attached in https://github.com/metanorma/bipm-si-brochure/issues/47#issuecomment-728957663.

[2020-11-28 01:08] anermina commented on #47
In accordance to https://github.com/metanorma/metanorma-bipm/issues/75#issue-749599079, I added `%nosee` to the cross-references where duplication of "voir/see" could be seen in the latest generated PDF.

Done.

Lets leave these examples as a part of the main text then. In case BIPM says they would prefer them to be shown on the right margin, I'll mark the second example as a note.

@manuel489, co

[2020-11-28 01:51] manuel489 commented on #47
@anermina, yes, I intentionally removed that piece of text for the same reason that @opoudjis provides [above](https://github.com/metanorma/bipm-si-brochure/issues/47#issuecomment-732870302).  Basically, "voir ci-dessous" translates "see below", and it's kind of a vague reference. And, at that time, I wasn't sure if such referenced notes were going to be placed in such a way that they were actuall

[2020-11-28 20:13] manuel489 commented on #47
I have put back the text.

[2020-12-01 13:40] manuel489 commented on #40
Based on the latest PDF provided by @opoudjis: [si-brochure-fr(12-01).pdf](https://github.com/metanorma/bipm-si-brochure/files/5622920/si-brochure-fr.12-01.pdf)

I've made comparisons between these three files: PDF reviewed by BIPM, latest PDF provided by Nick, and original PDF.
Below is the same table as in description but pointing out which issues are fixed and which are not yet.

page | comment

[2020-12-01 13:44] manuel489 commented on #40
These are the issues that don't fulfill with BIPM requirements yet.

page | comment | is issue fixed?
-- | -- | --
4 | Instead of "La Brochure sur le SI", the text starts with "Ce document" | no
9 | Include the index in the table of contents | no
10 | In the title the accents on "à" and "édition" seem to be placed too high | no
15 | List of constants: It seems that the text is written in bold, but

[2020-12-01 15:35] anermina commented on #40
I'd just like to add that the last three issues were actually source adoc issues when BIPM reported them. In other words, this was the output:
![image](https://user-images.githubusercontent.com/55683568/100760149-bd3da200-33f1-11eb-9b14-76b185276fc5.png)

These issues have been solved and now we have the output where `e` is in the same font as in other parts of the text, for which BIPM didn't add

[2020-12-01 16:07] manuel489 commented on #40
Wow! Thanks @anermina for double-checking!
Hmm, from that point of view, yes I think you're right 😃.

The reason I marked it as not-fixed issue is because I compared it with the font of the original file and they are different:

![Capture](https://user-images.githubusercontent.com/33627611/100764003-3f1ad480-33cc-11eb-8448-08722167fe5c.PNG)

*left: generated, right: original*

But yeah, that is pr

[2020-12-01 16:22] manuel489 commented on #40
So, discarding the above issues the table results in:

page | comment | is issue fixed?
-- | -- | --
4 | Instead of "La Brochure sur le SI", the text starts with "Ce document" | no
9 | Include the index in the table of contents | no
10 | In the title the accents on "à" and "édition" seem to be placed too high | no
15 | List of constants: It seems that the text is written in bold, but the numbers a

[2020-12-01 18:20] anermina commented on #40
No problem @manuel489 , I just remembered seeing this in some of the previous checks :)

[2020-12-01 18:21] manuel489 commented on #41
Based on the latest PDF provided by @opoudjis: [si-brochure-fr(12-01).pdf](https://github.com/metanorma/bipm-si-brochure/files/5622920/si-brochure-fr.12-01.pdf)

These are the issues that don't fulfill with BIPM requirements yet.

page | comment | issue
-- | -- | --
21 | second paragraph after 1. equation: "M" needs always to be in italics | not fixed
22 | definition of candela: 2nd last line it s

[2020-12-01 19:21] manuel489 commented on #42
Ah! Now I see the problem in this case @Intelligent2013...

This is the table:

![table1](https://user-images.githubusercontent.com/33627611/100786241-3fc16400-33e8-11eb-9ce6-a81eefc3e301.PNG)

First to columns: `Facteur par lequel l’unité est multipliée` and `Préfixe` are too close. They seem like one.
Look:

![table2](https://user-images.githubusercontent.com/33627611/100786455-9333b200-33e8-11e

[2020-12-01 19:48] manuel489 commented on #42
Based on the latest PDF provided by @opoudjis: [si-brochure-fr(12-01).pdf](https://github.com/metanorma/bipm-si-brochure/files/5622920/si-brochure-fr.12-01.pdf)

These are the issues that don't fulfill with BIPM requirements yet.

page | comment | issue
-- | -- | --
54 | table at bottom: larger space between first two columns | not fixed
54 | possible to have footnotes (4) nad (5) on page 55 ? | n

[2020-12-01 21:25] manuel489 commented on #43
Based on the latest PDF provided by @opoudjis: [si-brochure-fr(12-01).pdf](https://github.com/metanorma/bipm-si-brochure/files/5622920/si-brochure-fr.12-01.pdf)

All the issues listed above are fixed.
However, there is an additional issue that wasn't before:

![capture3](https://user-images.githubusercontent.com/33627611/100798229-badf4600-33f9-11eb-90f0-2b5c556d4cc6.PNG)

In page 73, Greek letter

[2020-12-01 23:06] manuel489 commented on #44
Based on the latest PDF provided by @opoudjis: [si-brochure-fr(12-01).pdf](https://github.com/metanorma/bipm-si-brochure/files/5622920/si-brochure-fr.12-01.pdf)

Issues fixed recently:

page | comment | issue
-- | -- | --
85 | 3rd bullet point : 6s2  1S0 – 6s 6p 3P0 | fixed in https://github.com/metanorma/bipm-si-brochure/pull/59
86 | 2nd bullet point: 6s 2S1/2 (F = 0, mF = 0) – 5d  2D3/2 (F = 2, 

[2020-12-02 00:28] opoudjis commented on #40
p. 4: https://github.com/metanorma/bipm-si-brochure/issues/40#issuecomment-721114787 . I am currently declining to implement, as I want strongly boilerplated text.

p. 9: There is currently no index anyway; https://github.com/metanorma/metanorma-bipm/issues/67 is the task to create it, and it is a big undertaking

p. 10. The accents are supposed to have been fixed, by me applying Unicode Normalisa

[2020-12-02 00:31] opoudjis commented on #54
@Intelligent2013, unassigning you, there is nothing for you to do.

There is a task to do units in UnitsML properly: https://github.com/metanorma/metanorma-bipm/issues/3 . This interim solution is working, so closing ticket.

[2020-12-02 00:31] #54 closed

[2020-12-02 11:28] Intelligent2013 commented on #42
I can't specify exactly width for columns. It calculated automatically.
But you can try to add an empty column with non-break space inside table cells. In this case, then resulted PDF will look:

![изображение](https://user-images.githubusercontent.com/5559926/100866180-5aa7dd00-34a9-11eb-8bbc-02b13f5dcbf4.png)

Possible. And it was made a month ago yet in one of previous versions. But in this cas

[2020-12-02 11:30] Intelligent2013 commented on #43
This issue was fixed in https://github.com/metanorma/mn-native-pdf/issues/288.

[2020-12-02 12:09] Intelligent2013 commented on #44
Very strange. In my environment (Win7) it generated ok:
![изображение](https://user-images.githubusercontent.com/5559926/100870413-a2c9fe00-34af-11eb-83be-f082375d6407.png)

Looks like it occurs for `<mstyle mathvariant="script">....`, but one font `STIX Two Math` is using for all maths...

[2020-12-02 22:02] manuel489 commented on #42
But you can try to add an empty column with non-break space inside table cells. In this case, then resulted PDF will look:

@Intelligent2013 this turns out to be a markup problem. I set the column alignment to right in the first column and to the left in second column (`[cols=">,<,^,>,^,^"]`). Of course they will look stuck to each other. I have fixed it in https://github.com/metanorma/bipm-si-bro

[2020-12-02 22:05] manuel489 commented on #42
One issue left in this thread:

[2020-12-04 12:10] opoudjis commented on #44
@Intelligent2013 Since I generated the PDF, the issue is my side. Could you please tell me what to check?

[2020-12-04 12:20] opoudjis commented on #40
p. 10, clearly I missed this file. Fixed.

[2020-12-04 13:01] opoudjis commented on #40
p. 15. Boldface applied to text does not apply to the MathML it contains; so any boldface has to be indicated explicitly on the AsciiMath: the MathML processor simply ignores the formatting of its context. (I don't think that's the case in Word, but then, Word is not an exemplar of mathematical word processing.)

Unfortunately this means you're also going to have to insert `bii()`, bold italic, si

[2020-12-04 13:34] Intelligent2013 commented on #41
Fixed. I've increased a bit the height of exponents.

Before:
![изображение](https://user-images.githubusercontent.com/5559926/101168429-7e575880-364c-11eb-9921-f77336495150.png)

After:
![изображение](https://user-images.githubusercontent.com/5559926/101168297-4b14c980-364c-11eb-8c9b-fb01cc8b104b.png)

I can't change column width for concrete table. Columns width set automatically depends on long

[2020-12-04 14:08] opoudjis commented on #40
p. 16.

There are two different things going on here.

First: If this were a `<mi>` operator, as we would expect, it would be rendered in italics. It is being rendered as a `<mo>` instead by the AsciiMath converter.

Second: font commands will work in the general case; e.g. `stem:[ii Omega]` instead of `stem:[Omega]`. However, any such font commands should override the font commands introduced for

[2020-12-04 15:12] opoudjis commented on #40
First issue: Omega is being parsed by AsciiMath as an operator, because, well, it is an operator in mathematics: https://en.wikipedia.org/wiki/Omega#The_symbol_Ω_(uppercase_letter) ; e.g.

Greek Letters that are treated by AsciiMath as operators are: https://github.com/asciidoctor/asciimath/blob/7b48295ae5c5bfc3f4679daa9ca322f69aec1931/lib/asciimath/markup.rb

Γ, Δ, Θ, Λ, Ξ, Π, Σ, Ω

The French lo

[2020-12-04 15:34] opoudjis commented on #41
See https://github.com/metanorma/bipm-si-brochure/issues/40#issuecomment-738837545

Metanorma is implementing the French mathematical typesetting rule, that uppercase variables are upright. Where that is ignored, you need to introduce explicit font styling: `stem:[ii(M)_{rm(u)}]`.

Note that this won't work until https://github.com/metanorma/metanorma-standoc/pull/386 is merged in; it isn't yet, b

[2020-12-04 16:49] manuel489 commented on #40
Ok, italic markup for `Omega` symbols and `M` operators are applied in https://github.com/metanorma/bipm-si-brochure/pull/59

[2020-12-04 17:36] manuel489 commented on #40
@opoudjis, just to confirm, should we proceed with boldface markup in math environment?

[2020-12-04 17:41] manuel489 commented on #40
Two remaining issues in this thread:

page | comment | issue
-- | -- | --
4 | Instead of "La Brochure sur le SI", the text starts with "Ce document" | will not fix, https://github.com/metanorma/bipm-si-brochure/issues/40#issuecomment-736907522
9 | Include the index in the table of contents | not fixed
10 | In the title the accents on "à" and "édition" seem to be placed too high | fixed
15 | List o

[2020-12-04 18:00] manuel489 commented on #41
One remaining issues in this thread:

page | comment | issue
-- | -- | --
21 | second paragraph after 1. equation: "M" needs always to be in italics | fixed
22 | definition of candela: 2nd last line it should read m-2,not m2; Negative and positive exponents are not at the same height | fixed, https://github.com/metanorma/bipm-si-brochure/issues/41#issuecomment-738786469
27 | Table 6: increase widt

[2020-12-04 19:13] manuel489 commented on #41
@opoudjis it seems that is not possible to increase the column width in tables by using AsciiDoc attributes like:
 `[cols="2,2,1,1"]` (a four column table where the first two columns are wider than the last ones.)

Is there another way to address this issue?

[2020-12-04 19:17] manuel489 commented on #44
Two remaining issues:

page | comment | issue
-- | -- | --
101 | 2nd paragraph: N in italics | not fixed
INDEX | The index is missing | not fixed

[2020-12-04 19:26] manuel489 commented on #40
@opoudjis , there is another issue that weren't before and I missed to report.

An additional entry in the index, `Références`, that is not in the original document:

![Capture1](https://user-images.githubusercontent.com/33627611/101206085-0174b080-3645-11eb-9916-27274f273626.PNG)

And it takes a whole page for itself.

[2020-12-05 00:43] opoudjis commented on #41
There is a ticket requesting that I introduce column width: https://github.com/metanorma/metanorma-standoc/issues/251

There is no other way to address it, but that would. I don't like doing it, being a purist, but I don't think I can avoid this in the long term. WIll realise that ticket.

[2020-12-05 08:08] opoudjis commented on #40
@manuel489 The references are correctly deleted from the documents within the bilingual brochure folder.

To explain:

* A reference of a document to another document *must* result in a bibliography
* A reference from a document to another document within a collection results in that reference being hidden—because citations are replaced with cross-references
* So those references are hidden in the

[2020-12-05 11:53] manuel489 commented on #40
Ok @opoudjis, thank you for your clarification.

[2020-12-06 23:09] manuel489 commented on #50
Based on latest PDF provided by @opoudjis: [mep-kilogram-definition-en.pdf](https://github.com/metanorma/bipm-si-brochure/files/5649718/mep-kilogram-definition-en.pdf)

Issues fixed recently:

Location | Comment | Issue
-- | -- | --
13, 14 | wrong title in header | fixed in https://github.com/metanorma/bipm-si-brochure/pull/59
  | second paragraph following equation 1.7: M(12C), M in italics | fix

[2020-12-06 23:21] manuel489 commented on #50
@opoudjis, this problem refers to:
[code]

being rendered as:
![Capture](https://user-images.githubusercontent.com/33627611/101296065-c666ae80-37f7-11eb-8b79-ad189ac166bf.PNG)

instead of:
![Capture2](https://user-images.githubusercontent.com/33627611/101296079-ce265300-37f7-11eb-98bd-548ead45f808.PNG)

The `vee` is not italicized. Should I change the markup to `ii(vee)` in order to fix?

[2020-12-07 00:06] manuel489 commented on #50
Also, `stem:[N]` has become upright:

[code]

Before:
![Capture3](https://user-images.githubusercontent.com/33627611/101297270-89ea8100-37fe-11eb-8b8c-9ce218122aad.PNG)

Now:
![Capture4](https://user-images.githubusercontent.com/33627611/101297276-8eaf3500-37fe-11eb-82c2-f5b36ef7f597.PNG)

[2020-12-07 15:12] manuel489 commented on #51
Based on latest PDF release: [mep-metre-definition-en.pdf](https://github.com/metanorma/bipm-si-brochure/files/5653406/mep-metre-definition-en.pdf)

***Remaining issues:***

Location | Comment | Issue
-- | -- | --
13  | Table 3: replace all decimal commas by dots, increase column widts so that no overlap between numbers. The right margin of the document seems to be too large and limits the availab

[2020-12-07 15:51] manuel489 commented on #52
Based on latest PDF release:  [mep-mole-definition-en.pdf](https://github.com/metanorma/bipm-si-brochure/files/5653657/mep-mole-definition-en.pdf)

***Remaining issues:***

Location | Comment | Issue
-- | -- | --
12 | the numbering of the references should be in the form of [n], in the first column, not at the end | not fixed

Ping @opoudjis

[2020-12-07 16:26] manuel489 commented on #53
Based on latest PDF release: [mep-kelvin-definition-en.pdf](https://github.com/metanorma/bipm-si-brochure/files/5653849/mep-kelvin-definition-en.pdf)

***Remaining issues:***

Location | Comment | Issue
-- | -- | --
5 | definition of the kelvin is not easily distinguishing from surrounding text: bold font | not fixed

Ping @Intelligent2013

[2020-12-07 17:59] Intelligent2013 commented on #51
There are characters `202F` (Narrow No-Break Space' between numbers. Looks like in the 'Arial Bold' font on MacOs there isn't such character.
In the source xml there isn't nested `<math` tag:
[code]
therefore it renders as normal text. Some lines below there is a math `1/299 792 458` that renders as math svg with font `STIX Two Math` that contains 202F.

I see two possible solutions:
- encode as m

[2020-12-07 18:22] Intelligent2013 commented on #53
In source .adoc it marks as quote without bold:
[code]

Add `*` around text.

[2020-12-07 21:39] opoudjis commented on #53
We have established that boldface MathML simply doesn't work, but yeah, they can try that.

[2020-12-07 21:39] anermina commented on #47
Corrections are made. Closing.

[2020-12-07 21:39] #47 closed

[2020-12-07 21:43] opoudjis commented on #51
stem should not be occurring without a math tag inside; will check markup and code.

[2020-12-07 22:25] manuel489 commented on #53
Done. Thanks!
No issues in this thread.

[2020-12-08 08:41] opoudjis commented on #52
PDF issue:

@Intelligent2013, `docidentifier[@type = 'metanorma']`, e.g. `<docidentifier type="metanorma">[9]</docidentifier>`, is used for numerical identification of references, as in `[1]`. If you are already presenting the references in a numbered list, as is the case here, then those numeric identifiers are redundant, and should not be displayed. (Properly: their number should be what appears

[2020-12-08 08:45] opoudjis commented on #51
"Numbers of references in first column in square brackets, need not be repeated at end of reference": just reported as https://github.com/metanorma/bipm-si-brochure/issues/52 for @Intelligent2013

[2020-12-08 09:01] opoudjis commented on #51
33: Still not addressed, PDF issue.  That includes the new reference. These are currently being rendered as raw relaton XML.

In fact at least here, the citation has more information:

<img width="965" alt="Στιγμιότυπο 2020-12-08, 19 54 50" src="https://user-images.githubusercontent.com/1911039/101461659-5428d200-398f-11eb-9138-2a0575b92ffd.png">

The source data is:

[code]

Please, if you have a

[2020-12-08 09:30] opoudjis commented on #51
The missing stem wrapper is a clash of optimisations:

* If a single number appears in text, I am removing the MathML in Presentation XML, because "it's just a number, it doesn't need the MathML".
* But of course, the localisation is introducing small spaces which are alien to the default font. It needs not to be rendered in the default font, but in MathML, after all.

I think the "it's just a num

[2020-12-08 09:53] opoudjis commented on #51
The insane Annex 3 numbers are simply because no distinct numbers have been assigned to references there, and autonumbering isn't happening. Autonumbering isn't happening, it turns out, because metanorma-standoc is assuming there is only one bibliography per document. I'm relaxing that constraint.

Note, as we have already discussed, that the reference numbering in the source document is alphanume

[2020-12-08 09:55] Intelligent2013 commented on #52
BIPM xslt updated. Now references renders:
![изображение](https://user-images.githubusercontent.com/5559926/101468456-7cdfa600-3954-11eb-9a5b-19eb81030a1b.png)

[2020-12-08 10:16] opoudjis commented on #50
The revdate has been entered as 2020-04-08 in Asciidoctor source. _That is April 8_. Fixing.

[2020-12-08 10:36] anermina commented on #53
Since no issues left, closing.

[2020-12-08 10:36] #53 closed

[2020-12-08 10:43] anermina commented on #50
As I can see, remaining issues were discussed in https://github.com/metanorma/bipm-si-brochure/issues/52. Therefore, closing this ticket.

-- | -- | --

[2020-12-08 10:43] #50 closed

[2020-12-08 10:48] anermina commented on #52
Having this fixed, I believe there are no issues left in this thread. Closing.

[2020-12-08 10:48] #52 closed

[2020-12-08 10:57] opoudjis commented on #57
The English and French brochures capitalise the French title of the organisation differently. They are using French and English capitalisation conventions respectively on the French title.

I should be able to deal with this, by making _Bureau International des Poids et Mesures_ the English-language title of the organisation (seriously!) and _Bureau International des poids et mesures_ the French t

[2020-12-08 11:06] anermina commented on #43
Having this issue fixed, it seems everything is solved. Closing.

[2020-12-08 11:06] #43 closed

[2020-12-08 12:20] anermina commented on #44
Issue https://github.com/metanorma/metanorma-bipm/issues/67 is opened to address adding index. Closing this one.

[2020-12-08 12:20] #44 closed

[2020-12-08 12:23] anermina commented on #42
@manuel489 @Intelligent2013 Are there any actions that we should take regarding the footnotes mentioned in the previous comment? In case not, please close this ticket.

[2020-12-08 12:26] anermina commented on #41
Since the new ticket is opened to address this issue, I'm closing this one. I'll create a new ticket for these remaining issues which require more time to be solved, so that we can track what's left for the BIPM.

[2020-12-08 12:26] #41 closed

[2020-12-08 12:32] anermina commented on #40
Indexing is addressed in metanorma/metanorma-bipm#67. Closing this ticket.

[2020-12-08 12:32] #40 closed

[2020-12-08 12:37] anermina commented on #24
I think we can close this issue now. We have opened new ones after receiving comments from BIPM and they were discussed in separate tickets.

[2020-12-08 12:37] #24 closed

[2020-12-08 12:46] anermina commented on #16
This has been solved. Closing.

[2020-12-08 12:46] #16 closed

[2020-12-08 12:49] #39 closed

[2020-12-08 12:55] anermina commented on #30
Just to confirm that I get the same result as Manuel displayed in Adobe Acrobat Reader DC, version 2020.013.20066 (Windows OS).

Issue about different appearance of `stem:[cc(K)]` is probably caused by the same behavior as for the rest of the differences.
![image](https://user-images.githubusercontent.com/55683568/101486156-83721b80-395c-11eb-9f3d-91d55b455dc1.png)

[2020-12-08 13:03] Intelligent2013 commented on #51
BIPM xslt updated.
![изображение](https://user-images.githubusercontent.com/5559926/101487149-cd63fd00-396e-11eb-8cf9-45a0cff9b973.png)

[2020-12-08 16:10] anermina opened #60 "BIPM: Indexing for SI Brochure"
This ticket addresses remaining issues in BIPM SI brochure. When enhancements are implemented, we'll check outputs for BIPM files.

| Issue | Ticket which addresses the issue
| -- | --
| Table 6: increase width of first two columns so that there are less linebreaks | metanorma/metanorma-standoc#251
| The index is missing | metanorma/metanorma-bipm#67

[2020-12-09 02:25] opoudjis commented on #51
We have agreed that the PDF by default will render just ID + Title for relaton bibitems. If more complex rendering is required, I will supply the appropriate formattedRef.

[2020-12-14 11:52] opoudjis commented on #30
@ronaldtse @Intelligent2013 Is this ticket actionable? It sounds like it isn't.

[2020-12-14 11:57] Intelligent2013 commented on #42
There aren't more actions from me. Closing.

[2020-12-14 11:57] #42 closed

[2020-12-14 11:58] opoudjis commented on #60
https://github.com/metanorma/metanorma-standoc/issues/251 implemented, so you should be able to review now

Index: I will complete implementation mid-week, expect to get this some time next week.

[2020-12-16 08:28] anermina commented on #60
Table 6 looks good to me now.

[2020-12-16 08:30] anermina opened #62 "BIPM: Remaining issues"
MEP-3 (guide-ccl-GD-MeP-3-en.adoc)
---------------------------
1.  I added `nosee%` in the meanwhile, but there is no need for adding page number in this cross-reference, since the figure is right below the text, on the same page. The same applies to several other figures in this document and the table below.

![image](https://user-images.githubusercontent.com/55683568/102276885-c5382e80-3f27-11eb

[2020-12-16 13:57] opoudjis commented on #62
BIPM brochure (FR)
---------------------------

That was because the anchor reference to the English example was not formatted correctly, as an anchor, and therefore did not end up hidden. I have corrected the markup, so this should render correctly next time.

[2020-12-16 13:59] Intelligent2013 commented on #62
### > Colon and blank space are missing after "Note x to entry".

Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/102357788-c321ae80-3fbf-11eb-949a-ea8b2468257d.png)

[2020-12-16 14:00] opoudjis commented on #62
MEP-3 (guide-ccl-GD-MeP-3-en.adoc)
---------------------------

To my disgust, I anticipate that I am going to have to address this with yet another optional attribute, telling the PDF not to insert a page reference at all, instead of merely dropping the "see"...

[2020-12-16 22:10] anermina opened #63 "BIPM: Remaining issues (continues #62)"
MEP Candela Rapport (mep-candela-rapport.adoc)
----------------------

1. `bar` is barely noticeable, especially when it is used on some capital letter in the `stem` expression, at least in Acrobat Reader in Widows OS.

Generated (200%):
![image](https://user-images.githubusercontent.com/55683568/102373952-0cbec900-3fc1-11eb-8bcf-32da2ff670a4.png)
![image](https://user-images.githubusercontent.com

[2020-12-17 12:25] Intelligent2013 commented on #63
#### > 1. `bar` is barely noticeable, especially when it is used on some capital letter in the `stem` expression, at least in Acrobat Reader in Widows OS.

It seems jEuclid issue.

In case of xml (example from jEuclid package):
[code]
it displays as:
![изображение](https://user-images.githubusercontent.com/5559926/102485620-eb211880-4078-11eb-8a87-0c2e81670f19.png)

In we add `sub`:
[code]

it sho

[2020-12-17 13:52] Intelligent2013 commented on #63
#### > 2. Too small space reserved for the terms in definition lists causes overlapping with definition.
Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/102496128-0fd0bc80-4088-11eb-9d61-cdb0334555f9.png)

[2020-12-17 21:35] Intelligent2013 commented on #63
#### > 3. Following note is not generated in chapter 5.1

Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/102546601-f308a900-40c8-11eb-9b0e-25f8236a58ad.png)

[2020-12-17 22:04] Intelligent2013 commented on #63
### > Recommended values (https://github.com/metanorma/bipm-si-brochure/tree/bipm_corrections/sources/rec-values repo)

#### 1. Too many blank pages are generated at the beginning of the documents.

Fixed.

Example resulted PDF: [115In_1267THz.presentation.pdf](https://github.com/metanorma/bipm-si-brochure/files/5712388/115In_1267THz.presentation.pdf)

[2020-12-18 14:33] opoudjis commented on #62
Yes, adding nopage% to xref markup. @anermina You will end up replacing nosee% with nopage%.

@Intelligent2013 The attribute `xref/@nopage` is a counterpart to `xref/@nosee`. Where `@nosee` indicates that the word for "see" is not added in PDF rendering, just the page number—`@nopage` indicates that neither is to be added.

[2020-12-19 12:16] anermina commented on #62
Thank you. `nopage%` added for `guide-ccl-GD-MeP-3-en.adoc`.

[2020-12-24 18:26] Intelligent2013 commented on #63
#### >  1. bar is barely noticeable, especially when it is used on some capital letter in the stem expression, at least in Acrobat Reader in Widows OS.

I've found a workaround solution. First `mrow` in `msub` should be enclosed in `mstyle`:
[code]

![изображение](https://user-images.githubusercontent.com/5559926/103102672-25b52300-462e-11eb-896d-590bd076ac50.png)

![изображение](https://user-imag

[2020-12-24 18:26] Intelligent2013 commented on #63
I'll modify xslt to do it on-fly.

[2020-12-25 13:20] Intelligent2013 commented on #63
#### > 1. bar is barely noticeable, especially when it is used on some capital letter in the stem expression, at least in Acrobat Reader in Widows OS.

Issue fixed.
Resulted PDF (please note that xml isn't latest): [mep-candela-rapport.presentation.pdf](https://github.com/metanorma/bipm-si-brochure/files/5741999/mep-candela-rapport.presentation.pdf)

[2020-12-27 15:00] opoudjis commented on #62
@anermina Can this issue be closed?

[2020-12-27 15:02] opoudjis commented on #57
Can this issue be closed?

[2020-12-27 15:02] opoudjis commented on #51
More complex rendering is not required.

Can I close this?

[2020-12-28 16:05] anermina commented on #57
Yes, closing.

[2020-12-28 16:05] #57 closed

[2020-12-28 16:08] anermina commented on #62
@opoudjis Can you please check this part?

[2020-12-28 20:52] anermina commented on #51
It seems to me that all the initially reported issues have been discussed.

[2020-12-28 21:00] anermina commented on #63
Thanks @Intelligent2013 ! Closing this issue.

[2020-12-28 21:00] #63 closed

[2020-12-29 11:47] opoudjis commented on #62
Oddly enough, Nermina, that issue has just been addressed: the default terms boilerpalte ("for the purposes of this document..." can be overriden by a subclause tagged as `[.boilerplate]`, which will not be displayed with a clause header.

So, use:

[code]

There is also the abillity to just type text after the Terms & Definitions, and have it appended after the default boilerplate, and I can defi

[2020-12-29 11:51] #51 closed

[2021-01-01 14:29] ronaldtse opened #65 "Specializing BIPM copyright statement per-document"
From @opoudjis in https://github.com/metanorma/bipm-si-brochure/issues/40#issuecomment-721114787_:

This is not the desired behavior for the SI Brochure as requested by the BIPM.

There are potentially 3 solutions:
- The current version, which uses the generic "the document"
- Be doc-type specific, i.e. "the brochure"
- Be document title specific, just like for the SI Brochure.

Current:
<img widt

[2021-01-01 15:27] ronaldtse opened #66 "BIPM feedback: French: page 15, List of constants: text is written in bold, but the numbers are not"
page | comment | issue
-- | -- | --
15 | List of constants: It seems that the text is written in bold, but the numbers are not. | will not fix, https://github.com/metanorma/bipm-si-brochure/issues/40#issuecomment-738837545

I believe semantics trumps the "bold" styling here but we need to confirm that it is acceptable.

This list:
<img width="941" alt="Screen Shot 2021-01-01 at 11 27 10 PM" src="h

[2021-01-01 17:14] ronaldtse opened #67 "BIPM feedback: French: Page 61, last side note: wrong reference, should be Page 61 (the same page)"
Original:
<img width="953" alt="Screen Shot 2021-01-02 at 12 01 58 AM" src="https://user-images.githubusercontent.com/11865/103442082-f33ea200-4c8d-11eb-94df-0e50d9140c12.png">

Generated:
<img width="881" alt="Screen Shot 2021-01-02 at 12 02 02 AM" src="https://user-images.githubusercontent.com/11865/103442083-f76abf80-4c8d-11eb-9f55-59af9e969bf4.png">

The generated version is missing the page n

[2021-01-01 17:25] ronaldtse opened #68 "BIPM Feedback: French page 37, 2. line: reference to page number missing (inter-doc xrefs)"
This was originally reported here: https://github.com/metanorma/bipm-si-brochure/issues/41

Original:

<img width="790" alt="Screen Shot 2021-01-01 at 11 44 08 PM" src="https://user-images.githubusercontent.com/11865/103443230-022a5200-4c98-11eb-9bfa-adaf9869e67e.png">

Generated:
<img width="770" alt="Screen Shot 2021-01-02 at 1 16 08 AM" src="https://user-images.githubusercontent.com/11865/10344

[2021-01-01 17:28] ronaldtse opened #69 "BIPM Feedback: French page 36, sectio 5.4.2, last side note: spaces not correct, compare with original"
This is to do with math formula variables spacing inside side notes. Notice in the sidebar the variables seem to be spaced out ("justified" spacing?).

i.e. these seem to be spaced out
- "U_max"
- "V_max"
- "W(Cu)"

Original:

<img width="939" alt="Screen Shot 2021-01-02 at 1 29 00 AM" src="https://user-images.githubusercontent.com/11865/103443398-e58f1980-4c99-11eb-852b-50922ba95449.png">

Genera

[2021-01-01 17:47] ronaldtse opened #70 "French: page 83 CIPM, 2009, (PV, 77, 105) Recommandation 2 has stray non-stem formula"
I noticed one particular equation looking weird:

<img width="719" alt="Screen Shot 2021-01-02 at 1 44 29 AM" src="https://user-images.githubusercontent.com/11865/103443662-85e63d80-4c9c-11eb-8738-0119905e0cfe.png">

[code]

Apparently it was encoded not as stem, probably due to the starting `^2^`.

I noticed that in other places in the document we already have a solution, so will try if this work

[2021-01-01 20:02] ronaldtse commented on #65
Clarification sought, response ETA after 2020-01-05.

[2021-01-01 20:05] ronaldtse commented on #67
The current encoding is:

[code]

I believe the correct output would be "_voir_ Recommandation S 2, p. 61".

[2021-01-01 20:06] ronaldtse commented on #66
Clarification sought from BIPM, ETA after 2020-01-05.

[2021-01-01 20:33] #70 closed

[2021-01-01 21:02] ronaldtse opened #71 "Move Kelvin MEPs from mn-samples-bipm"
Kelvin MEPs technically belong to the Annex of the MEP Kelvin of the SI Brochure.

<img width="578" alt="Screen Shot 2021-01-02 at 5 02 41 AM" src="https://user-images.githubusercontent.com/11865/103446185-c0110880-4cb7-11eb-82ff-57691fef9704.png">

[2021-01-02 02:10] opoudjis commented on #68
The note ID becoming that is correct behaviour, that's avoiding the IDs not being unique. The anchor however was meant to be updated too when that was implemented. I'll fix it.

[2021-01-02 08:31] opoudjis commented on #68
metanorma test has cross-reference to ISO amendment clause, which was unimplemented: having to implement it.

[2021-01-02 10:59] opoudjis commented on #68
We test all anchors in document to see if they exist for an anchor crossreference (`eref//location[@type = 'anchor']`, directly invoking an id). But the anchors stored are keyed against labels, since they are invoked from location labels in locationStack in the case that they are not anchor crossreferences, but reference a label instead (e.g. `eref//location[@type = 'clause']`). So for anchor cros

[2021-01-02 11:01] #68 closed

[2021-01-02 14:46] Intelligent2013 commented on #69
I've just rendered PDF in my environment:
![изображение](https://user-images.githubusercontent.com/5559926/103459045-588da400-4d1d-11eb-9021-ca97ba8b719b.png)

`max` after `U` and `V` looks ok, but `W(Cu)` looks with spaces.

jEuclid doesn't use justification.

Original source mathml:
[code]
jEuclid renders as:
![изображение](https://user-images.githubusercontent.com/5559926/103459140-f7b29b80-4d1

[2021-01-02 15:11] Intelligent2013 commented on #67
Source xml:
[code]

Xslt inserts page number in these cases:
- if attribute `pagenumber='true'` - displays just page number (without `p.`) and without text content of xref,
- if next char after xref is `)`  and there aren't `nopage=true` and `nosee=true` attributes - displays `text content of xref` + `, see/voir p. N`.

So as there isn't `)`  after xref in this case, then to display `voir Recomman

[2021-01-02 16:10] ronaldtse commented on #69
I think the concern is about "Vmax" looking like "V m a x". The space between the parentheses is acceptable. Thanks!

[2021-01-03 14:11] anermina commented on #62
Corrected in https://github.com/metanorma/bipm-si-brochure/pull/73. Closing.

[2021-01-03 14:11] #62 closed

[2021-01-07 05:48] #71 closed

[2021-01-07 06:58] ronaldtse opened #74 "PDF: Table header cell underlining issue in 2 MEP files"
The table header cells seem to be have both a top line and also a bottom line, but we only want the top line if it's the first row.

1. https://www.bipm.org/utils/common/pdf/mep/M-e-P_I2_532.pdf

https://github.com/metanorma/bipm-si-brochure/blob/master/sources/rec-values/mep-wgfs-nm532-I2.adoc

Original:
(a)
<img width="742" alt="Screen Shot 2021-01-07 at 2 23 29 PM" src="https://user-images.gith

[2021-01-07 16:02] Intelligent2013 commented on #74
@ronaldtse yes, you're right, for `th` both borders top and bootom were set. Now, only bottom. So top border for first row - is border for table, and you have to set `h` prefix only for cels which should have bottom border.

Issue fixed in commit https://github.com/metanorma/mn-native-pdf/commit/bafe641d047404381d06a5606eb4c226768541cc

[2021-01-12 16:49] Intelligent2013 commented on #69
BIPM xslt updated for decreasing space between `(` and `)`.
It affects on these equations: [si-brochure-fr.presentation.mathml.pdf](https://github.com/metanorma/bipm-si-brochure/files/5803531/si-brochure-fr.presentation.mathml.pdf)

[2021-01-15 01:25] ronaldtse commented on #66
From BIPM:

So there's nothing to fix here. Closing.

[2021-01-15 01:25] #66 closed

[2021-01-15 01:25] ronaldtse commented on #65
From BIPM:

[2021-01-15 01:26] #65 closed

[2021-01-15 01:30] ronaldtse opened #75 "BIPM: French review Ref ID 97, page 54: possible to have footnotes (4) and (5) on page 55?"
BIPM: possible to have footnotes (4) and (5) on page 55?

Our response:

[2021-01-15 01:31] ronaldtse commented on #75
From BIPM:

[2021-01-15 01:31] ronaldtse commented on #75
Our response:

[2021-01-15 01:31] #75 closed

[2021-01-15 01:40] ronaldtse commented on #69
Thank you @Intelligent2013 ! Can we close this now?

[2021-01-15 02:13] ronaldtse commented on #67
Now marked up as:
[code]

[2021-01-15 02:14] #67 closed

[2021-01-15 02:28] ronaldtse commented on #60
Index functionality has been completed according to @opoudjis . This is the only remaining issue for the SI Brochure.

@metanorma/editors can you help create the index? Thanks!

[2021-01-15 05:52] Intelligent2013 commented on #69
Done.

[2021-01-15 05:52] #69 closed

[2021-01-15 13:38] ronaldtse commented on #69
Need confirmation. In the latest provided `si-brochure-fr.presentation.mathml.pdf` file, line 226 is this:

<img width="1004" alt="Screen Shot 2021-01-15 at 9 37 35 PM" src="https://user-images.githubusercontent.com/11865/104733596-e46dea00-5779-11eb-8f44-f2dbe233d4ad.png">

BIPM pointed out that:

But it is encoded correctly in source

[code]

And also rendered correctly in the currently released

[2021-01-15 13:52] Intelligent2013 commented on #69
Yes, the latest stylesheet (in mn-native-pdf/xslt_src) is correct and renders so:
![изображение](https://user-images.githubusercontent.com/5559926/104734378-351d1d00-5751-11eb-959f-4d809341f007.png)

si-brochure-fr.presentation.mathml.pdf shows only difference between source mathml markup and mfenced processing, but not all another mathml markup as preceding superscript, superscript one-level alig

[2021-01-15 13:53] ronaldtse commented on #69
Thank you!

[2021-01-15 13:57] ronaldtse commented on #74
This works with the latest version! Thanks!

<img width="711" alt="Screen Shot 2021-01-15 at 9 57 35 PM" src="https://user-images.githubusercontent.com/11865/104735554-af16cb80-577c-11eb-9f6c-4babbd0fddbb.png">

[2021-01-15 13:59] #74 closed

[2021-01-23 05:31] ronaldtse commented on #60
@manuel489 and @anermina has completed the index in #76.

@opoudjis @Intelligent2013 this is ready to go for indexing. Can we have a render of the index for checking? Thanks!

[2021-01-24 05:27] ronaldtse opened #78 "Spacing of math surrounding parenthesis inside index too long"
@manuel489 reported that:

![issue7-generated](https://user-images.githubusercontent.com/11865/105621949-dbe77480-5e47-11eb-8393-7edc99563fdc.PNG)

@Intelligent2013 could you have a look? Thanks.

[2021-01-24 11:23] opoudjis commented on #60
Have rendered, will reindex when finalised.

[2021-01-24 11:35] Intelligent2013 commented on #78
Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/105628978-5799ef00-5e51-11eb-821a-42bd3326c4b1.png)

[2021-01-24 11:35] #78 closed

[2021-01-25 01:04] ronaldtse commented on #78
Thanks!

[2021-02-08 03:02] opoudjis commented on #60
This task is done.

[2021-02-08 03:02] #60 closed

[2021-02-11 12:34] ronaldtse opened #80 "BIPM: French text formatting issues"
From BIPM on the French text:

[2021-02-11 13:24] manuel489 commented on #80
Working on it.

[2021-02-11 14:09] ronaldtse commented on #80
Thanks!

[2021-02-11 14:52] manuel489 commented on #80
Pull request added..

[2021-02-12 00:20] manuel489 opened #82 "Use UnitsML encoding in Ampere Mise en pratique"
Apply UnitsML in https://www.bipm.org/utils/en/pdf/si-mep/SI-App2-ampere.pdf

[2021-02-13 17:50] #80 closed

[2021-02-20 22:39] anermina opened #84 "Migrate units to UnitsML in BIPM SI Brochure documents"

[2021-02-20 23:10] anermina commented on #82
Done in #83 . Closing.

[2021-02-20 23:10] #82 closed

[2021-02-20 23:10] anermina commented on #84
PR #82 created for this task.

[2021-03-04 15:53] manuel489 opened #85 "Substitute units by UnitsML notation indicated in provided table"
*Requested by @opoudjis*

Update markup to use UnitsML symbols according to the table provided in https://github.com/plurimath/asciimath2unitsml

[2021-03-05 14:58] manuel489 commented on #85
Some updates have been pushed to https://github.com/metanorma/bipm-si-brochure/pull/83

[2021-03-05 19:34] manuel489 commented on #85
After discussing changes with co-worker, we conclude that applied changes are enough for now.
Closing.

[2021-03-05 19:34] #85 closed

[2021-03-11 23:12] anermina opened #87 "BIPM documents review"
While reviewing BIPM documents, I noticed several issues, listed below.

1. Titles with `unitsml` in `stem` expressions are not generated correctly.

Example from mep-wgfs-cm4_4-Rb_6-835GHz.adoc:
![image](https://user-images.githubusercontent.com/55683568/110827863-c4006e80-8296-11eb-908a-137356c7a01c.png)
![image](https://user-images.githubusercontent.com/55683568/110828448-543eb380-8297-11eb-97d

[2021-03-12 06:55] manuel489 opened #88 "Brochure review: very unbalanced columns width in tables"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

In latest compilation of the brochure, several tables show a very unbalanced columns width

Example

*Generated:*
![issue1-generated](https://user-images.githubusercontent.com/33627611/110903587-0c8f4a80-82de-11eb-9afe-bb498a855cd2.PNG)

*Original:*
![issue1-original](https://user-images.githubusercontent.com/33627611/110903

[2021-03-12 08:21] anermina opened #89 "Recommended values: generating title and subtitle"
In rec-values documents, part title and its "subtitle" are currently generated in a separate section.

Generated:
![image](https://user-images.githubusercontent.com/55683568/110867232-c1b60880-82c6-11eb-871e-63e71a0d8415.png)

Original:
![image](https://user-images.githubusercontent.com/55683568/110867278-c975ad00-82c6-11eb-8476-f4916e3d61b4.png)

Since this is quite different from the original do

[2021-03-12 08:25] anermina commented on #87
Two separate tickets are opened to address the following issues:

7. Generating part title and "subtitle" in rec-values documents (#89)
8. Generating space before units (https://github.com/metanorma/metanorma-standoc/issues/441) @opoudjis , I couldn't assign you this ticket because I don't have those privileges in metanorma-standoc.

[2021-03-12 08:29] manuel489 opened #90 "UnitsML rendering crashes"
*In relation with https://github.com/metanorma/bipm-si-brochure/issues/87*

In SI Brochure, there are several cases where UnitsML instance crashes.
Following are the captures where it happens:

Case 1: `stem:["unitsml(kg*m^2*s^(-1))"]`

*Generated:*
![issue2-generated](https://user-images.githubusercontent.com/33627611/110913593-c04b0700-82eb-11eb-8545-19183d8aa502.PNG)

*Original:*
![issue2-origi

[2021-03-12 14:59] Intelligent2013 commented on #88
@manuel489 I can't repeat this issue. Here is my result:
![изображение](https://user-images.githubusercontent.com/5559926/110957362-97af2580-835c-11eb-90c8-206ed76de02d.png)

Could you attach a presentation xml, please?

[2021-03-12 15:36] manuel489 commented on #88
@Intelligent2013, sure. This output comes from Nick's latest build.
Here is the xml file:  [si-brochure-en.zip](https://github.com/metanorma/bipm-si-brochure/files/6131109/si-brochure-en.zip)

[2021-03-12 15:51] Intelligent2013 commented on #88
@manuel489 sorry, but I need si-brochure-en.presentation.xml, not si-brochure-en.xml. Thank you.

[2021-03-12 15:58] manuel489 commented on #88
@Intelligent2013 no worries, I should have sent you the complete information:
[bilingual-brochure.zip](https://github.com/metanorma/bipm-si-brochure/files/6131199/bilingual-brochure.zip)
👍

[2021-03-12 16:08] Intelligent2013 commented on #88
@opoudjis presentation xml contains additional UnitsML markup. Which MathML markup should I use for rendering?
- stem/math in any case and ignore unit tags
- stem/math/unit/unitsymbol[@type="MathML"]/math when it presents
- something another case(s)...

[code]

[2021-03-12 17:00] manuel489 opened #91 "Brochure review: footnotes are being rendered as side-notes in MeP documents"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

Apparently, all the footnotes in MeP documents are being rendered as side-notes.

Example from *mep-kilogram-definition-en.pdf*:

*Generated:*
![issue1-generated](https://user-images.githubusercontent.com/33627611/110972582-851ff680-8332-11eb-90bf-5b044b8d8d8d.PNG)

*Original:*
![issue1-original](https://user-images.githubus

[2021-03-12 23:12] manuel489 opened #92 "Brochure review: Overlapping text in front page"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

In almost all MeP documents there is overlapping text in front page.

For example, from *mep-candela-definition-en.pdf*:

![overlapping-candela](https://user-images.githubusercontent.com/33627611/111008005-8b2fca80-8366-11eb-8297-96c89d53acf9.PNG)

Files related: [mep-candela-definition-en.zip](https://github.com/metanorma/b

[2021-03-12 23:34] manuel489 opened #93 "Brochure review: Unexpected brackets appearing"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

In math environment, there are cases where brackets are rendered instead of parentheses. Being this latter meant to appear.
Apparently, the XML file contains the proper content.
I saw this happen in *mep-kelvin-absolute-uncertainty-en.pdf* and *mep-mole-definition-en.pdf*

From *mep-kelvin-absolute-uncertainty-en.pdf*:

*Gen

[2021-03-12 23:41] manuel489 opened #94 "Brochure review: big array of equations overlapping its number tag"
*In relation https://github.com/metanorma/bipm-si-brochure/issues/87*

In *mep-kelvin-absolute-uncertainty-en.pdf*, there is a case where a "big" array of equation overlaps its number tag.

*Generated:*
![issue6-generated](https://user-images.githubusercontent.com/33627611/111009703-c502d000-836a-11eb-918f-2be9540a95ea.PNG)

*Original:*
![issue6-original](https://user-images.githubusercontent.com/

[2021-03-12 23:43] manuel489 opened #95 "Brochure review: Division symbol (/) too small"
*In relation https://github.com/metanorma/bipm-si-brochure/issues/87*

From *mep-kelvin-absolute-uncertainty-en.pdf*.
The division symbol is showing up too small in this case.

*Generated:*
![issue4-generated](https://user-images.githubusercontent.com/33627611/111009862-1ca13b80-836b-11eb-916e-74f63c0eac05.PNG)

*Original:*
![issue4-original](https://user-images.githubusercontent.com/33627611/1110

[2021-03-13 03:42] ronaldtse commented on #91
BIPM's decision is to use the same layout of the SI Brochure for all MEP documents. I don't clearly remember but in the SI Brochure all footnotes are rendered as side notes? If that is the case then this is intended.

Maybe @opoudjis @Intelligent2013 will remember...

[2021-03-13 06:13] opoudjis commented on #88
The unit tags do contain the canonical markup of the unit, but we are allowing that to be overridden in the MathML itself (e.g. division instead of multiplication with inverse exponent, m/s instead of m*s^-1.)

[2021-03-13 06:19] opoudjis commented on #90
Malformed MathML is being formed; as a result, the unitsml tags are in lowercase, and are not being stripped from the expression as required. This is not happening consistently, and need to work out what the trigger is.

[2021-03-13 06:36] opoudjis commented on #90
First culprit is kg, whose ID in unitsdb, `U_NISTu27p10'3`, is not XML-safe. Will sanitise it when used in document reference.

[2021-03-13 06:46] opoudjis commented on #90
Second culprit is `stem:["unitsml(u-)"]`. HTML entity &micro; seems to be confusing ID generator.

[2021-03-13 12:46] Intelligent2013 commented on #88
Issue fixed.
![изображение](https://user-images.githubusercontent.com/5559926/111030398-14044000-8413-11eb-9de9-28e8ea922ea2.png)

![изображение](https://user-images.githubusercontent.com/5559926/111030408-20889880-8413-11eb-8b56-6186d7f1f9fd.png)

[2021-03-13 12:51] Intelligent2013 commented on #91
Yes, all footnotes (except footnotes for table cells that render after a table) are rendered as side notes.

[2021-03-13 14:19] ronaldtse commented on #91
Thanks @Intelligent2013 for the confirmation, closing.

[2021-03-13 14:19] #91 closed

[2021-03-13 15:38] Intelligent2013 commented on #92
Fixed.
![изображение](https://user-images.githubusercontent.com/5559926/111035372-4f126d80-842b-11eb-88c4-b57a37103ed1.png)

[2021-03-13 15:56] Intelligent2013 commented on #93
Fixed. It was a side effect of fixing another issue.

![изображение](https://user-images.githubusercontent.com/5559926/111035890-871ab000-842d-11eb-8916-cf8f63e0bf31.png)

[2021-03-13 16:25] Intelligent2013 commented on #94
I've found a solution. If formula doesn't fit, then it scales down (font-size also scales down respectively):

![изображение](https://user-images.githubusercontent.com/5559926/111036712-aadff500-8431-11eb-9b3d-8c67e18a46e9.png)

Xslt updated.

[2021-03-13 17:41] Intelligent2013 commented on #95
This is side effect from issue https://github.com/metanorma/mn2pdf/issues/58.
Issue fixed. Now it renders:
![изображение](https://user-images.githubusercontent.com/5559926/111038896-52fabb80-843c-11eb-9504-d61dc6f136bd.png)

And I don't figure out how to decrease a height of `/` for 2.9 and 2.11.

[2021-03-13 22:09] manuel489 commented on #94
Awesome! Thanks.

[2021-03-13 22:09] #94 closed

[2021-03-13 22:10] manuel489 commented on #93
Thanks! Closing.

[2021-03-13 22:10] #93 closed

[2021-03-13 22:11] manuel489 commented on #92
Thanks!

[2021-03-13 22:11] #92 closed

[2021-03-14 13:18] manuel489 commented on #95
Thanks!

[2021-03-14 13:18] #95 closed

[2021-03-14 13:19] manuel489 commented on #88
Thank you!

[2021-03-14 13:19] #88 closed

[2021-03-14 13:42] opoudjis commented on #90
I cannot allow HTML escapes into UnitsML: they are breaking Nokogiri, as Nokogiri::XML does not understand them. They are being output to XML hexadecimal escapes.

[2021-03-14 14:04] #90 closed

[2021-03-14 14:44] opoudjis commented on #87
4. has been addressed in https://github.com/plurimath/asciimath2unitsml/issues/18

[2021-03-14 15:05] opoudjis commented on #87
3. The numbers are so long that their decimal components are being truncated when they are converted from string to floating point. BigDecimal() will deal with those numbers correctly, but BigDecimal is not supported in twitter-cldr.

[2021-03-14 15:25] opoudjis commented on #87
twitter_cldr/formatters/numbers/number_formatter.rb :

[code]

Will need to provide a BigDecimal equivalent to this floating point calculation, and submit a PR to twitter-cldr.

[2021-03-15 08:39] opoudjis commented on #87
Monkey patched twitter-cldr localisation of numbers to extend to BigDecimal. The numbers in `<mn>` are all parsed as BigDecimal, to allow arbitrary precision, whether as integers or floating point.

[2021-03-15 08:59] opoudjis commented on #87
Created https://github.com/twitter/twitter-cldr-rb/pull/240 to reflect this update in twitter-cldr-rb

[2021-03-15 13:25] opoudjis commented on #87
They do, because of the period. Removing the prefix for unnumbered tables.

[2021-03-15 13:47] opoudjis commented on #87
stem macros in general are not being processed properly in titles.

That is because the metanorma-utils generic method asciidoc_sub() is invoking the HTML asciidoctor converter, not the metanorma converter; so it is inserting the HTML AsciiMath delimiters `\$` instead of generating a Metanorma `<stem>` tag. The metanorma-utils converter needs to be at least standoc aware, if not aware of the speci

[2021-03-15 14:15] opoudjis commented on #87
The text is correctly marked up as terms in the generated XML, and are correctly marked up as `<h2 class="TermNum">` in the HTML. Therefore, this is a PDF issue.

@Intelligent2013,

[code]

in BIPM needs to be rendered up as a subclause , and not as generic text.

[2021-03-15 14:34] opoudjis commented on #89
The markup problem is that you've inserted an artificial clause heading to put in a paragraph that is unassociated with any clause:

[code]

We allow admonitions and notes that precede the first clause, but neither will give us the desired rendering. That is of course because this is an ill-considered violation of well-structured text: it's a "discrete heading", a heading outside the section hiera

[2021-03-15 14:34] #89 closed

[2021-03-15 15:55] Intelligent2013 commented on #87
Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/111182471-fd4f1c00-85bf-11eb-846b-d376e3f72586.png)

[2021-03-16 07:30] #87 closed

[2021-03-17 02:52] manuel489 opened #96 "Brochure review: white spacing before deg symbol"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

There is still white spacing before `deg` unitsml symbol. For example, for `stem:[90 "unitsml(deg)"]`:

![issue2-generated](https://user-images.githubusercontent.com/33627611/111406965-87bf7a80-86a9-11eb-9c81-107351003d63.PNG)

In addition, there is also white space when a division symbol (`/`) is in front of the unitsml blo

[2021-03-17 03:03] manuel489 opened #97 "Brochure review: document control table badly arranged"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

The cells of *Document control* table from MeP documents like *guide-ccl-metre-realization-3-en* are wrongly arranged. There are missing information as well:

*Generated (HTML):*
![issue3-generated](https://user-images.githubusercontent.com/33627611/111408159-3a440d00-86ab-11eb-8641-cd9eaf885d25.PNG)

*Original:*
![issue3-or

[2021-03-17 03:21] manuel489 opened #98 "Brochure review: landscape mode not present in PDF output"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

From *guide-ccm-kilogram-dissemination-en.pdf*,
landscape mode is not activated for table 1 as expected from the markup:

[code]

*Original:*
![issue2-generated](https://user-images.githubusercontent.com/33627611/111409411-46c96500-86ad-11eb-9b91-8b20726272e4.PNG)

In addition, in the unit symbol: `stem:["unitsml(ug)"]`, "mu

[2021-03-17 03:33] manuel489 opened #99 "Brochure review: unbalanced exponent alignment in steradian symbol"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

Exponents upon steradian unit symbol is being rendered too low making it look misaligned respect to other exponents.

From *mep-candela-rapport-en.pdf:*
![issue2-generated](https://user-images.githubusercontent.com/33627611/111410704-990b8580-86af-11eb-8180-cac54ded743f.PNG)

From *mep-kelvin-absolute-en*, there is this case

[2021-03-17 03:43] manuel489 opened #100 "Brochure review: remove justified alignment from description text"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

In *mep-candela-rapport-en.pdf*, there is justified alignment applied on description text, making it look ugly:

*Generated:*
![issue4-generated](https://user-images.githubusercontent.com/33627611/111411443-f6540680-86b0-11eb-873f-de1e4f101258.PNG)

*Original:*
![issue4-original](https://user-images.githubusercontent.com/336

[2021-03-17 03:47] ronaldtse commented on #97
@manuel489 is this a markup problem that you can fix?

[2021-03-17 03:52] manuel489 opened #102 "Brochure review: apostrophes vs prime symbols"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

Shouldn't apostrophes be rendered as prime symbols in math environment?

![issue-apostrophe](https://user-images.githubusercontent.com/33627611/111412270-7f1f7200-86b2-11eb-8aa1-56cdf09c1aca.PNG)

Single Prime symbol: `&#x2032;`
Double Prime symbol: `&#x2033;`

[2021-03-17 04:03] manuel489 commented on #97
@ronaldtse I don't think so. This seems to be automatically generated from the attributes.

[2021-03-17 09:39] Intelligent2013 commented on #99
@manuel489 I can't repeat this issue. Could you attach a source presentation XMLs for both documents, please?

In my environment it renders ok:
![изображение](https://user-images.githubusercontent.com/5559926/111446565-98a9d380-871d-11eb-875d-f21cb34407f0.png)

Actually, this issue was fixed a few weeks ago...

[2021-03-17 09:41] Intelligent2013 commented on #99
@manuel489 for mep-candela-rapport-en.pdf I've found xml in another issue.

[2021-03-17 10:29] opoudjis commented on #102
Yes they should. To be more explicit: the asciimath parser is meant to convert apostrophes into primes. And as it turns out, it has; looking at the XML for the MathML generated from that paragraph, I see:

[code]

&#8242; is indeed a prime. Some fonts may be rendering them to look more like apostrophes, which is regrettable, but the text is correct.

[2021-03-17 10:29] #102 closed

[2021-03-17 10:33] opoudjis commented on #97
It is, it's on me. I probably forgot to propagate it into the Presentation XML.

[2021-03-17 10:47] opoudjis commented on #96
Well, this is going to be subtle.

We have a problem that https://github.com/metanorma/metanorma-standoc/issues/441 over-relaxed the constraints on space: we want a space after `(3)`, but not after `/`.

I have two alternatives here: either use the semantics of MathML (to the extent they are correct), or introduce an option to suppress space insertion.

I'm going to try the former, because I think

[2021-03-17 11:06] opoudjis commented on #96
The degree symbol was wrong in the unitsdb tables: it was entered not as &#xB0;, the degree sign °, which is a symbol, but as &#xBA;, the masculine ordinal sign º (as in _1º_, read "prim-o"), which is alphabetic. Because it is alphabetic, space is being inserted before it.

[2021-03-17 11:11] Intelligent2013 commented on #100
Fixed (issue was side effect of https://github.com/metanorma/bipm-si-brochure/issues/94)
![изображение](https://user-images.githubusercontent.com/5559926/111457976-ee847880-8729-11eb-954b-45d29fd86b04.png)

[2021-03-17 11:11] #96 closed

[2021-03-17 11:11] Intelligent2013 commented on #99
Fixed.
![изображение](https://user-images.githubusercontent.com/5559926/111456581-3904f580-8728-11eb-8879-8f5129a6f3b9.png)

[2021-03-17 11:21] Intelligent2013 commented on #98
I need a fully refactoring of bipm xslt. Page orientation changing means closing current page sequence and start a new on with another orientation. We have page structure oriented for side notes, and changing page orientation is big challege actually.

[2021-03-17 11:27] opoudjis commented on #97
No, @Intelligent2013 : there is a document control table appended to the end of some BIPM documents, with a top level tag `doccontrol`. This needs to be rendered.

[2021-03-17 11:29] Intelligent2013 commented on #97
@opoudjis ok, I see.

[2021-03-17 11:46] opoudjis commented on #97
Done from my side. The "Version 1.0" and date is missing; it is expected to be supplied as a second superseded date. (We may need to debug it further, unsure right now.)

[2021-03-17 12:06] opoudjis commented on #97
Fixed table my side.

[2021-03-17 12:30] opoudjis commented on #98
I am not convinced we should proceed with this. @ronaldtse ?

[2021-03-17 12:38] Intelligent2013 commented on #97
XSLT updated.

[2021-03-17 14:13] Intelligent2013 commented on #98
Looks like this is a FOP or Batik issue or something else. The distance between chars in SVG depends on font size. In table we use ~85% font-size than normal text.

And It even depends on Java version:

PDF from attachment:
![изображение](https://user-images.githubusercontent.com/5559926/111480326-ed137a00-8742-11eb-8679-56928659947e.png)

Oracle Java 1.8.0_271:
![изображение](https://user-images.

[2021-03-17 15:23] manuel489 opened #103 "Brochure review: right separation in Delta symbol"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

I find the separation between `Delta` symbol and whatever other symbol at its right is longer than normal.

For example, from *mep-metre-definition-en.pdf*

*Generated:*
![issue-delta-generated](https://user-images.githubusercontent.com/33627611/111492132-cc333080-8712-11eb-88fc-4a5999773ef8.PNG)

*Original:*
![issue-delta-o

[2021-03-17 18:34] Intelligent2013 commented on #103
Delta encoded in `mo` tag:
[code]

To decrease a distance between Delta and char at right, I need to add an attribute `rspace="0.25em"` on-fly via xslt.

[2021-03-17 19:00] Intelligent2013 commented on #103
Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/111523324-33c99a00-876c-11eb-93fd-4e087f29ead6.png)

[2021-03-18 11:09] manuel489 opened #104 "Brochure review: prepended "Chapter" word in equation references"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/87*

From *mep-mole-definition-en.pdf*,
The word "Chapter" is prepended to equation cross-references

![issue-prepended-chapter](https://user-images.githubusercontent.com/33627611/111616041-cf342c80-87b7-11eb-91fd-6740f1345ff2.PNG)

[2021-03-18 12:33] manuel489 commented on #97
@Intelligent2013, the document control table is looking a little strange (to me):

[2021-03-18 13:49] manuel489 commented on #97
As requested by @Intelligent2013,
Files related:  [guide-ccl-metre-realization-3-en.zip](https://github.com/metanorma/bipm-si-brochure/files/6164599/guide-ccl-metre-realization-3-en.zip)

[2021-03-18 14:14] Intelligent2013 commented on #97
BIPM XSLT updated. Now it renders for source XML:
[code]
as
![изображение](https://user-images.githubusercontent.com/5559926/111640133-f1a46500-880c-11eb-9ed0-8fe7e4105c72.png)

To set table column width I use the same algorithm as for all xslts.

[2021-03-18 17:43] Intelligent2013 commented on #98
BIPM xslt updated for landscape page orientation processing:

![изображение](https://user-images.githubusercontent.com/5559926/111662085-ab590100-8820-11eb-8500-5c0d1042cff7.png)

[2021-03-20 12:32] anermina opened #107 "Generating brackets in PDF"
Brackets are not generated in PDF for the following type of expression: `stem:[2.3 ("unitsml(cm)")^3]`.

In HTML, there is a regular `mfenced` expression, but it seems to be ignored in PDF:
[code]
Original (left) vs. generated (right) PDF:
![image](https://user-images.githubusercontent.com/55683568/111869527-474d4e80-8980-11eb-9544-4b9b4ee595cb.png)

HTML output:
![image](https://user-images.githu

[2021-03-20 13:06] anermina opened #108 "Generating BIPM SI brochure title in PDF"
Document title looks different (in terms of boldfaced items) when opened on MAC and Windows OS.

Original (left) vs. generated (right, Windows OS) PDF:
![image](https://user-images.githubusercontent.com/55683568/111870489-571b6180-8985-11eb-90e3-99111f6a083c.png)

Generated (MAC OS):
![image](https://user-images.githubusercontent.com/55683568/111870482-4c60cc80-8985-11eb-828b-fe2ce278043c.png)

[2021-03-20 13:39] Intelligent2013 commented on #108
@anermina It seems that WorkSans fonts didn't embedded into PDF. Could check it? (by press CTRL-D in Adobe Reader,or via menu File->Properties, tab Fonts)

Should be:
![изображение](https://user-images.githubusercontent.com/5559926/111871344-740e5f80-899a-11eb-9a0d-a41a751a5f8f.png)

But I assume that in your case font SourceSansPro is using instead of WorkSans:
![изображение](https://user-images.

[2021-03-20 13:45] anermina commented on #108
Yes, I don't see WorkSans. I have these:
![image](https://user-images.githubusercontent.com/55683568/111871468-84b6d980-898a-11eb-9a72-1ae4f9a7c134.png)
![image](https://user-images.githubusercontent.com/55683568/111871479-95674f80-898a-11eb-87d3-ceb4c0a26116.png)
![image](https://user-images.githubusercontent.com/55683568/111871487-a0ba7b00-898a-11eb-9d86-297bcb7be53e.png)
![image](https://user-i

[2021-03-20 14:14] Intelligent2013 commented on #107
@anermina could you attach a file si-brochure-fr.presentation.xml, please?

[2021-03-20 14:18] Intelligent2013 commented on #108
It seems this issue relates to https://github.com/metanorma/mn-samples-iso/issues/58.

[2021-03-20 14:18] anermina commented on #107
Sure, it is attached. The same happens in EN version, so I'm attaching English and collection presentation XMLs as well.
[presentation-xml.zip](https://github.com/metanorma/bipm-si-brochure/files/6175756/presentation-xml.zip)

[2021-03-20 14:43] Intelligent2013 commented on #107
This issue is a side effect of solution for issue https://github.com/metanorma/bipm-si-brochure/issues/69.
I'll try to find more robust solution.

[2021-03-20 15:33] ronaldtse commented on #108
Agree with @Intelligent2013 , likely.

[2021-03-20 16:46] Intelligent2013 commented on #107
Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/111877282-a8424a00-89b3-11eb-8345-c7ca39007067.png)

[2021-03-21 08:43] opoudjis commented on #104
Container-based cross-reference of formulas (identifying them with containing clause) is default, inherited from ISO style; overriding in BIPM.

[2021-03-21 08:53] #104 closed

[2021-03-21 19:54] anermina commented on #107
Looks good now! Thanks @Intelligent2013 .

[2021-03-21 19:54] #107 closed

[2021-03-22 13:57] manuel489 commented on #97
This fixed now, thanks!

[2021-03-22 13:57] #97 closed

[2021-03-23 20:41] manuel489 commented on #99
Thanks!

[2021-03-23 20:41] #99 closed

[2021-03-29 11:28] opoudjis commented on #87
Change incorporated into twitter-cldr: https://github.com/twitter/twitter-cldr-rb/pull/240

[2021-03-30 18:34] manuel489 commented on #100
This is fixed. Thanks!
Closing.

[2021-03-30 18:34] #100 closed

[2021-03-30 18:34] manuel489 commented on #103
Excellent, thank you.
Closing.

[2021-03-30 18:34] #103 closed

[2021-03-30 18:37] manuel489 commented on #98
This is fixed. Thank you!

[2021-03-30 18:37] #98 closed

[2021-04-03 20:34] anermina commented on #84
This is merged. Closing.

[2021-04-03 20:34] #84 closed

[2021-04-06 20:11] anermina opened #110 "JCGM 100:2008 (EN): Subfigures notation (continues #112)"
Subfigures notation differs in the original and generated document. In cross-references, original uses Figure 1 a), while generated doc uses Figure 1-1). Below the figure itself, original places a) only, while generated doc keeps the same notation as in cross-references.

Original:
![image](https://user-images.githubusercontent.com/55683568/113758413-1efd7800-9714-11eb-8a59-673ca128d704.png)

Gene

[2021-04-06 20:12] anermina opened #111 "JCGM 100:2008 (EN): Generating "Annex" in title (continues #112)"
Annexes are generated as appendices regardless of using `[appendix, obligation = normative]` attribute in source .adoc.

Original:
![image](https://user-images.githubusercontent.com/55683568/113766339-94217b00-971d-11eb-9a88-394d1b8893e8.png)

Generated:
![image](https://user-images.githubusercontent.com/55683568/113766364-9b488900-971d-11eb-91f2-c8718a0f3c08.png)

[2021-04-09 08:34] ronaldtse commented on #108
I'm still seeing this problem even on my local generation:
<img width="654" alt="Screenshot 2021-04-09 at 4 34 20 PM" src="https://user-images.githubusercontent.com/11865/114152968-6e7cb780-9951-11eb-9373-a27454deb2d8.png">

[2021-04-09 08:39] CAMOBAP commented on #108
Yep looks like it's the same issue metanorma/mn-samples-iso#58 waiting for https://github.com/metanorma/isodoc/commit/5fa434cd7af682f804cee96b88cfd1c8bfa9b653 release

[2021-04-09 08:54] ronaldtse commented on #108
@CAMOBAP it's a different problem here. I have changed to using Git gems but the same problem appears:

[code]

In addition, `fontist list` tells me that all Work Sans fonts are installed:

[code]

@Intelligent2013 @CAMOBAP can you help here? Thanks.

[2021-04-09 08:55] ronaldtse commented on #108
@CAMOBAP FYI that *each line* in the title uses a *different font style*.

[2021-04-09 09:31] ronaldtse commented on #108
@CAMOBAP has a solution and apparently this is a bug.

[2021-04-09 09:46] Intelligent2013 commented on #108
@ronaldtse could you attach a log for mn2pdf? In log should be exact warning about font's file name which can't be found.

[2021-04-09 09:50] CAMOBAP commented on #108
@Intelligent2013 @ronaldtse I already found the issue missing font-mainfest argument PR on the way

[2021-04-09 09:53] CAMOBAP commented on #108
@ronaldtse @anermina can you confirm that the attached sample use the correct fonts?

 - [collection_en.pdf](https://github.com/metanorma/bipm-si-brochure/files/6284811/collection_en.pdf)
 - [collection_fr.pdf](https://github.com/metanorma/bipm-si-brochure/files/6284813/collection_fr.pdf)
 - [collection.pdf](https://github.com/metanorma/bipm-si-brochure/files/6284814/collection.pdf)

Fonts:
[code]

[2021-04-09 09:55] CAMOBAP commented on #108
PRs:
 - https://github.com/metanorma/isodoc/pull/286
 - https://github.com/metanorma/metanorma-bipm/pull/134

I need to add some tests to prevent in future

[2021-04-09 10:00] CAMOBAP commented on #108
@Intelligent2013 @ronaldtse maybe you can suggest where I can take a minimal XML to be used as input for `mn2pdf`. I have checked https://github.com/metanorma/mn2pdf/tree/master/src/test/resources but all of them are ~200kb or more

[2021-04-09 10:06] ronaldtse commented on #108
@Intelligent2013 here's the trace for manually executing mn2pdf via JAR:

[code]

[2021-04-09 10:10] CAMOBAP commented on #108
@Intelligent2013 if I understand it correctly if we will change `~/.metanorma/fonts` to `~/.fontist/fonts`, `--font-manifest` will be not required, right?

[2021-04-09 10:11] ronaldtse commented on #108
But @CAMOBAP we will still want to namespace the fonts used by Metanorma in case? Not everyone uses Fontist.

[2021-04-09 10:13] CAMOBAP commented on #108
@ronaldtse got you in this case PRs above should solve the problem https://github.com/metanorma/bipm-si-brochure/issues/108#issuecomment-816568801 - feel free to review

[2021-04-09 10:18] Intelligent2013 commented on #108
@CAMOBAP for testing purpose you can use this xml:
[collection.mintest.presentation.zip](https://github.com/metanorma/bipm-si-brochure/files/6284947/collection.mintest.presentation.zip)

[2021-04-09 10:25] Intelligent2013 commented on #108
@ronaldtse
In
[code]

there isn't parameter `--font-manifest <file>` for fontist manifest file.
If `--font-manifest` is not specified, then mn2pdf will find fonts in the folder ~/.metanorma/fonts, and will download Source* and Stix2Math fonts.
If `--font-manifest` specified, then mn2pdf uses all fonts in paths specified in manifest file.

@ronaldtse I don't know what does mean `java.awt.FontFormat

[2021-04-09 10:38] Intelligent2013 commented on #108
Fontist installs al required fonts for concrete flafor. We should inform to mn2pdf about these fonts (font name, style and file path). mn2pdf has some default config with fonts, but it's not robust in some case.

[2021-04-09 18:54] ronaldtse commented on #108
@CAMOBAP

Nope, they are not using the correct fonts.

As @anermina posted, the left is correct, right is incorrect. The files you listed have the display of the right side.

![](https://user-images.githubusercontent.com/55683568/111870489-571b6180-8985-11eb-90e3-99111f6a083c.png)

[2021-04-09 19:03] ronaldtse commented on #108
I was able to generate with the correct fonts by adding `-f ~/.fontist/fonts` to the mn2pdf.jar call, which confirms that the fonts and the PDF work (just a matter of not finding the fonts).

<img width="552" alt="Screenshot 2021-04-10 at 3 03 34 AM" src="https://user-images.githubusercontent.com/11865/114228653-56d11d80-99a9-11eb-87d9-02ed76fb1cab.png">

@CAMOBAP 's fixes to isodoc and metanorma-

[2021-04-09 19:14] CAMOBAP commented on #108
@ronaldtse one more part is missing here https://github.com/metanorma/metanorma/blob/master/lib/metanorma/collection_renderer.rb#L74 we don't pass font manifest for collection.pdf, I will take care of it

[2021-04-09 19:15] ronaldtse commented on #108
Thanks @CAMOBAP !

[2021-04-10 11:10] CAMOBAP commented on #108
- metanorma/isodoc#286
    - metanorma/metanorma-standoc#456
       - metanorma PR on the way (updating unit tests)
 - metanorma/metanorma-bipm#134

Local [collection.pdf](https://github.com/metanorma/bipm-si-brochure/files/6289696/collection.pdf) now looks correct

[2021-04-10 11:24] ronaldtse commented on #108
Looks correct! @CAMOBAP is the GHA generated version also correct?

[2021-04-10 12:32] CAMOBAP commented on #108
The fix still on PR "stage"

@ronaldtse @opoudjis could you please review those PRs together, I feel like I can missing something

[2021-04-13 10:58] ronaldtse commented on #108
Closing since this is done.

[2021-04-13 10:58] #108 closed

[2021-04-15 02:45] ronaldtse commented on #30
BIPM's publication department is now reviewing the document, let's see if they notice this.

[2021-06-13 06:03] ronaldtse opened #112 "Split off individual issues from BIPM publishing department comment files"
We’ve received feedback from BIPM’s English version, their publishing department gave over 1,100 comments.

They recognize most of these being repetitive comments on a few minor issues, but there are some real ones.

There are two copies of the commented document:
1. With all 1,100 comments including minor and repetitive issues
2. A cut-down version with repetitive issues removed.

I will post the

[2021-06-14 02:32] ronaldtse commented on #112
Full comments (1,100 comments):
[si-brochure-enfr_rs_030621.pdf](https://github.com/metanorma/bipm-si-brochure/files/6645205/si-brochure-enfr_rs_030621.pdf)

Only important comments (480 comments):
[si-brochure-enfr_rs_030621 - essentiel comments.pdf](https://github.com/metanorma/bipm-si-brochure/files/6645207/si-brochure-enfr_rs_030621.-.essentiel.comments.pdf)

Many comments originate from the f

[2021-06-14 02:33] ronaldtse opened #113 "BIPM review: ToC missing content after Appendix 4"
<img width="605" alt="image" src="https://user-images.githubusercontent.com/11865/121832103-d954c100-ccfb-11eb-9615-b2ccb02d349f.png">

[2021-06-14 02:35] ronaldtse opened #114 "BIPM review: no gaps between solidus symbol `/`"
This is a general comment that applies to many locations.

No gaps should exist in around the solidus `/` symbol as according to ISO 80000. This is seen in both units and math rendering.

It seems to be resolvable via adding extra spaces in MathML or tweaking the PDF rendering.

<img width="611" alt="Screenshot 2021-06-14 at 10 34 39 AM" src="https://user-images.githubusercontent.com/11865/1218322

[2021-06-14 02:38] ronaldtse opened #115 "BIPM review: numbers grouped in decimal groups have indistinct spaces in between"
The spacing between decimal groups are occasionally indistinct, perhaps due to the rendering. This can be fixed either in MathML (by adding extra spaces) or in PDF rendering (by preventing the compression of formulas to a certain extent).

<img width="622" alt="image" src="https://user-images.githubusercontent.com/11865/121832354-6d268d00-ccfc-11eb-8047-04ba7a406276.png">

[2021-06-14 02:39] manuel489 commented on #112
Ok @ronaldtse

[2021-06-14 02:39] ronaldtse opened #116 "BIPM review: should have extra spacing around multiplication `x` sign"
<img width="462" alt="Screenshot 2021-06-14 at 10 38 31 AM" src="https://user-images.githubusercontent.com/11865/121832472-af4fce80-ccfc-11eb-9aba-6c19ed322b17.png">

[2021-06-14 02:40] ronaldtse opened #117 "BIPM review: is it possible to keep a table on the same page?"
Question for @Intelligent2013

<img width="754" alt="Screenshot 2021-06-14 at 10 39 39 AM" src="https://user-images.githubusercontent.com/11865/121832526-d7d7c880-ccfc-11eb-8e25-04f5adb2fc43.png">

[2021-06-14 05:22] Intelligent2013 commented on #113
@ronaldtse we could show 2nd-level annex subsections in the ToC for `Appendix 4`, at first glance xml allows to do it:
[code]

Resulted PDF:
![image](https://user-images.githubusercontent.com/5559926/121842072-55dda480-cce8-11eb-9801-d13d070de3bf.png)

BUT `Appendix 1` also has 2nd-level subsections (original PDF doesn't contain subsections in ToC for Appendix 1):
[code]
Resulted PDF:
![image](htt

[2021-06-14 06:38] Intelligent2013 commented on #115
I can't repeat this issue. PDF looks ok:
![image](https://user-images.githubusercontent.com/5559926/121849039-87a83880-ccf3-11eb-911b-22cdc9e71ab3.png)

[2021-06-14 07:02] ronaldtse commented on #115
@Intelligent2013 the review says that the spacing is not notable enough.

I see this issue in macOS Preview:

<img width="806" alt="Screenshot 2021-06-14 at 3 00 14 PM" src="https://user-images.githubusercontent.com/11865/121851864-3d3db080-cd21-11eb-8f21-cba41dd3b2b5.png">

Also in macOS Acrobat Reader:

<img width="1003" alt="Screenshot 2021-06-14 at 3 02 11 PM" src="https://user-images.githubus

[2021-06-14 07:13] ronaldtse opened #118 "BIPM review: math formulas are not copy/pastable"
From BIPM:

This is similar to the requests here:
* https://tex.stackexchange.com/questions/352649/can-we-get-maths-in-pdfs-that-can-be-copy-pasted-and-screen-read
* https://tex.stackexchange.com/questions/233390/in-which-way-have-fake-spaces-made-it-to-actual-use/233397#233397

Which indicates that it is possible to provide different presentational content and copy/paste content in PDF.

The `acc

[2021-06-14 12:27] Intelligent2013 commented on #117
@ronaldtse in xsl-fo there is a property `keep-together.within-column` that allows to achieve this behavior. There is a few cases:
1. we can set `keep-together.within-column` globally for each BIPM table. It allows to solve this concrete issue:
![image](https://user-images.githubusercontent.com/5559926/121890104-a5d95d00-cd22-11eb-8473-4237635ad77d.png)

but it has a side-effect, when there is eno

[2021-06-14 12:34] Intelligent2013 commented on #115
In the source xml there are 'narrow non-break spaces` between decimal groups:
[code]
 Source PDF has simple spaces. I've modified xslt to replace `&#8290;` chars by spaces in `mn` elements. Resulted PDF:

![image](https://user-images.githubusercontent.com/5559926/121892785-d8388980-cd25-11eb-9f9a-0dacff4525dc.png)

[2021-06-14 12:36] Intelligent2013 commented on #116
Xslt updated. Extra spacing added around `x` sign:
![image](https://user-images.githubusercontent.com/5559926/121893017-28175080-cd26-11eb-8927-6860628982d4.png)

[2021-06-14 12:39] Intelligent2013 commented on #114
Xslt updated. Gaps reduced before and after `/`:
![image](https://user-images.githubusercontent.com/5559926/121893361-8d6b4180-cd26-11eb-80e3-b08696a5e3e2.png)

[2021-06-14 13:37] manuel489 opened #119 "BIPM review: check units encoding"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:

![issue1](https://user-images.githubusercontent.com/33627611/121900689-ad354200-ccf3-11eb-9fd8-0ee80dd0abe8.PNG)

I don't see the problem in these cases.
The markup looks correct:

[code]

Maybe in mac OS looks different?

[2021-06-14 13:55] manuel489 opened #120 "BIPM review: different size parentheses"
*In relation https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:

![issue2-3](https://user-images.githubusercontent.com/33627611/121903635-7f9dc800-ccf6-11eb-9420-a29094abdef5.PNG)

Parentheses at denominator are in different sizes.

Here's another case:

![issue2-4](https://user-images.githubusercontent.com/33627611/121904230-02268780-ccf7-11eb-869c-54664272b9fd.PNG)

[2021-06-14 14:18] manuel489 opened #121 "BIPM review: sans-serif fonts shown as serif fonts for dimension symbols"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

Original:
<img width="621" alt="Screenshot 2021-06-17 at 9 44 25 PM" src="https://user-images.githubusercontent.com/11865/122408779-362ed080-cfb5-11eb-9805-c79ee0345f22.png">

Rendered:

![issue3](https://user-images.githubusercontent.com/33627611/121906622-474bb900-ccf9-11eb-896e-32ceb10fffb6.PNG)

`stem:[sf "I"]` and `ste

[2021-06-14 15:54] manuel489 opened #122 "BIPM review: some quantity symbol fonts show differently to original version"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

Some fonts are shown different to original version.

From BIPM:

![issue4-1](https://user-images.githubusercontent.com/33627611/121920719-4cfbcb80-cd06-11eb-9cb9-50bdeb7c422e.PNG)

Original version:

![issue4-2](https://user-images.githubusercontent.com/33627611/121920809-64d34f80-cd06-11eb-85e1-5a248d46b09a.PNG)

For *"spe

[2021-06-14 16:02] manuel489 opened #123 "BIPM review: indent line after line-break in table environment."
From BIPM:

![issue5](https://user-images.githubusercontent.com/33627611/121922529-0d35e380-cd08-11eb-9ea6-013d9954e0f7.PNG)

BIPM is requesting to indent lines after line break so that it doesn't look like two separate derived quantities.

[2021-06-14 18:40] manuel489 opened #124 "BIPM review: remove sentence part in header"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:

![issue7](https://user-images.githubusercontent.com/33627611/121942295-52651000-cd1e-11eb-806c-a1e65f88cd97.PNG)

Original version:

![issue7-2](https://user-images.githubusercontent.com/33627611/121942403-6f99de80-cd1e-11eb-8a70-15c9b128b70b.PNG)

[2021-06-14 18:59] manuel489 commented on #124
Also this part:

![issue9-1](https://user-images.githubusercontent.com/33627611/121944852-226b3c00-cd21-11eb-83bd-1eab38c42646.PNG)

Original:
![issue9-2](https://user-images.githubusercontent.com/33627611/121944883-28f9b380-cd21-11eb-9d8e-6bbbc315dd05.PNG)

[2021-06-14 19:19] manuel489 opened #125 "BIPM review: remove space between comma and math symbol"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:
![issue10](https://user-images.githubusercontent.com/33627611/121946496-fd77c880-cd22-11eb-9c1d-0ec1efa15d82.PNG)

Original:
![issue10-2](https://user-images.githubusercontent.com/33627611/121947253-d8378a00-cd23-11eb-93ac-ce2401d41a00.PNG)

I remember that we had previously aggreged on introducing a space by def

[2021-06-14 20:03] Intelligent2013 commented on #118
Apache FOP has a limitation (https://xmlgraphics.apache.org/fop/2.5/accessibility.html#limitations):
* SVG graphics (or images in general) are treated as a single figure. Text contained in SVGs is not accessible. It's only possible to work with fox:alt-text.

In the current version of xslt, the attribute `fox:alt-text` for mathml contains just word 'Math':
[code]
Internally in PDF it added as `/Al

[2021-06-14 21:17] manuel489 opened #126 "BIPM review: extra vertical space (or line break)"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:
![issue11](https://user-images.githubusercontent.com/33627611/121960425-10df5f80-cd34-11eb-98e7-1641a9572b11.PNG)

There is extra vertical space between the paragraphs shown above.

[2021-06-14 21:27] manuel489 opened #127 "BIPM review: minor signs look like dashes and spaces after commas"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

![issue12](https://user-images.githubusercontent.com/33627611/121961152-0a9db300-cd35-11eb-825b-daf017d4c6a2.PNG)

According to BIPM, there are two issues in this part:

1. *Minor signs look like dashes and there should be no space between the minus sign and the digits.*
2. *There should be no spaces after the commas*

[2021-06-14 22:37] manuel489 opened #128 "BIPM review: hyphen shown as em-dash"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:
![issue13](https://user-images.githubusercontent.com/33627611/121968065-8b61ac80-cd3f-11eb-80ad-c12c1b31e3d4.PNG)

Original:
![issue13-2](https://user-images.githubusercontent.com/33627611/121968072-90266080-cd3f-11eb-888c-6e893db014e3.PNG)

[2021-06-14 23:08] manuel489 opened #129 "BIPM review: replace example block for side note block?"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

BIPM has requested to change the presentation of an example block to side note
in order to avoid breaking across pages:

![issue14-1](https://user-images.githubusercontent.com/33627611/121969966-79820880-cd43-11eb-802f-61e85ef93a39.PNG)

Original version:
![issue14-2](https://user-images.githubusercontent.com/33627611/12196

[2021-06-14 23:15] manuel489 opened #130 "BIPM review: wrong right double quote"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:
![issue15](https://user-images.githubusercontent.com/33627611/121970530-c1555f80-cd44-11eb-9a1b-fe582db4eed9.PNG)

(I think this is a known issue already.)

[2021-06-14 23:17] ronaldtse commented on #128
We just need to make sure to use whatever was in the original document that was cited. @manuel489 can you check?

[2021-06-14 23:21] manuel489 commented on #128
In the markup, I used a hyphen:

[code]

[2021-06-14 23:30] ronaldtse commented on #128
Ok so this is a bug in either MN or PDF. However, the original document uses an em dash, so we should follow that: https://www.bipm.org/documents/20126/2071204/JCGM_100_2008_E.pdf/cb0ef43f-baa5-11cf-3f85-4dcd86f77bd6

[2021-06-14 23:34] manuel489 opened #131 "BIPM review: Quoted resolution content as numbered list items"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:
![issue16](https://user-images.githubusercontent.com/33627611/121971712-66713780-cd47-11eb-8c82-e9d1dd33253c.PNG)

According to BIPM:
1. Numbered list items should be enclosed in parentheses
2. Paragraph of side notes should be left-aligned.

[2021-06-14 23:36] manuel489 commented on #128
I see... ok.

[2021-06-14 23:43] manuel489 commented on #128
But still, hyphens do render as em-dashes. It seems deliberate.

[2021-06-15 00:07] ronaldtse commented on #128
I think that has to be a bug, either in the XML or PDF. @Intelligent2013 can you check? Thanks.

[2021-06-15 02:43] ronaldtse commented on #127
I'm not sure if this is an XML or PDF error.

[2021-06-15 02:48] ronaldtse commented on #122
@manuel489 we had this same question before, and the specific guidance from Michael Stock (Director of Physics at BIPM) was to write "v", not "upsilon" or "nu".

Can you find the original ticket and link it here?

[2021-06-15 09:36] ronaldtse commented on #118
@Intelligent2013 I think we have to do two things:

1. Set alt text (if we cannot set "actual text") for the SVG formulas to the AsciiMath/LaTeX math (for screen readers to read)
2. Create a PDF comment for each of the SVG formulas to AsciiMath/LaTeX math or MathML (for people to copy out formulas).

[2021-06-15 20:13] manuel489 opened #132 "BIPM review: font size and font style in ToC of Appendix 1"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:
![issue17](https://user-images.githubusercontent.com/33627611/122116797-0b494e80-cdf4-11eb-8fa8-d03731aa6a84.PNG)

Original version:
![issue17-2](https://user-images.githubusercontent.com/33627611/122117012-54999e00-cdf4-11eb-9bfb-20eefb5daa50.PNG)

According to BIPM:

1. *"Table of Contents of Appendix 1"* text

[2021-06-15 20:26] manuel489 opened #133 "BIPM review: remove bold text from subclause in Appendix 1"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:
![issue18-1](https://user-images.githubusercontent.com/33627611/122118400-fbcb0500-cdf5-11eb-83d4-d4edbfed528a.PNG)

Original version:
![issue18-2](https://user-images.githubusercontent.com/33627611/122118432-01c0e600-cdf6-11eb-8642-8692544165f1.PNG)

We need to remove boldface in the indicated part above.
Maybe

[2021-06-15 20:50] manuel489 commented on #133
Another case would be:

From BIPM:
![issue18-3](https://user-images.githubusercontent.com/33627611/122121571-c9bba200-cdf9-11eb-8f0a-da7116640c5b.PNG)

Original version:
![issue18-4](https://user-images.githubusercontent.com/33627611/122121588-d0e2b000-cdf9-11eb-889a-cfceae7cdc68.PNG)

[2021-06-15 23:50] opoudjis commented on #122
https://github.com/metanorma/metanorma-bipm/issues/2#issuecomment-688231121

[2021-06-16 03:26] manuel489 opened #134 "BIPM review: CI-2013 NOTE block location"
*In relation to https://github.com/metanorma/bipm-si-brochure/issues/112*

From BIPM:
![issue20-1](https://user-images.githubusercontent.com/33627611/122153489-1d95ad80-ce31-11eb-9719-884c970e9eac.PNG)

Original version:
![issue20-2](https://user-images.githubusercontent.com/33627611/122153417-f048ff80-ce30-11eb-99e5-2efff27150da.PNG)

I tried to fix this by markup but got odd results.

[2021-06-16 03:30] manuel489 commented on #134
In order to fix the issue, I tried to pass from this:

[code]

to this:

[code]

But I got an odd result: the note was misplaced.

[2021-06-16 03:55] manuel489 opened #135 "BIPM review: correct indentation and font style in Appendix 1"
*In relation to #112*

From BIPM:
![issue21-1](https://user-images.githubusercontent.com/33627611/122155486-11abea80-ce35-11eb-801c-4325ad4000eb.PNG)

Original version:
![issue21-2](https://user-images.githubusercontent.com/33627611/122155493-14a6db00-ce35-11eb-98d6-57291dd5c064.PNG)

(Same with *Appendix 2* and *Appendix 3*.)

[2021-06-16 04:00] ronaldtse commented on #134
@manuel489 I'm not convinced that this markup change is correct, but the BIPM did indicate that they wanted to see the resolutions in a similar placement as before.

Full screenshot:
<img width="540" alt="Screenshot 2021-06-16 at 11 58 58 AM" src="https://user-images.githubusercontent.com/11865/122155767-41410e00-ce9a-11eb-988a-567d516d39d3.png">

[2021-06-16 04:03] ronaldtse commented on #122
Thanks @opoudjis , the specific comment is this: https://github.com/metanorma/metanorma-bipm/issues/2#issuecomment-692057111 . Closing this issue as resolved.

[2021-06-16 04:03] #122 closed

[2021-06-16 04:15] manuel489 commented on #134
Well, if we want to remove such indentation, I think the change that I proposed would serve.
But, the thing is, if I do so, the note block gets positioned in an odd place.

I mean, this:

Markup,
[code]

Result:
![issue-a1](https://user-images.githubusercontent.com/33627611/122156624-56d11c00-ce37-11eb-8087-3431546933fb.PNG)

The note block should be placed where the red arrow indicates.

[2021-06-16 04:18] manuel489 opened #136 "BIPM review: remove square bullet on sub-clause title"
*In relation to #112*

From BIPM:
![issue22-1](https://user-images.githubusercontent.com/33627611/122155923-eece0600-ce35-11eb-9733-975a1a231c44.PNG)

Original version:
![issue22-2](https://user-images.githubusercontent.com/33627611/122157100-42d9ea00-ce38-11eb-95ba-efa4bc65e26e.PNG)

[2021-06-16 04:29] manuel489 commented on #136
Also in this part:
![issue23-1](https://user-images.githubusercontent.com/33627611/122158012-e37cd980-ce39-11eb-8445-19740c3220a0.PNG)

Original version:
![issue23-2](https://user-images.githubusercontent.com/33627611/122158028-ed064180-ce39-11eb-996a-7b3bc6066d18.PNG)

[2021-06-16 10:29] Intelligent2013 commented on #120
jEuclid automatically sets the height of `mfenced` element depends on own content, but not neighboring elements.
Now, the height increased by adding `<mspace height="1.15em"/>` if there is preceding or following `mfenced` with superscript.

![image](https://user-images.githubusercontent.com/5559926/122202993-4441fb80-cea6-11eb-8eeb-b86559c1fabe.png)

![image](https://user-images.githubusercontent.

[2021-06-16 14:54] Intelligent2013 commented on #123
XSLT updated. Now, it adds hanging indent for first table cell in a row.
![image](https://user-images.githubusercontent.com/5559926/122241831-87629580-cecb-11eb-9e37-9c48dc05a892.png)

[2021-06-16 15:54] manuel489 commented on #131
Also there is this:
![issue24-1](https://user-images.githubusercontent.com/33627611/122252709-8dd81980-ce99-11eb-8737-9221fc1d592e.PNG)

Original version:
![issue24-2](https://user-images.githubusercontent.com/33627611/122252749-94ff2780-ce99-11eb-866f-b2a8b54efada.PNG)

[2021-06-16 16:03] Intelligent2013 commented on #124
Xslt displays 1st level clause's titles in the page's header. But BIPM in original PDF displays a short form, e.g.:

3. `Decimal multiples and sub-multiples of SI units` -> `Decimal multiples and sub-multiples`
4. `Non-SI units that are accepted for use with the SI`-> `Non-SI units`
5. `Writing unit symbols and names, and expressing the values of quantities` -> `Writing unit symbols and names`

I

[2021-06-16 16:48] Intelligent2013 commented on #125
Space was added for https://github.com/metanorma/mn2pdf/issues/61. Xslt adds small space after `mi` (if not next mtext=non-break space).

For example, this mathml:
[code]
becomes:
[code]

Now, I've modified xslt to dismiss cases, when `mi=,` in `msub`. PDF renders so:
![image](https://user-images.githubusercontent.com/5559926/122259763-2b077200-cedb-11eb-9d6f-2489f5f6b725.png)

This modification a

[2021-06-16 16:59] Intelligent2013 commented on #126
Extra vertical space arises because there is side note at right side:

![image](https://user-images.githubusercontent.com/5559926/122260849-6bb3bb00-cedc-11eb-8e5b-02b2c158cf0d.png)

I can't to do anymore here. Workaround solution for processing side nodes was very complicated, and if solve this concrete issue, then another issues will occur again.

[2021-06-16 17:14] Intelligent2013 commented on #130
@opoudjis this issue occurs due char comma after quote.
MN xml:
[code]
If we add space after quote and before comma (just for experiment)
adoc:
[code]
then last quote is ok:
[code]

[2021-06-16 17:43] Intelligent2013 commented on #128
@ronaldtse looks like there is a bug (or feature) in XML.

Source adoc:
[code]
Hex: 20(space) 2D(hyphen-minus) 20(space)

MN xml:
[code]
Hex: 2009(thin space) 2014(em dash) 2009(thin space)

I've removed spaces around 2D (just for experiment) and xml contains it 'as is'
[code]

[2021-06-16 17:51] manuel489 opened #137 "BIPM review: sans serif math symbols looking too separate in between"
*In relation to #112*

BIPM is requesting to use sans serif font style in certain math symbols.
From BIPM:
![issue25-1](https://user-images.githubusercontent.com/33627611/122265786-1b6e3600-cea7-11eb-84b8-deccf5abb2c3.PNG)

However, if the symbol has more than one letter, these look kind of separate
in comparison with original version.

For example:
![issue25-3](https://user-images.githubuserconte

[2021-06-16 17:56] manuel489 commented on #137
Also notice that I'll have to discard `"unitsml(...)"` attribute.

[2021-06-16 18:20] manuel489 opened #138 "BIPM review: indent certain unordered list to right"
*In relation to #112*

BIPM is requesting to indent certain unordered lists to right:
![issue26-1](https://user-images.githubusercontent.com/33627611/122271866-e7e2da00-cead-11eb-999a-3a202506b06f.PNG)

Original version:
![issue26-2](https://user-images.githubusercontent.com/33627611/122271890-efa27e80-cead-11eb-80fb-7a14b7bae7fb.PNG)

[2021-06-16 18:57] Intelligent2013 commented on #127
2nd issue is a side-effect of https://github.com/metanorma/mn2pdf/issues/61.
All fixed, xslt updated:
![image](https://user-images.githubusercontent.com/5559926/122276581-99edc680-ceed-11eb-95cc-d4b40f3c93ca.png)

[2021-06-17 00:57] ronaldtse commented on #128
This seems to be a bug in MN XML generation. Ping @opoudjis

[2021-06-17 03:32] ronaldtse commented on #138
@Intelligent2013 this may be a generic unordered list indentation issue. Can we indent all unordered list items?

[2021-06-17 03:35] ronaldtse commented on #137
@manuel489 we clearly have to keep UnitsML.

This is probably a UnitsML rendering bug (@opoudjis )

These comments come from the BIPM publication department instead of the scientific departments (whom we are accountable to), so their opinions can be different.

We will clarify with the scientific departments on the font usage of these units.

[2021-06-17 04:30] ronaldtse commented on #126
This is not to be fixed because it is a feature, this is correct.

[2021-06-17 04:30] #126 closed

[2021-06-17 04:33] ronaldtse commented on #126
This was already agreed upon with Michael Stock of BIPM in https://github.com/metanorma/mn-native-pdf/issues/268#issuecomment-714524889 .

[2021-06-17 04:50] ronaldtse commented on #119
The encoding is correct in UnitsML. This may be related to one of their comments that a reader can't copy / paste units, which is a separate problem with copying math in general. Closing.

[2021-06-17 04:50] #119 closed

[2021-06-17 04:50] #114 closed

[2021-06-17 04:51] ronaldtse commented on #124
I'm not convinced this is the correct solution. We will seek clarification.

[2021-06-17 04:51] ronaldtse commented on #120
Thanks @Intelligent2013 !

[2021-06-17 04:51] #120 closed

[2021-06-17 05:28] ronaldtse commented on #130
I feel that "ppb" and "ppt" can be encoded in UnitsML.

Sounds like this is a Metanorma problem.

[2021-06-17 06:00] ronaldtse commented on #132
I wonder if this is more of an issue about the non-standard ToC we have here, this is a fake ToC.

As long as the main ToC and this "Resolutions ToC" are identical in style, I don't see an issue.

[2021-06-17 06:08] ronaldtse commented on #131
Not true - this specific comment only applies to this particular quote.

In fact, this is not an important point because the original text is this:

<img width="706" alt="Screenshot 2021-06-17 at 2 05 19 PM" src="https://user-images.githubusercontent.com/11865/122340613-124b9a80-cf75-11eb-9740-45bf6b09ae3d.png">

So the original text was an unnumbered list, not a numbered list.

We will need to cl

[2021-06-17 06:15] ronaldtse commented on #129
@manuel489 this is a layout issue, not an encoding issue. The updated layout looks fine.

In fact, this is the only instance of a properly encoded EXAMPLE in this document! So there are no side effects when we move this to the sidebar.

@Intelligent2013 can you help move EXAMPLEs to the sidebar?

[2021-06-17 06:16] ronaldtse commented on #127
Thanks @Intelligent2013 !

[2021-06-17 06:16] #127 closed

[2021-06-17 06:18] ronaldtse commented on #113
This treatment was already officially approved by Michael Stock of BIPM that for consistency reasons we don't need to show inner items of Appendix 4. So we don't need to do anything.

[2021-06-17 06:18] #113 closed

[2021-06-17 06:19] ronaldtse commented on #123
Thanks @Intelligent2013 !

[2021-06-17 06:19] #123 closed

[2021-06-17 06:20] ronaldtse commented on #125
@Intelligent2013 we shouldn't do case-by-case fixes but only general ones. Can we either insert spaces or not insert spaces between `<mi>` items?

[2021-06-17 06:25] ronaldtse commented on #135
@manuel489 Our style is correct.

1. In this document, serif text is used for content body, sans serif text is used for "quoted text". This was confirmed acceptable by Michael Stock of BIPM.
2. The indentation is not an issue here.

I don't think we need to fix this, but will report back to BIPM.

[2021-06-17 06:31] ronaldtse commented on #134
This is the original recommendation:

https://webcache.googleusercontent.com/search?q=cache:5mCuh7CxW68J:https://www.bipm.org/utils/en/pdf/CIPM/CIPM2013-EN.pdf

<img width="613" alt="Screenshot 2021-06-17 at 2 29 43 PM" src="https://user-images.githubusercontent.com/11865/122343620-7ae84680-cf78-11eb-8de8-26ea5e515acb.png">

As long as we find a way to place the NOTE at that level it would work.

[2021-06-17 06:31] ronaldtse commented on #134
Actually let me clarify with BIPM on this.

[2021-06-17 06:32] ronaldtse commented on #133
Note that "PV, 30, 119-122" is actually a citation.

[2021-06-17 06:37] ronaldtse commented on #131
Original resolution was presented like this:
https://www.govinfo.gov/content/pkg/GOVPUB-C13-8e9f1926a41baee80183b02744114d25/pdf/GOVPUB-C13-8e9f1926a41baee80183b02744114d25.pdf
<img width="1099" alt="Screenshot 2021-06-17 at 2 37 22 PM" src="https://user-images.githubusercontent.com/11865/122344605-8d16b480-cf79-11eb-92be-8396db877c48.png">

[2021-06-17 06:43] ronaldtse commented on #138
@Intelligent2013 actually upon re-reading this, we shouldn't do this. This is not semantically sane.

[2021-06-17 07:39] ronaldtse commented on #121
I will seek clarification from BIPM.

In any case, we do not want `stem:[sf "I"]` but with UnitsML encoding.

[2021-06-17 10:26] ronaldtse commented on #131
I'm going to split this ticket because the two issues are unrelated.

[2021-06-17 10:27] ronaldtse opened #140 "BIPM review: Presentation of CIPM 1946-42 Resolution 2"
Comment:
![issue24-1](https://user-images.githubusercontent.com/33627611/122252709-8dd81980-ce99-11eb-8737-9221fc1d592e.PNG)

Original version:
![issue24-2](https://user-images.githubusercontent.com/33627611/122252749-94ff2780-ce99-11eb-866f-b2a8b54efada.PNG)

_Originally posted by @manuel489 in https://github.com/metanorma/bipm-si-brochure/issues/131#issuecomment-862497461_

[2021-06-17 10:28] ronaldtse commented on #140
<img width="798" alt="Screenshot 2021-06-17 at 2 07 04 PM" src="https://user-images.githubusercontent.com/11865/122340803-50e15500-cf75-11eb-9fd4-57ffbe73154a.png">

I'm not sure how the original resolution is presented. Look at this:
https://www.bipm.org/en/committees/ci/cipm/42-1946/resolution-2

<img width="696" alt="Screenshot 2021-06-17 at 2 08 20 PM" src="https://user-images.githubuserconten

[2021-06-17 10:28] ronaldtse commented on #131
Ticket has been split.

[2021-06-17 10:36] ronaldtse commented on #131
@Intelligent2013 the only thing that needs to be done is:

We are seeking feedback from BIPM on the numbering.

[2021-06-17 10:37] ronaldtse commented on #140
Sought clarification from BIPM.

[2021-06-17 12:32] Intelligent2013 commented on #136
Xslt puts 'quad' marker for 3rd level titles in appendices. It was made specially for Appendix 1.
Original PDF:
![image](https://user-images.githubusercontent.com/5559926/122395475-afabcc00-cf7f-11eb-919a-d11e20a6bc41.png)

Resulted PDF:
![image](https://user-images.githubusercontent.com/5559926/122395533-c2260580-cf7f-11eb-962e-60d6ba56c473.png)

I can't distinguish titles in the appendices and u

[2021-06-17 13:16] #138 closed

[2021-06-17 13:39] ronaldtse commented on #121
Anyway the point is that the unicode points 1D5A8 and 1D5A9 are correct. The display aberration is a font-specific issue.

<img width="984" alt="Screenshot 2021-06-17 at 9 38 25 PM" src="https://user-images.githubusercontent.com/11865/122407655-5f029600-cfb4-11eb-9de0-c037f6e7572f.png">

[2021-06-17 13:54] Intelligent2013 commented on #121
Some investigation about how jEuclid works.
In jEuclid there are a list a predefined fonts for 'sans-serif', 'serif', 'monospaced', 'script', 'fraktur' and 'doublestruck'.
Example for `sans-serif`:
[code]
When we specify `mathvariant="sans-serif"`:
[code]
it means, that first found font from the list will be used for displaying text inside `<mstyle mathvariant="sans-serif">`. But not main font 'ST

[2021-06-17 14:01] ronaldtse commented on #121
@Intelligent2013 we need to ensure STIX Two Math is really used as the first font for jEuclid...

[2021-06-17 15:11] Intelligent2013 commented on #121
From jEuclid sources (`jeuclid\jeuclid-core\src\main\resources\net\sourceforge\jeuclid\UnicodeData.txt`):
[code]
`jeuclid\jeuclid-core\src\main\java\net\sourceforge\jeuclid\elements\support\text\CharacterMapping.java`:
[code]

It means that character '1D5A8'  (> 0x1D400) displays as 49 but with sans-serif font.

[2021-06-17 15:56] Intelligent2013 commented on #121
As workaround solution we can use:
[code]
then resulted PDF:
![image](https://user-images.githubusercontent.com/5559926/122431276-f9ef7600-cf9c-11eb-93a2-b6d14ac4045b.png)
...
![image](https://user-images.githubusercontent.com/5559926/122431319-05db3800-cf9d-11eb-8207-954c3a4c67f4.png)

[2021-06-17 15:57] Intelligent2013 commented on #121
Or turn-off codepoint checking in the module `CharacterMapping.java`. But I don't know about side-effect.

[2021-06-17 17:15] Intelligent2013 commented on #132
This ToC encoded as text:
[code]

[code]
Xslt can't set special styles without any additional indication in markup. So I can't do anything here.

[2021-06-17 17:47] Intelligent2013 commented on #129
@ronaldtse I can move all examples (similar to notes) to the sidebar, but in the original document there is one more example:

![image](https://user-images.githubusercontent.com/5559926/122446220-15fa1400-cfab-11eb-951a-5dd882c340f0.png)

If we move it to the sidebar, then math equation should be divided into several parts (for line breaks), and again there will be a difference between generated a

[2021-06-17 17:56] Intelligent2013 commented on #135
Xslt displays 2nd level clause's title with indentation, and can't differentiate one from another:
[code]
![image](https://user-images.githubusercontent.com/5559926/122449385-78084880-cfae-11eb-8423-d7a36536af94.png)
...
![image](https://user-images.githubusercontent.com/5559926/122449422-822a4700-cfae-11eb-8f6a-0c83c308b15c.png)

[2021-06-17 18:15] Intelligent2013 commented on #133
Xslt displays all titles in bold weight. I can change it to display 3rd level titles in normal, then we need to set bold parts in titles manually in adoc.

[code]

[code]

[2021-06-17 18:40] Intelligent2013 commented on #131
Fixed.
![image](https://user-images.githubusercontent.com/5559926/122455004-9a04c980-cfb4-11eb-9fd9-211c56a20258.png)

[2021-06-18 03:32] ronaldtse commented on #121
@Intelligent2013 jEuclid is probably doing that for char compatibility, in case the font doesn't support a particular code point. With the current situation, It shouldn't replace the code points when the font supports that code point.

[2021-06-18 03:41] ronaldtse commented on #129
In this case let us seek BIPM clarification. Are these the only 2 examples in the document?

[2021-06-18 09:02] Intelligent2013 commented on #129
yes.

[2021-06-18 16:22] Intelligent2013 commented on #118
@ronaldtse

Apache FOP doesn't support "actual text" (there isn't extension). We can set only "alt text" via `fox:alt-text` attribute.
@opoudjis can we add AsciiMath/LaTeX math in presentation xml? For example, in a tag like `asciimath`, or as comment immediaterly after/before mathml tag?

Apache FOP doesn't support comments/annotations. I think it could be done on additional post-processing step

[2021-06-18 17:08] Intelligent2013 commented on #125
No, in some case we need to insert space, in another no.
For example, left column - without space, right column - with space.
![image](https://user-images.githubusercontent.com/5559926/122594384-9d10c000-d06f-11eb-8b33-2433c9e2f582.png)
![image](https://user-images.githubusercontent.com/5559926/122594421-a7cb5500-d06f-11eb-8653-29f64080bd58.png)
![image](https://user-images.githubusercontent.com/5

[2021-07-05 07:00] ronaldtse commented on #113
Confirmed from Michael Stock of BIPM:

[2021-07-05 07:01] ronaldtse commented on #131
From Michael Stock of BIPM:

We should use the unnumbered list "bullet" instead of "1." in this note.

@manuel489 can you help fix this? Thanks!

[2021-07-05 07:03] ronaldtse commented on #140
From Michael Stock of BIPM:

This means the current treatment is accepted, so there's no need to fix this. Closing.

[2021-07-05 07:03] #140 closed

[2021-07-05 07:05] ronaldtse commented on #134
From Michael Stock of BIPM:

Therefore the original encoding is correct:

[code]

In this case no change in encoding is necessary.

On the other hand, @Intelligent2013 would you be able to provide some better spacing between the list item and the note?

[2021-07-05 07:19] ronaldtse commented on #135
From Michael Stock of BIPM:

This means that the current encoding is wrong. I will push a PR that addresses this, but @manuel489 (and @Intelligent2013 ) can you help with ensuring the rendered output is correct?

[2021-07-05 07:21] ronaldtse commented on #135
PR is at #141 now.

[2021-07-05 07:21] ronaldtse commented on #126
From Michael Stock of BIPM:

Nothing to be done here.

[2021-07-05 07:22] ronaldtse commented on #124
From Michael Stock of BIPM:

So there is nothing to be done here, @Intelligent2013 can you revert the last "attempt fix"? Thanks.

[2021-07-05 07:22] ronaldtse commented on #138
From Michael Stock of BIPM:

So there's nothing to be done here. Thanks.

[2021-07-05 07:53] ronaldtse commented on #134
I am asking for further clarification from BIPM of the indent of the Note.

[2021-07-05 08:45] ronaldtse commented on #133
The issue here is that these sections are not *real* sections -- they are quotations. `(CR, 38-39)` is not part of the title. It is just a citation of where the quotation comes from.

Is there some other semantic element combination we can use to make this work?

[2021-07-05 08:47] ronaldtse commented on #133
Does this apply to ALL 3rd levels, or do we only need to set bold parts for the 3rd level in this particular Appendix?

[2021-07-05 09:25] Intelligent2013 commented on #124
@ronaldtse actually code reverted back (commented) earlier in https://github.com/metanorma/mn-native-pdf/commit/33ea370c15ce0c6a08e267e59f38777792dd2a3e, now it deleted at all.

[2021-07-05 09:52] #124 closed

[2021-07-05 12:06] Intelligent2013 commented on #135
BIPM xslt updated for 5 level depth title in annex. Now it renders:
![image](https://user-images.githubusercontent.com/5559926/124468776-37783f80-dda2-11eb-816c-1dc3c8bc513b.png)
...
![image](https://user-images.githubusercontent.com/5559926/124468806-3fd07a80-dda2-11eb-81a3-be6b32fefebe.png)
...
![image](https://user-images.githubusercontent.com/5559926/124468830-46f78880-dda2-11eb-8370-38605a289

[2021-07-05 14:05] ronaldtse commented on #135
Thank you @Intelligent2013 !

[2021-07-05 15:35] Intelligent2013 commented on #134
I've updated xslt. Now:
- 'Note' displays under list item label (-), not under list item text
- spacing between list item and the note increased
![image](https://user-images.githubusercontent.com/5559926/124494402-75d02780-ddbf-11eb-97e8-c71604506398.png)

[2021-07-05 15:44] Intelligent2013 commented on #133
This applies to all 3rd levels.

[2021-07-05 23:30] ronaldtse commented on #133
How about we wrap the citation with some tag in the title so it gets displayed using another style?

[2021-07-06 04:07] ronaldtse commented on #134
Thanks @Intelligent2013 ! Closing this for now until further instruction from BIPM.

[2021-07-06 04:09] ronaldtse commented on #131
Shows like this now:

<img width="146" alt="Screenshot 2021-07-06 at 12 08 40 PM" src="https://user-images.githubusercontent.com/11865/124540923-f429d980-de52-11eb-8f10-5cebc29046d3.png">

But the bullet points seem a bit misaligned with text, and also a bit too big for the text font size. Can we adjust this? Thanks.

[2021-07-06 07:40] #135 closed

[2021-07-06 07:41] ronaldtse opened #142 "Failure in bilingual collection generation"
Build failure needs to be fixed here.

Is this a failure in the mn2pdf gem or in isodoc? It seems to be removing the Fontist manifest before the bilingual collection processing is complete. Locally I don't have this issue.

Ping @opoudjis

[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/bipm-si-brochure/issues/141#issuecomment-874535445_

[2021-07-06 08:35] Intelligent2013 opened #143 "Arial Narrow font issue"
The text in quote and the page header render in Arial Narrow Bold Italic font:
![image](https://user-images.githubusercontent.com/5559926/124568890-1705bf00-de4e-11eb-8b2f-b02218f61b9a.png)

[2021-07-06 09:40] Intelligent2013 commented on #143
fontist_locations.yml:
[code]

mn2pdf font config:
[code]

mn2pdf recognizes `Narrow Bold Italic` as `name="Arial" style="normal" weight="normal"`:
[code]
and FOP uses last `font` entry with ` name="Arial" style="normal" weight="normal"`, therefore we see `Narrow Bold Italic` font.

Arial and Arial Narrow are two different fonts. We can set font-weight to normal. bold, light, etc., and font-style

[2021-07-06 10:04] #143 closed

[2021-07-06 10:35] ronaldtse commented on #131
@Intelligent2013 keeping it open for you.

[2021-07-06 11:38] Intelligent2013 commented on #131
Fixed:
![image](https://user-images.githubusercontent.com/5559926/124593831-c733f180-de67-11eb-8daa-d2ec0018c77d.png)

[2021-07-06 11:38] #131 closed

[2021-07-06 12:00] ronaldtse commented on #131
Thanks @Intelligent2013 !

[2021-07-06 13:21] ronaldtse opened #144 "Provide multiple table renderings to choose fonts for "dimensions""
Original question:

From Michael Stock of BIPM:

In the original Word file of the SI brochure, the theta is probably Unicode character U+03F4. The font is Arial 10 point.

Would it be possible to produce a version of the table with the different options for the theta so that we can look what fits best: bold and italics from the “Mathematical Alphanumeric Symbols”, “normal capital theta” from the “

[2021-07-06 17:52] Intelligent2013 commented on #144
I did it:
1. added tables for four cases:
[code]
[code]
[code]
[code]

2. in the resulted mn xml, replaced manually all sequences like this:
[code]
to
[code]
as workaround solution, because I didn't solve the issue https://github.com/metanorma/bipm-si-brochure/issues/121 yet.
This allows to turn-off jEuclid font replacement mechanism for sans-serif style and glyphs > 0x1D400.

3. Rendered pdf [si-

[2021-07-07 02:15] ronaldtse commented on #144
@Intelligent2013 I made a mistake -- the proper theta is 1D767, not 1D6AF. I've re-generated and edited your message to show the correct table and code.

[2021-07-07 02:38] ronaldtse commented on #144
I have provided feedback to BIPM, closing this. Thanks @Intelligent2013 !

[2021-07-07 02:38] #144 closed

[2021-07-07 23:37] ronaldtse commented on #134
@Intelligent2013 received BIPM clarification that the original indent is actually *better* to clarify the relationship of the Note. Let’s indent it back and we can close this. Thanks!

[2021-07-08 09:22] Intelligent2013 commented on #134
Done:
![image](https://user-images.githubusercontent.com/5559926/124897651-2cfab780-dfe7-11eb-9489-8636905c4b99.png)

[2021-07-08 09:22] #134 closed

[2021-07-08 09:25] ronaldtse commented on #134
Thank you @Intelligent2013 !

[2021-07-08 17:26] Intelligent2013 commented on #133
What if wrap the citation in strong:
[code]
[code]
then in xslt I can show such "double" `strong` text (1st from title style, second from tag `strong`) as normal.
But it would be better if we had some markup to reset any style...

[2021-07-09 02:24] ronaldtse commented on #133
But that treatment won't really help this:
<img width="647" alt="Screenshot 2021-07-09 at 10 22 37 AM" src="https://user-images.githubusercontent.com/11865/125014113-a5bd4a80-e09f-11eb-8fa6-392328ddee22.png">

We should treat this as a rendered citation that uses alternative rendering?

[2021-07-09 02:55] ronaldtse commented on #133
From the ToC:

<img width="644" alt="image" src="https://user-images.githubusercontent.com/11865/125015856-e8345680-e0a2-11eb-8a46-4f4415d592a9.png">

The first resolution in the ToC is actually this one.

<img width="544" alt="Screenshot 2021-07-09 at 10 47 47 AM" src="https://user-images.githubusercontent.com/11865/125015992-292c6b00-e0a3-11eb-82d7-e4d9089813c1.png">

For the second group:

<img

[2021-07-10 15:51] CAMOBAP commented on #142
Unable to reproduce it locally, tried both docker and macos. After several rerun of docker I see that different files are missing for different runs

I have an assumption that this may be related to`/tmp` cleanup logic (it fires too soon)

I will:
 - Add generate workflow
 - Try a couple more docker re-runs

[2021-07-10 20:33] CAMOBAP commented on #142
Well after reading a couple articles, I have found that we cannot rely on `/tmp` as an IPC approach. There is no guarantee that the temp file will survive the process dead.

Technically we faced with two cases here:
 1. ruby's temp file deleted before java executed (happens only once)
 2. java's temp file doesn't exist when ruby tried to copy it (happens quiet often on docker and ubuntu)

For the

[2021-07-11 02:26] ronaldtse commented on #142
@CAMOBAP than you for the detailed investigation!

The font manifest here is intended only for mn2pdf to consume, so it needs to cross the boundaries between "normal metanorma" (isodoc gem) and "mn2pdf" (mn2pdf gem).

Instead of passing a font file, if you retain the font manifest file pointer until mn2pdf returns to Ruby, the font manifest wouldn't be deleted?

We don't have this issue in normal

[2021-07-12 12:30] Intelligent2013 commented on #133
@ronaldtse BIPM xslt updated for displaying eref (inside title or immediately after title) as normal text. Now it will display like this:
![image](https://user-images.githubusercontent.com/5559926/125287559-c0085a00-e325-11eb-8e84-542fb3200833.png)

[2021-07-12 13:34] ronaldtse commented on #133
Thank you @Intelligent2013 -- then has the ADoc source been updated correspondingly as well?

[2021-07-12 18:19] Intelligent2013 commented on #133
@ronaldtse I've to update adoc for complex case:
[code]
resulted xml (metanorma gem) with `xref`:
[code]
generated PDF:
![image](https://user-images.githubusercontent.com/5559926/125336571-9d426980-e356-11eb-8136-d382fcbd8627.png)

Is it enough? Or we need specified above complex structure with `eref`?

[2021-07-13 03:07] ronaldtse commented on #133
For @opoudjis , the two options right now:

1. Citations with overridden rendering to match the original BIPM style
  * `<<PV,(PV, *35*, 29)>>` => "PV, *35*, 29"
2. Citations with proper rendering
  * `<<PV, vol=35, issue=29>>` => "PV, *35*, 29"

[2021-07-13 06:16] opoudjis opened #145 "PV, CR, Metrologia citations"
How are they to be formulated, and rendered, in BIPM?

Comes from https://github.com/metanorma/bipm-si-brochure/issues/133

[2021-07-13 06:17] opoudjis commented on #133
I am going to have to investigate how we encode PV, CR, Metrologia series citations in BIPM in general to address that.

[2021-07-13 07:41] ronaldtse commented on #145
<img width="571" alt="Screenshot 2021-07-13 at 3 40 27 PM" src="https://user-images.githubusercontent.com/11865/125411665-b7308a80-e3f0-11eb-8432-8d78e243d2eb.png">

<img width="562" alt="Screenshot 2021-07-13 at 3 39 20 PM" src="https://user-images.githubusercontent.com/11865/125411493-8ea89080-e3f0-11eb-8f7e-60935b985c2d.png">
<img width="504" alt="Screenshot 2021-07-13 at 3 39 25 PM" src="https

[2021-07-13 07:43] ronaldtse commented on #145
PV: https://github.com/relaton/relaton-bipm/issues/4
CR: https://github.com/relaton/relaton-bipm/issues/3

[2021-07-13 15:40] opoudjis commented on #128
It is a feature and not a bug in MN XML generation, and it is deliberate. "  - " is not acceptable punctuation in any style guide of English (outside of the BBC's), and is emended to be treated identically to " -- " under Asciidoctor, which converts it to "&#8201;&#8212;&#8201;:". I refer you to e.g. https://www.grammarly.com/blog/hyphens-and-dashes/

This behaviour of "a - b" implemented in metan

[2021-07-13 17:43] ronaldtse commented on #121
Experimentation was done at https://github.com/metanorma/bipm-si-brochure/issues/144 , and BIPM has provided their feedback.

From Michael Stock of BIPM:

The symbols that BIPM wants to use is provided in the last table, i.e.:

[code]

![](https://user-images.githubusercontent.com/5559926/124644932-7a6a0e00-de9b-11eb-867d-9e3dae9d6745.png)

@Intelligent2013 can you help update the ADoc source and

[2021-07-13 17:51] ronaldtse commented on #128
I have consulted BIPM to confirm that this is a non-issue, will update.

[2021-07-13 19:42] ronaldtse commented on #133
The relevant tasks are:
* relaton/relaton-bipm#3
* relaton/relaton-bipm#4

[2021-07-13 23:18] ronaldtse commented on #132
Clarification sought from BIPM:

TOC:
<img width="644" alt="125015856-e8345680-e0a2-11eb-8a46-4f4415d592a9" src="https://user-images.githubusercontent.com/11865/125537101-5f11e40c-018b-45da-8fce-eb173faf8d5f.png">

Actual title:
<img width="544" alt="125015992-292c6b00-e0a3-11eb-82d7-e4d9089813c1" src="https://user-images.githubusercontent.com/11865/125537107-03ac94b8-9909-4997-990d-d597756ec84a.p

[2021-07-15 09:33] ronaldtse commented on #128
Confirmed with Michael Stock of BIPM:

Therefore no further action is needed.

[2021-07-15 09:59] Intelligent2013 commented on #121
Done.
En:
![image](https://user-images.githubusercontent.com/5559926/125769131-0b66b3d1-35cf-4f97-8956-b37e43d44a8b.png)
Fr:
![image](https://user-images.githubusercontent.com/5559926/125769487-2f9eb365-0137-45bc-a0fc-08c22c64c865.png)

[2021-07-16 03:31] ronaldtse commented on #129
From Michael Stock of BIPM:

So we can move these examples to the end of 5.4.6 as proper Examples.

Pending decision, we prefer encoding those as proper examples, of course.

[2021-07-21 11:56] ronaldtse commented on #121
Thanks!

[2021-07-21 11:56] #121 closed

[2021-07-26 13:12] opoudjis commented on #145
Pending implementation of relaton-bipm tickets.

[2021-07-26 13:18] opoudjis commented on #130
It is, but it's nothing to do with UnitsML: it would occur regardless.

[2021-07-26 14:48] opoudjis commented on #130
Fixed in standoc; pending confirmation from @manuel489

[2021-07-26 15:14] opoudjis commented on #116
Nothing for me to do, this is rendering issue purely.

[2021-07-26 15:14] #116 closed

[2021-07-26 15:24] opoudjis commented on #115
Sigh...

The use of U+202F in the XML reflects correct French typographical practice, of using the Narrow No-Break Space (NNBSP), U+202F (&#8239;  not &#8290;) to separate blocks of numbers. twitter-cldr does this explicitly, and it is also noted in https://en.wikipedia.org/wiki/Non-breaking_space

BIPM is clearly following French typographical practice in how it treats numbers.

Their use of norm

[2021-07-26 15:36] opoudjis commented on #133
This task is on hold until they are implemented.

That said, the implementation once they are in place is going to be, as @Intelligent2013 has already realised, an eref within the title being unbolded. (That's going to take extra CSS work in the HTML, but it does in fact occur out there.)

From what it sounds like, I don't need to do anything to the Presentation XML for Alex to render the unboldin

[2021-07-27 03:02] opoudjis commented on #115
@Intelligent2013 , just realised:

&#8290; is a narrow non-breaking space. Could you please replace it with a normal non-breaking space? We don't want numbers line-breaking across two lines.

[2021-07-27 03:18] ronaldtse commented on #115
Justification:

From Unicode CLDR v38 onwards, the French locale is shown to use `U+202F` for the "group separator". In v33 at least, French was considered identical to English in the default group which uses `U+00A0`. Now it is separated.

https://unicode-org.github.io/cldr-staging/charts/38/by_type/numbers.symbols.html

<img width="943" alt="Screenshot 2021-07-27 at 11 17 05 AM" src="https://use

[2021-07-27 03:55] ronaldtse commented on #115
As per discussion with @opoudjis this is more complex.

I have sought guidance from BIPM as follows.

[2021-07-27 03:56] ronaldtse commented on #115
In any case, the BIPM SI Brochure wants to have a full non-breaking space for group separation. So we have to do that.

[2021-07-27 03:58] opoudjis commented on #115
With the added issue that nnbsp is in fact official French practice, so it is not impossible that the BIPM SI Brochure would diverge based on language.

But @Intelligent2013 this becomes a Presentation XML issue; I'll change the nnbsp to nbsp, for English, and if they confirm, also for French.

[2021-07-27 11:34] Intelligent2013 commented on #115
@opoudjis ok. Just for information, jEuclid generates SVG image for mathml in the one line, it doesn't breaks the line to fit into some area.

[2021-07-27 19:14] ronaldtse commented on #133
Not exactly -- the eref needs to be rendered in the citation style of "PV, **35**, 29" (notice the bolding of the tome number).

[2021-07-30 16:04] opoudjis commented on #137
Well be aware of what is happening with `stem:[sf "unitsml(cd)"]`

The "unitsml(cd)" is generating a very big chunk of XML, which includes embedded within it a proper rendering of the unit in MathML.

The "stem:[sf ... ]" is wrapping formatting around that chunk of XML.

I'm not surprised things are going wrong. The embedded MathML is not necessarily interacting nicely with any surrounding MathML.

[2021-07-31 11:19] kickoke commented on #142
Commenting as a reminder of our discussion:

I'm trying to build a standoc metanorma document using docker from this directory: https://github.com/metanorma/mn-samples-standoc

I'm using this command to build the document:
 `docker run -v "$(pwd)":/metanorma/ metanorma/metanorma metanorma compile document.adoc --agree-to-terms`

When I build the document, it only generates .doc and .html output bu

[2021-08-01 10:17] ronaldtse commented on #132
Michael Stock of BIPM stated:

[2021-08-01 13:08] opoudjis commented on #137
The MathML being generated is:

[code]

So I am converting ANY sans-serif in MathML into Mathetmatics Alphanumeric symbols; and Metanorma is smart enough to detect that the UnitsML markup is being embedded in sans-serif. That was a deliberate decision taken in light of the difficulties Word was having with fonts in MathML, and it was intended to safeguard MathML from font peculiarities.

As far as

[2021-08-03 15:00] Intelligent2013 commented on #137
1. `<mi mathvariant="normal">cd</mi>`
[code]
renders in PDF:
![image](https://user-images.githubusercontent.com/5559926/128037059-d4cb288b-260b-40a4-b121-fcfc1f00a8d3.png)

2. `<mi mathvariant="normal">&#x1D5BC;&#x1D5BD;</mi>`
[code]
renders in PDF:
![image](https://user-images.githubusercontent.com/5559926/128037241-1447692e-b8ff-4a2e-9a9e-6ee2c966ed90.png)

[code]

@opoudjis I've just generated

[2021-08-10 09:32] ronaldtse commented on #115
We have clarification from Michael Stock from the BIPM:

This means that the Unicode change is based on faulty information and is **wrong**. @opoudjis can you point the Unicode people to this clarified information from BIPM?

The separator will stay as a normal space.

[2021-08-11 01:50] opoudjis commented on #115
No further action within metanorma

[2021-08-11 01:50] #115 closed

[2021-08-11 06:25] ronaldtse commented on #115
Thanks @opoudjis !

[2021-08-12 00:23] ronaldtse commented on #117
@Intelligent2013 can we do this and close the task? Thanks!

[2021-08-12 02:01] manuel489 commented on #130
Shoot! Forgot to confirm this. Sorry.
Yes, the issue is fixed. Thanks @opoudjis!
Closing.

[2021-08-12 02:01] #130 closed

[2021-08-12 02:12] ronaldtse commented on #125
I think there are two types of spaces here.
- space in normal text, in between formulas
- space inside a math formula

Some of the examples I see can use space in normal text, eg in the table above listing "l, r, x", these are enumerations of variables i.e. multiple formulas. So there shouldn't be a problem here.

In the first example, the space to remove is within the formula.

Lets consider the

[2021-08-13 20:47] Intelligent2013 commented on #117
Done.

[2021-08-13 20:47] #117 closed

[2021-08-14 17:41] Intelligent2013 commented on #125
Ok, I've removed space adding in the on-fly mathml pre-processing in the xslt.

[2021-08-15 09:20] ronaldtse commented on #125
@manuel489 can you please help review the instances where the "spacing is too close" and find out where we want to split the formulas for normal spacing? Thanks.

[2021-08-16 07:25] ronaldtse commented on #118
Yes, certainly.

[2021-08-16 07:26] ronaldtse opened #147 "Retain AsciiMath/LaTeX math in Presentation XML (needed in BIPM SI Brochure)"
From @Intelligent2013:

@opoudjis can we add AsciiMath/LaTeX math in presentation xml? For example, in a tag like `asciimath`, or as comment immediaterly after/before mathml tag?

_Originally posted by @Intelligent2013 in https://github.com/metanorma/bipm-si-brochure/issues/118#issuecomment-864149274_

[2021-08-16 14:17] manuel489 commented on #125
@ronaldtse I understand that white space inside math environment has been removed, right?
I'm not seeing this changes in my builds though:

![Capture](https://user-images.githubusercontent.com/33627611/129577823-e1b67357-22df-42b7-9087-5c7a8c048de6.PNG)

Markup:
[code]

I'm using the latest metanorma-bipm (1.1.7) and isodoc (1.7.3) released a couple of hours ago.

[2021-08-16 14:28] manuel489 commented on #125
On the other hand, I note that the issue I've described in the description above has been solved:
![cap2](https://user-images.githubusercontent.com/33627611/129579917-726ba43c-16c9-4db0-a036-eba4765984d8.PNG)

[2021-08-16 14:40] Intelligent2013 commented on #125
@manuel489 stem markup contains white spaces and they converted to &#160; (non-break space), and mathml markup looks correct:

[code]

[2021-08-16 14:48] Intelligent2013 commented on #125
this issue solved automatically by two reasons:
- in old xml `<mi>,</mi>`, in new xml `<mo>,</mo>`, i.e. my previous changes in xslt don't have effect (it added space after `mi` with comma)
- but even in case of `<mi>,</mi>`, I've remove adding space after `mi` with command.

[2021-08-16 14:50] manuel489 commented on #125
@Intelligent2013 yes, you are right. I had noticed that in the markup already. So I removed those spaces in the markup to see if the white spaces were gone in output, but they weren't, and that confuses me.

But ok, I'm just going to compare *generated PDF* vs *original* and see where there is need for white space to add.

[2021-08-16 15:21] Intelligent2013 commented on #125
I've checked the difference between two markups.
Adoc
1.
[code]
2.
[code]

xml:
[code]
[code]

PDF:
1.
![image](https://user-images.githubusercontent.com/5559926/129587242-1db01432-1b3a-420c-99fe-ac16efa0654c.png)

2.
![image](https://user-images.githubusercontent.com/5559926/129587280-ec4c5e27-4356-44d0-888a-af994371d037.png)

As you can see in the case `2.`, in xml there isn't space, but in PDF

[2021-08-16 15:40] manuel489 commented on #125
Ahh, so that explains it! We can close the subject then 😃.
Thanks @Intelligent2013!

[2021-08-16 16:08] manuel489 commented on #125
Ok, I have just found to instances where white space was needed: https://github.com/metanorma/bipm-si-brochure/commit/0376101e9272a344ccba3c45352821821ed6e46e

I think we can now close this issue @ronaldtse

[2021-08-17 08:43] ronaldtse commented on #125
Thanks @Intelligent2013 @manuel489 !

[2021-08-17 08:43] #125 closed

[2021-08-17 09:29] opoudjis commented on #137
So, nested mathvariant attributes are being confused by jEuclid: the closest to the text is being prioritised, rather than the furthest.

The simplest way of addressing this then is for me in PresentationXML to resolve styles embedding other styles by stripping them, rather than letting them be cumulative and trusting the renderer.

[2021-08-17 10:18] ronaldtse opened #148 "BIPM review: Treatment of acronyms section"
BIPM:
![issue23-1](https://user-images.githubusercontent.com/33627611/122158012-e37cd980-ce39-11eb-8445-19740c3220a0.PNG)

Original version:
![issue23-2](https://user-images.githubusercontent.com/33627611/122158028-ed064180-ce39-11eb-996a-7b3bc6066d18.PNG)

_Originally posted by @manuel489 in https://github.com/metanorma/bipm-si-brochure/issues/136#issuecomment-862030032_

[2021-08-17 10:18] ronaldtse commented on #136
I've moved the issue about acronyms section to #148.

[2021-08-17 10:46] ronaldtse commented on #148
I have sought BIPM advice on this.

[2021-08-17 10:48] ronaldtse commented on #136
I have contacted BIPM for clarification.

[2021-08-17 11:43] ronaldtse commented on #118
We don't need this if we have the original text.

In this case if @opoudjis can provide the source math (AsciiMath or LaTeX math, depending on the original source), then we can embed this as alt-text, right? This means the reader could copy and paste this content, and it's sufficient.

[2021-08-17 12:12] Intelligent2013 commented on #118
Yes, we can embed AsciiMath/LaTeX  math as alt-text. But I don't know a simply way to copy the content of alt-text as I've described above, i.e. open PDF in Acrobat (full version), open Tags tab and find the math object (manually) in the tree. In the Acrobat there isn't context menu for math object that allow us to open the Object Properties quickly.

[2021-08-18 01:19] ronaldtse commented on #118
I wonder if the correct approach is to set the Alt Text to source (AsciiMath/LaTeX math), then Actual Text as it is now, and if people really want to copy/paste, ask them to use the HTML copy.

[2021-08-18 05:46] ronaldtse commented on #118
From @Intelligent2013

the same in my environment.

the same in my environment, and I can't just choose any math object and set alternate text, but I  need to click Next button tens times to find the need object...

the same in my environment.

"Read Out Loud" function for math object works only when I choose 'Read This Page Only', or 'Read to End of Document`. But if I click on any text, then it

[2021-08-18 05:46] ronaldtse commented on #118
From @Intelligent2013 :

[2021-08-18 05:47] ronaldtse commented on #118
I've tried it on Preview and Acrobat Reader, in Preview it clicks but nothing happens, on Acrobat Reader it downloads mathml.xml. So maybe this is the best way ahead. The user must use Acrobat Reader in order to copy/paste the MathML.

[2021-08-18 07:16] ronaldtse commented on #118
I looked into the W3C sample PDF which only contains content but no tags:
https://www.w3.org/WAI/WCAG20/Techniques/working-examples/PDF7/ocr-example.pdf

In this PDF, there are no tags -- i.e. no actual text, no alternate text. However, there is an image background and also "content" behind it. The "content" is what comes out from a copy and paste.

<img width="1072" alt="image" src="https://user-

[2021-08-18 07:29] ronaldtse commented on #118
And I was able to change a text to white color (in order to hide the "content text" supplied).
<img width="692" alt="Screenshot 2021-08-18 at 3 19 22 PM" src="https://user-images.githubusercontent.com/11865/129855131-38738878-85e8-4b7c-af6f-9608fddee4dc.png">

I couldn't get the order right when it comes to hiding Math text here:
<img width="624" alt="Screenshot 2021-08-18 at 3 21 38 PM" src="http

[2021-08-18 07:41] ronaldtse commented on #118
Right now the content structure is as follows:
- flowing text (1)
- math object (2)
- flowing text (3)
<img width="1061" alt="Screenshot 2021-08-18 at 3 36 37 PM" src="https://user-images.githubusercontent.com/11865/129857457-bf0905ac-5e2c-4641-8782-4a234ad962d9.png">

In order to enable copyable text, we have to change to:
- flowing text (1)
- new element that is flowing text, but contains the so

[2021-08-18 08:04] Intelligent2013 commented on #118
In Apache FOP there is a featire 'Treating Content as Artifact', so we can mark the content as Artifact (http://xmlgraphics.apache.org/fop/2.4/accessibility.html):
![image](https://user-images.githubusercontent.com/5559926/129861087-d55f4e01-5b79-46a0-b24b-a68fc22dd01c.png)

[2021-08-18 08:15] Intelligent2013 commented on #118
So, the task:
1. determine position of math object in the tag tree
2. place new text object (transparency) with AsciiMath before math object.
But the main problem is - the width of text object can be wider than math object, or individual chars in text object may not be positioned in the same place as individual curve of math object, and when we'll find some char (Ctlf-F), then it may be highlighte

[2021-08-18 08:20] ronaldtse commented on #118
@Intelligent2013 for step 1, if we can determine the height and width of math object, can we shrink the content of the "math text" into a box of a suitable size?

[2021-08-18 08:52] Intelligent2013 commented on #118
We can't just resize the rectangle text, we should change the font-size. I.e. font-size of the string depends on the bounding box... I don't figure out how font-size can be calculated simply...
I think it makes no sense. For example:
source adoc:
[code]
rendered as:
![image](https://user-images.githubusercontent.com/5559926/129866159-0cacefe4-ae77-44cd-a513-89bea22961d6.png)

Let's assumed that we

[2021-08-18 10:18] ronaldtse commented on #118
@Intelligent2013 good point, but I'm not sure what else we can do... If the user highlights "10^-23", the user can't really copy the semantic portion anyway. I think the Attachment approach is also good, but it only works for Acrobat.

Maybe we should use Attachment, Alt Text, Actual Text and the Content techniques together.

[2021-08-18 16:09] opoudjis commented on #137
Now generating:

[code]

If there is an outer and an inner instance of `@mathvariant`, I am now merging them in the inner instance.

[2021-08-18 16:33] #137 closed

[2021-08-18 16:35] Intelligent2013 commented on #118
ok, then next tasks are:
- [ ] investigate how to add transparency text behind/above math object in Apache FOP Intermediate Format (IF)
### else
-----------------------
- [ ] try to add transparency text with PDFBox
- [ ] solve issue
![image](https://user-images.githubusercontent.com/5559926/127686197-1d4e330f-8083-42c7-971d-cb42737b907b.png)
(https://github.com/metanorma/mn2pdf/issues/68#issuecom

[2021-08-19 00:59] ronaldtse commented on #118
Thank you @Intelligent2013 !

[2021-08-19 01:00] ronaldtse commented on #118
In fact, @Intelligent2013, can you make a blog post about this since this is a set of excellent techniques for PDF accessibility? Thanks!

[2021-08-19 03:21] ronaldtse opened #149 "PDF: Question on tag structure tree"
The W3C samples for PDF tags use a `<P>` element for a block of text, but seems that in the Brochure we use 1 `<P>` element per line. Is this something we can fix?

I noticed that in Acrobat Pro when I perform an "edit" on one of the P elements in the Brochure, it automatically joins the next few lines (within the same paragraph) into a single P element.

<img width="782" alt="Screenshot 2021-08-1

[2021-08-19 03:22] ronaldtse commented on #149
Also, we don't seem to be making tags for headings like `H`, `H2`, and the List and List Items.

[2021-08-19 14:28] Intelligent2013 commented on #149
@ronaldtse I think no, this behavior is how Apache FOP works. Internally, it create a text block for each line of text. For example,

Source metanorma xml:
[code]
resulted PDF:
![image](https://user-images.githubusercontent.com/5559926/130081957-535854ca-9f05-4908-ba7b-b07448edb998.png)

Apache FOP intermediate format:
[code]

I think that Acrobat Pro is so smarty, that combines nearby positioned

[2021-08-19 14:33] Intelligent2013 commented on #118
@ronaldtse ok, but for begin, let's  I'll realize these ideas in the practice...

[2021-08-19 15:54] ronaldtse commented on #149
Got it, makes sense indeed. Thanks!

[2021-08-20 13:02] opoudjis commented on #132
I have just implemented https://github.com/metanorma/metanorma-bipm/issues/148

And I don't see how this will help this quite absurd approach to ToC at all.

The ToC I have implemented allows a sequence of titles to be identified by XPath, and it allows alternate titles to be given to them for the purposes of the ToC. So:

[code]

But the ToC entry is a laundry list in random order. The only way t

[2021-08-30 19:47] Intelligent2013 commented on #132
Example:
[code]

Generated xml:
[code]

It should be rendered in PDF so:
![image](https://user-images.githubusercontent.com/5559926/131395825-c6bfcb91-09b7-48f7-a976-2a32b9f4e8c6.png)

@opoudjis can we specify something in markup to ignore sections number `1.6.3` `1.6` in xref? (i,e. not generate it in xml)

[2021-08-30 20:32] Intelligent2013 commented on #132
And unclear for me how can we encode the headers/sub-headers `Table of Contents of Appendix 1`, `Decisions relating to the establishment of the SI`, `Decisions relating to the base units of the SI`, `Length`, ... as part of TOC:
![image](https://user-images.githubusercontent.com/5559926/131401233-a4e8cbd5-e74c-4688-be4f-7e3e4818e63b.png)
to solve the issues from initial post:
1. *"Table of Content