[2021-09-02 11:48] Intelligent2013 commented on #149
Done in https://github.com/metanorma/mn-native-pdf/issues/326. Closing.

[2021-09-02 11:48] #149 closed

[2021-09-07 04:32] ronaldtse commented on #129
From Michael Stock of BIPM

[2021-09-07 04:33] ronaldtse commented on #129
@manuel489 can you help action this and provide a screenshot of the completed copy? Thanks.

[2021-09-07 05:10] ronaldtse opened #150 "(URGENT) Failure in PDF generation (mn2pdf)"
Commands:
[code]

MN presentation XML:
[si-brochure-en.presentation.xml.zip](https://github.com/metanorma/bipm-si-brochure/files/7119004/si-brochure-en.presentation.xml.zip)

Output:
[code]

[2021-09-07 05:14] ronaldtse commented on #129
@manuel489 I've just done the changes in #151, but don't merge it yet since I couldn't generate the PDF properly.

[2021-09-07 05:14] ronaldtse commented on #136
From Michael Stock of BIPM:

[2021-09-07 07:14] Intelligent2013 commented on #150
Latest BIPM xslt (with hidden text feature) works only with mn2pdf v1.36 (https://github.com/metanorma/mn2pdf/releases/tag/v1.36), but in your command line version 1.35 is using:
`/Users/me/.rbenv/versions/2.6.6/lib/ruby/gems/2.6.0/gems/mn2pdf-1.35/lib/../bin/mn2pdf.jar`

Unfortunately, mn2pdf-ruby v1.36 didn't released due the error:
(https://github.com/metanorma/mn2pdf-ruby/runs/3444650571?check

[2021-09-07 07:41] ronaldtse opened #152 "Verification of PDF accessibility with Acrobat versions"
A BIPM user enquired whether PDF accessibility is compatible with "Adobe Acrobat XI Pro".

![image](https://user-images.githubusercontent.com/11865/132304212-51767d8f-d4a5-4ad2-8eb4-de488edd3d9c.png)

<img width="715" alt="Screenshot 2021-09-07 at 3 39 52 PM" src="https://user-images.githubusercontent.com/11865/132304454-d74c2dfa-97cc-40f2-9a99-e3e9ec7dc4ca.png">

The user was able to read the fil

[2021-09-07 07:42] Intelligent2013 commented on #150
I've checked this for 1.35 gem (previous successfully released gem)
[code]
and it doesn't return anything...

[2021-09-07 09:00] Intelligent2013 commented on #150
The reason was in the changing from:
[code]
to:
[code]

logger outputs all messages into System.err (https://docs.oracle.com/javase/7/docs/technotes/guides/logging/overview.html#a1.5): `ConsoleHandler: A simple handler for writing formatted records to System.err`

Fixed in mn2pdf-ruby: https://github.com/metanorma/mn2pdf-ruby/commit/4827911bbcb8d9cf709a9ff168258ee775170e3d

[2021-09-07 09:00] #150 closed

[2021-09-07 09:08] ronaldtse commented on #129
5.4.2

<img width="529" alt="Screenshot 2021-09-07 at 5 07 25 PM" src="https://user-images.githubusercontent.com/11865/132317667-a84fd006-1608-4903-9c1d-2523971a9625.png">

5.4.3
<img width="549" alt="Screenshot 2021-09-07 at 5 07 32 PM" src="https://user-images.githubusercontent.com/11865/132317706-78c7861f-9337-40c9-b7e5-7a87e93fa7c0.png">

5.4.4
<img width="565" alt="Screenshot 2021-09-07 at 5

[2021-09-07 09:12] ronaldtse commented on #129
Going to merge this first.

[2021-09-07 09:53] Intelligent2013 commented on #152
BIPM PDF contains attached files with .mml extension. Windows OS doesn't have the file association (by default) for .mml file extension. You need to set default application (Notepad for example) to open files with .mml extension:
- open the specified folder (`C:\....\Local\Temp\A9.tmp\`) in the Explorer,
or
- find any another .mml file, or create an empty file by the command `notepad sample.mml`
t

[2021-09-07 10:30] ronaldtse commented on #152
Maybe we should not use `.mml` since it is not the expected MathML file extension.
<img width="541" alt="Screenshot 2021-09-07 at 6 28 15 PM" src="https://user-images.githubusercontent.com/11865/132329874-e553b8f8-50a2-42fc-bbe2-46096eca8f56.png">

We should probably use `.xml` instead. The proper IANA media type is `mathml+xml`:
https://www.iana.org/assignments/media-types/application/mathml+xml

[2021-09-07 10:31] ronaldtse commented on #152
IANA item:

[code]

[2021-09-07 10:32] ronaldtse commented on #152
@Intelligent2013 can you verify that if you have registered the `mml` extension on Windows, the MathML file can open? Thanks.

[2021-09-07 10:32] ronaldtse commented on #152
Then we can close this.

[2021-09-07 10:34] Intelligent2013 commented on #152
Regarding the issue `I was able to read (each line separately) up until [this screenshot]`, I've made a few experiments to investigate this issue:
1. Created a simple Word document ([test.docx](https://github.com/metanorma/bipm-si-brochure/files/7120730/test.docx))
![image](https://user-images.githubusercontent.com/5559926/132328680-3756f1db-cca4-411c-99dc-1d42cffb7908.png)
with a few used fonts:

[2021-09-07 10:37] Intelligent2013 commented on #152
verified, file opens.

[2021-09-07 10:37] ronaldtse commented on #152
Thanks @Intelligent2013 ! Closing.

[2021-09-07 10:38] ronaldtse commented on #152
Whoops you're still checking the speech read along. Sorry.

[2021-09-07 11:05] opoudjis commented on #136
[code]

[2021-09-07 11:06] ronaldtse commented on #136
Why not:

[code]

[2021-09-07 11:08] opoudjis commented on #136
Because

[code]

[2021-09-07 11:11] ronaldtse commented on #136
How about using the default `[quote]` syntax like this?

[code]

[2021-09-07 11:20] ronaldtse commented on #136
Actually the green part is not the source document title. Since AsciiDoc can't deal with quoted titles, we have to accept whatever syntax that works. Ugh.

[2021-09-07 11:23] opoudjis commented on #136
My syntax works. So. @Intelligent2013 I will need to adjust markup, and I will resolve this title for you in PresentationXML, I will put in the black bullet there myself.

[2021-09-07 11:26] ronaldtse opened #153 "Fix GHA workflows"

[2021-09-07 11:32] Intelligent2013 commented on #152
Found some discussions. Looks like Acrobat has poor Read Out Loud support.
`Read This Page Only` and `Read to End of Document` features work ok, but individual lines ('by click', as mentioned in the initial post) isn't.

https://community.adobe.com/t5/acrobat-discussions/acrobat-pro-dc-reading-out-loud-stops-at-end-of-line-hyphens/m-p/11150243
[code]

https://community.adobe.com/t5/acrobat-reader-

[2021-09-07 12:28] Intelligent2013 commented on #136
@opoudjis currently, xslt displays black bullet (box) as svg:
[code]
The reasons of it:
1. some fonts don't contain 'Black Square` (U+25A0) glyph
2. glyph size looks smaller and baseline shifted down:
![image](https://user-images.githubusercontent.com/5559926/132343653-1c02e1ed-33a0-4e64-85e4-2c13e603d46b.png)
vs. original PDF:
![image](https://user-images.githubusercontent.com/5559926/132343779-e

[2021-09-07 12:29] Intelligent2013 commented on #136
But in any case I can process the black box as char.

[2021-09-07 12:36] ronaldtse commented on #152
Closing this for now. Thanks @Intelligent2013 !

[2021-09-07 12:36] #152 closed

[2021-09-07 12:38] ronaldtse commented on #129
From Michael Stock of BIPM:

[2021-09-07 12:55] opoudjis commented on #136
Huh. OK, I'll do `<blacksquare/>`, since `<quad/>` can also be a blank space.

[2021-09-07 14:44] ronaldtse commented on #129
To BIPM:

[2021-09-07 14:44] ronaldtse commented on #129
From BIPM:

[2021-09-07 15:31] #129 closed

[2021-09-07 15:45] #148 closed

[2021-09-07 15:45] ronaldtse commented on #153
Looks like something to do with packed-mn?

[2021-09-07 19:09] CAMOBAP commented on #153
@ronaldtse docker have the same issue, looks like the issue in the gem by itself, I will check

[2021-09-07 23:26] ronaldtse opened #156 "Considering section numbering in Appendices"
Sent to BIPM for clarification:

[2021-09-08 05:19] ronaldtse opened #157 "Remaining blockers to publication"
* [x] #132
* [x] #133
* [x] #136
* [ ] #145
* [x] #156

[2021-09-08 05:20] ronaldtse commented on #112
@manuel489 I've created #157 to track the last issues. Can we close this issue now? Thanks.

[2021-09-08 13:18] manuel489 commented on #112
Ok

[2021-09-08 13:18] #112 closed

[2021-09-09 15:42] ronaldtse opened #158 "Adding 5.4.3 English examples to French in order to have identical EXAMPLE numbers"
There is one last issue in 5.4.3 that I’m not sure whether is a problem.

The English version contains the following examples, but the French version omits the corresponding examples:

English:
<img width="629" alt="image001" src="https://user-images.githubusercontent.com/11865/132718219-b22d5242-81a3-405f-82c9-6903df10f2e0.png">

French:
<img width="454" alt="image002" src="https://user-images.gi

[2021-09-09 15:43] ronaldtse commented on #158
From BIPM Michael Stock:

[2021-09-09 15:47] ronaldtse commented on #158
Fixed.
<img width="729" alt="image" src="https://user-images.githubusercontent.com/11865/132718893-07d6a3ca-22e4-4535-a141-731cce7215da.png">

[2021-09-09 15:48] #158 closed

[2021-09-12 08:26] ronaldtse commented on #129
From Michael Stock of BIPM:

<img width="640" alt="Screenshot 2021-09-12 at 4 25 23 PM" src="https://user-images.githubusercontent.com/11865/132979507-b7217f0a-bc76-4f8b-86e1-77b0a75ac92d.png">

Fixed.

[2021-09-13 07:34] CAMOBAP commented on #153
The same root as https://github.com/metanorma/bipm-si-brochure/issues/142

In progress

[2021-09-13 11:02] ronaldtse commented on #156
From Michael Stock of BIPM:

[2021-09-13 11:03] ronaldtse commented on #156
@Intelligent2013 notice that the bookmarks looked like this before:
<img width="236" alt="image001" src="https://user-images.githubusercontent.com/11865/133072786-4b333296-ef43-4ea1-b116-690ea22e38a4.png">

[2021-09-14 10:34] opoudjis commented on #136
So reiterating for the editors: all the subtitles in Annex with a black square bullet are to be marked up as:

[code]

[2021-09-14 10:59] opoudjis commented on #136
@Intelligent2013 Sorry: please change `<alt-title>` to `<variant-title>`

[2021-09-14 11:46] #136 closed

[2021-09-14 12:17] opoudjis commented on #156
... I'm not sure that's true at all, but... I have to assume from this that the numbering of appendix subclauses in BIPM is henceforth A_m.n_

[2021-09-14 12:33] opoudjis commented on #156
The index will now hence look like A4.1, A5.1, etc.

@Intelligent2013 I will generate and send you updated Presentation XML.

[2021-09-14 13:59] Intelligent2013 commented on #156
[code]

[code]
![image](https://user-images.githubusercontent.com/5559926/133270321-d2643778-6da5-4550-9672-8b1f54c72601.png)

To do:
- remove `Part X.` from adoc
- BIPM xslt: display section number before `tab`

[code]

[code]
![image](https://user-images.githubusercontent.com/5559926/133270378-59f5ccb6-0ef0-43cd-9416-d770f128c994.png)

To do:
- remove `1.` `2.` from adoc
- BIPM xslt: display sec

[2021-09-14 14:21] Intelligent2013 commented on #156
But I have to hide sections numbers from Annex 1, but don't figure out yet how to do this...
[code]

[2021-09-16 12:27] opoudjis commented on #132
The markup changes requested in https://github.com/metanorma/bipm-si-brochure/issues/136, which insert these subheadings explicitly inside a <clause type="toc">, may help you address this, @Intelligent2013

[2021-09-19 06:24] Intelligent2013 commented on #132
Done.

[2021-09-19 06:24] #132 closed

[2021-09-20 05:40] ronaldtse commented on #156
Isn't this related to #136? Is there a way we can semantically encode this?

[2021-09-20 16:57] Intelligent2013 commented on #156
no, #136 related to black square char, but in this ticket we need show section's number for some appendices only (and for some levels only). I.e. show for clause's titles with level=2 depth in Appendices 4 and 5, and hide in another cases. I don't see how to encode it semantically.

[2021-09-20 23:21] manuel489 commented on #136
Changes applied.

[2021-09-21 04:44] ronaldtse commented on #156
@Intelligent2013 I think we have to encode the A1 titles not as section headers, but something else?

[2021-09-22 14:02] Intelligent2013 commented on #156
what if we'll add the attributes `number` like this:

[code]
then in metanorma xml there will be the attributes `number`:
[code]
which xslt can use as 'indication' that section number should be displayed.

[2021-09-23 02:54] ronaldtse commented on #156
Or `label=""` vs `label="A4.1."` ?

[2021-09-23 11:15] Intelligent2013 commented on #156
metanorma supports the attribute `number` already: https://www.metanorma.org/author/topics/document-format/sections/#numbering

There are two alternatives:
- if in adoc there is the attribute `number`, then create additional attribute `label` in xml, that contains section number (example `label="A4.1."`). Actually this attribute will repeat the value before `tab` in the element `<title depth="2">A

[2021-09-30 14:35] opoudjis commented on #145
So representative citation renderings are:

* CR, 78
* _Metrologia_, 1972, *8*, 36
* PV, *48*, 24

The PV are Proceedings of the CIPM, and those are cited by volume and page number. So PV, *48*, 24 is `BIPM CIPM48`, p. 24.

Metrologia is cited by year, volume, and page. So _Metrologia_, 1972, *8*, 36 is `BIPM Metrologia 8`, p. 36.

CR are the Proceedings of the CPGM, and in the BIPM they are cited

[2021-09-30 14:38] opoudjis commented on #145
We have an additional problem with the current encoding of references in relaton-bipm:

BIPM CIPM, CIPM CPGM, and BIPM Metrologia all require parts in their references: "BIPM Metrologia 29 6 373", "BIPM CGPM01 1", "BIPM CIPM101 1".

We do not know those parts from the citations: the citations all go straight from volume number to page. Requiring the parts in the citations is simply not going to wo

[2021-10-02 13:03] opoudjis commented on #156
OK, Hold up. I need to understand the requirements here.

* When the title appears in the Table of Contents, it has one numbering
* When the title appears in the text, it has a different numbering.

Right?

In that case, the solution is not to change the numbering of annex clauses, like I did. It is to keep the numbering of annex clauses as it was before, but to override it in the ToC clauses, as

[2021-10-02 15:31] Intelligent2013 commented on #156
@opoudjis currently:
adoc
[code]
PDF:
![image](https://user-images.githubusercontent.com/5559926/135722546-980f257c-dd71-4565-8272-f60a70ad9694.png)

Required (from https://github.com/metanorma/bipm-si-brochure/issues/156#issuecomment-918079683):
![image](https://user-images.githubusercontent.com/5559926/135722902-3ad37d25-9f1b-41ba-b364-900820077939.png)

I could use the value `A4.1` before tab:

[2021-10-02 16:41] opoudjis commented on #156
The way forward here is the `number` override of clause numbering, I just need to confirm that it works as required.

[2021-10-04 08:27] ronaldtse commented on #156
@opoudjis

No. In both cases the numbering is identical for Appendix 4 and 5. The only difference is in Appendix 1 the title numbering is not shown, where the titles are technically quoted titles.

[2021-10-04 12:09] opoudjis commented on #156
So:

Appendix 1 ToC: manually supplied ToC, with no subclause numbering
Appendix 1 text: subclause titles with no subclause numbering

Appendix 4 ToC: A4.1 subclause numbering, no _Part 1_ or _1_
Appendix 4 text: A4.1 subclause numbering, no _Part 1_ or _1_

....

The ToC is manually supplied as explicit xrefs, so that's been dealt with; subclause numbers will arise.

Appendix 1 should be marked u

[2021-10-04 13:00] Intelligent2013 commented on #156
@opoudjis thank you for the idea, I'll check it to prevent on side-effects.

[2021-10-04 13:36] Intelligent2013 commented on #156
@opoudjis it's working. But title rendering in xslt based on the attribute `depth`. I've noticed that when I put `[%unnumbered]`, then the attribute `depth` is missing in the `title`:
With `[%unnumbered]`:
[code]
xml:
[code]

without `[%unnumbered]`:

[code]

[code]

It is possible to don't remove `depth` from `title`?

[2021-10-04 14:45] opoudjis commented on #156
BIPM issue: I was aborting processing of unnumbered clauses in BIPM too quickly. Fixing.

[2021-10-04 15:22] Intelligent2013 commented on #156
@metanorma/editors @manuel489  could you update adocs as described in for https://github.com/metanorma/bipm-si-brochure/issues/156#issuecomment-933421169 ?
Additionally, please add `[%unnumbered]` for third-level titles like `Unit of time, second`, etc. to prevent numbering:
![image](https://user-images.githubusercontent.com/5559926/135878403-4c3a8e4a-2655-43ff-82dc-cc4a6266cd62.png)

[2021-10-05 03:25] manuel489 commented on #156
@Intelligent2013, I have raised a PR with the requested changes in https://github.com/metanorma/bipm-si-brochure/pull/161
Could you take a look, please?
Thanks!

[2021-10-05 08:32] Intelligent2013 commented on #156
@manuel489 generated PDF: [collection.zip](https://github.com/metanorma/bipm-si-brochure/files/7284119/collection.zip)

please delete 1. and 2. from Annex 5:
![image](https://user-images.githubusercontent.com/5559926/135987900-eb78fe2b-d254-4640-a9fe-4ec635f4e984.png)
![image](https://user-images.githubusercontent.com/5559926/135988193-2655ce53-51bd-42dc-901e-e3f136ee9147.png)
![image](https://use

[2021-10-05 09:29] CAMOBAP commented on #142
PR on review https://github.com/metanorma/metanorma/pull/214

[2021-10-05 15:44] manuel489 commented on #156
Done. Merged to master.

[2021-10-05 18:13] #156 closed

[2021-10-05 18:14] Intelligent2013 commented on #156
@manuel489 thank you!

[2021-11-18 12:06] CAMOBAP commented on #153
Triggering re-run

[2021-11-18 16:11] CAMOBAP commented on #153
Done

[2021-11-18 16:12] #153 closed

[2021-11-25 09:19] ronaldtse opened #163 "Add WARNING to being draft documents"
From BIPM:

[2021-11-25 09:22] ronaldtse opened #164 "Add watermark background on draft pages"
From BIPM:

[2021-11-25 09:25] ronaldtse opened #165 "Change default branch to main"

[2021-11-25 09:29] ronaldtse commented on #165
Done.

[2021-11-25 09:29] #165 closed

[2021-11-25 09:33] #163 closed

[2021-11-25 10:38] ronaldtse commented on #164
https://xmlgraphics.apache.org/fop/1.1/output.html

![image](https://user-images.githubusercontent.com/11865/143426388-4122792b-e643-4110-b520-60fad26bd833.png)

[2021-11-25 10:51] Intelligent2013 commented on #164
The word for draft watermark will be used from the resource `localized-string key="draft_label"`:
[code]
[code]

The draft watermark will be displayed if:
- exists `..bibdata/version/draft` (example `<draft>v1.07</draft>`)
or
- `status/stage` contains `draft` or `projet` (fr)

[2021-11-25 16:35] Intelligent2013 commented on #164
Done:
![image](https://user-images.githubusercontent.com/5559926/143477202-6699e313-deaf-493a-8bc2-dc8d6eff79e6.png)
![image](https://user-images.githubusercontent.com/5559926/143477265-a222b0ba-ab53-4791-9066-49dccf056dc2.png)

[examples.zip](https://github.com/metanorma/bipm-si-brochure/files/7604367/examples.zip)

[2021-11-26 05:55] ronaldtse commented on #164
@Intelligent2013 Do we need this to be set in Metanorma AsciiDoc? If so can you please help add a new issue? Thanks.

[2021-11-26 08:51] Intelligent2013 commented on #164
@ronaldtse no need to change anything. These values are present already in xml.

[2021-11-29 03:30] ronaldtse commented on #164
Thanks!

[2021-11-29 03:30] #164 closed

[2022-01-18 11:18] ronaldtse opened #167 "(URGENT) Broken GitHub Pages deployment"
<img width="958" alt="Screenshot 2022-01-18 at 7 17 49 PM" src="https://user-images.githubusercontent.com/11865/149927627-b41e3ae0-c6c5-4b16-9cb6-7c1804b922c6.png">

We want to deploy the contents of the `site/` directory, not to deploy the `site/` directory itself.

This is a bug since we updated the GHA workflows, and likely applies to all other mn-samples-* repositories.

[2022-01-18 11:19] ronaldtse commented on #167
i.e. the gh-pages branch should contain an `index.html`.

[2022-01-18 12:39] CAMOBAP commented on #167
waiting for CI

[2022-01-18 14:04] ronaldtse commented on #167
It worked, thanks @CAMOBAP !

[2022-01-18 14:06] #167 closed

[2022-02-12 12:21] opoudjis commented on #145
If we are going to have machine parsed citations, we are going to have machine processed renderings of citations. I am not going to indulge the pointless abbreviation of dropping volume numbers.

Implementing CR and PV rendering, boldfacing the volume. We don't have Metrologia citations yet.

[2022-02-12 14:07] ronaldtse commented on #145
Instead of "volume" I think you mean dropping "tomb" numbers, because that number is not available in the data? The point of dropping that number is to make referencing possible, not "pointless" dropping. If you have it, use it. If not, skip it.

[2022-02-13 10:31] opoudjis commented on #145
By "tomb", you mean "tome", which is French for "volume", I'm assuming. :)

When the proceedings of the first conference are discussed in the BIPM brochure appendix, the citation to the proceedings is given as CR, pagenumber. The reason the volume number is skipped is, it is implicit in the context --- this is the first conference, so it is supposed to be obvious to the reader that the page number

[2022-02-13 11:20] ronaldtse commented on #145
Thanks for the correction, which is better than my phone's autocorrect...

The point of dropping tome is that the resolutions/decisions are supposed to be individually referencable as resolutions/decisions, not as part of proceeding volumes. These objects will be directly available on the internet without any indication of which "tome" they were originally from.

i.e. in the digital age we don't c

[2022-02-13 13:02] opoudjis commented on #145
Well we don't support that yet anyway. The references right now only work to the level of volumes: we have page numbers in the citations, we don't have the means to map those to resolutions.

If you want to reference resolutions and not pages in the underlying machine readable encoding, and just display the page numbers in the rendering, that... is different again. But right now, we can't support

[2022-04-30 08:55] ronaldtse commented on #145
@metanorma/editors now all the PV and CR can be cited via Relaton. Can you please help update them soon? Thanks.

[2022-04-30 23:39] anermina commented on #145
After citations were added for PV and CR, @manuel489 helped generate the output with the latest release of relaton-bipm (1.11.0). Example is shown below. Is this expected output?
![image](https://user-images.githubusercontent.com/55683568/166126066-704e5921-5086-4362-97ea-013c7fcac2cd.png)

[2022-05-12 09:58] ronaldtse commented on #145
@opoudjis are we waiting for something here? BIPM is eager to finish this work. Thanks.

[2022-05-13 10:28] opoudjis commented on #145
Hiding the CR, PV citations. Should be straightforward.

[2022-05-13 10:31] opoudjis commented on #145
As enhancement: enforce implicit_reference at Presentation XML level, current code is not doing so.

[2022-05-13 11:19] opoudjis commented on #145
Implemented now the editors have to look up the individual CGPM Resolution and CIPM Decision reference tags, but the hiding references tag is done, so all necessary infrastructure should be in place. Ticket to close when they're done with it.

[2022-05-13 11:26] opoudjis commented on #133
This task is defunct: we're not using the PV VOLUME page number citations at all. https://github.com/relaton/relaton-bipm/issues/4

I'm keeping the issue open in case I have to tweak the HTML rendering to skip bolding for the citations, but I think we've addressed that already.

[2022-05-13 13:43] opoudjis commented on #133
Yeah, we have.

[2022-05-30 03:19] ronaldtse commented on #145
Related to Related to https://github.com/metanorma/metanorma-bipm/issues/164

[2022-06-08 08:06] ronaldtse commented on #157
Closing this, and deferring https://github.com/metanorma/bipm-si-brochure/issues/145.

[2022-06-08 08:06] #157 closed

[2022-06-08 08:08] ronaldtse opened #169 "Blockers to BIPM SI Brochure publication"
This is a follow up to #127.

From @manuel489 :

* [x] French references don't fetch when a tilde is present in the identifier. E.g. " Résolution", " Réunion", " Déclaration", etc. (https://github.com/relaton/relaton-bipm/issues/27)
* [x] This issue: https://github.com/metanorma/bipm-data-outcomes/issues/11, hasn't been fixed and it's generating fetching errors. Maybe I could fix it manually?
* [x

[2022-06-08 08:10] ronaldtse commented on #169
From @opoudjis :

1. I had already also said what the solution I had already implemented is: I was overwriting the English with the French word
3. aren't going to be hidden unless I'm told to hide them, and they're news to me. I would assume this to be a metanorma issue
4. Are the references in 4 being marked up as hidden?

[2022-06-08 08:12] ronaldtse commented on #169
Issue 1 is posted here: https://github.com/relaton/relaton-bipm/issues/27

@manuel489 please help explain. Metanorma is not meant to automatically hide these references unless explicitly requested to.

I don't understand this either. Are these AsciiBib items? What would you expect to see? Do you want these to be hidden? And do you want this to link to the webpage within the inline reference?

[2022-06-08 09:21] ronaldtse commented on #30
We have not received complaints due to this. Closing.

[2022-06-08 09:21] #30 closed

[2022-06-08 13:44] manuel489 commented on #169
@ronaldtse taking as an example this "old" reference from original source: **(CR, 54)**

![capture1](https://user-images.githubusercontent.com/33627611/172630118-40343707-3006-4a4a-83a9-e6d17e0ab069.PNG)

This one corresponds to page 54 of the Meeting 9th.
Which in Metanorma is encoded as:
[code]
and it renders:
![capture2](https://user-images.githubusercontent.com/33627611/172630830-bf3c84a0-8259

[2022-06-08 13:46] manuel489 commented on #169
This matter has been discussed in private and concurred on hiding these references manually.

[2022-06-08 17:17] manuel489 commented on #169
A ticket was raised for this one.

[2022-06-13 10:48] opoudjis commented on #145
Superseded by https://github.com/metanorma/bipm-si-brochure/issues/169

[2022-06-13 10:48] #145 closed

[2022-06-20 08:13] ronaldtse opened #170 "PDF: French bibliography does not hide items that should be hidden"
French bibliography does not hide items that should be hidden:
<img width="575" alt="Screenshot 2022-06-20 at 4 41 39 PM" src="https://user-images.githubusercontent.com/11865/174550221-c27843d6-2293-4cae-90a2-09482ea7ce87.png">

_Originally posted by @ronaldtse in https://github.com/metanorma/bipm-si-brochure/issues/168#issuecomment-1160091985_

[2022-06-20 08:14] ronaldtse opened #171 "PDF: English index showing "BROUILLON" instead of English watermark "DRAFT""
English index showing "BROUILLON" instead of English watermark "DRAFT":
<img width="595" alt="Screenshot 2022-06-20 at 4 41 19 PM" src="https://user-images.githubusercontent.com/11865/174550161-bc0659fb-25b0-4f44-af4c-8ab97b410a4e.png">

_Originally posted by @ronaldtse in https://github.com/metanorma/bipm-si-brochure/issues/168#issuecomment-1160091985_

[2022-06-20 08:27] ronaldtse commented on #169
I've been able to do this without problem, closing this particular topic.

[2022-06-20 08:33] ronaldtse commented on #170
Using the latest metanorma-bipm from Git:

Bilingual collection:
<img width="450" alt="Screenshot 2022-06-20 at 5 31 51 PM" src="https://user-images.githubusercontent.com/11865/174559850-7bbf3849-9e0e-46d5-a34c-4fb11d6c2e9a.png">

French:
<img width="471" alt="Screenshot 2022-06-20 at 5 33 20 PM" src="https://user-images.githubusercontent.com/11865/174560139-82de2d39-35fa-4e59-bdef-c8af34c2b9eb.pn

[2022-06-20 08:33] #170 closed

[2022-06-20 08:40] ronaldtse commented on #169
The meeting references are still not hidden and are not linked:
<img width="561" alt="Screenshot 2022-06-20 at 5 40 09 PM" src="https://user-images.githubusercontent.com/11865/174561451-2f28712c-c702-4bea-ae37-e09e1b92b298.png">

[2022-06-20 10:53] Intelligent2013 commented on #171
Confirmed. This issue occurs in the PDF for 'collection' only.
si-brochure-en.pdf is correct.

[2022-06-20 12:58] ronaldtse opened #172 "(URGENT) Meeting references are not being hidden and they don't contain any link to an external source"
The meeting references are still not hidden and are not linked:
<img width="561" alt="Screenshot 2022-06-20 at 5 40 09 PM" src="https://user-images.githubusercontent.com/11865/174561451-2f28712c-c702-4bea-ae37-e09e1b92b298.png">

_Originally posted by @ronaldtse in https://github.com/metanorma/bipm-si-brochure/issues/169#issuecomment-1160149566_

[2022-06-20 15:36] Intelligent2013 commented on #171
Issue fixed. BIPM xslt updated. But metanorma-bipm didn't update yet due the error https://github.com/metanorma/metanorma-bipm/runs/6969627023?check_suite_focus=true

[2022-06-21 08:07] ronaldtse opened #173 "Update MEP documents to latest editions"
The file sources/mep-kilogram-definition-en.adoc has a date of 2020-08-04 and is no longer current.

The latest version is 2021-07-07:
https://www.bipm.org/documents/20126/41489673/SI-App2-kilogram.pdf/5881b6b5-668d-5d2b-f12a-0ef8ca437176

We should keep the old mep-kilogram-definition-en.adoc in a separate location, i.e. under sources/archive/

[2022-06-21 08:20] ronaldtse opened #174 "Encoding the unit `"unitsml(kg*m^(p)*s^(q))"` causes parsing error in asciimath2unitsml"
This works:
[code]

But this crashes:
[code]

The only differences is that the powers are replaced with p and q as variables.

<img width="667" alt="Screenshot 2022-06-21 at 5 18 15 PM" src="https://user-images.githubusercontent.com/11865/174751658-e8461e94-adb3-448e-a664-f88014b8f464.png">

Trace:
[code]

[2022-06-22 15:12] ronaldtse opened #176 "Combine formulas that have units in separate formulas"
Some formulas are somehow split into multiple formulas even though they are technically one.

e.g.
[code]

Should have been:
[code]

This task is to combine these formulas.

[2022-06-22 15:13] #176 closed

[2022-06-22 15:17] ronaldtse commented on #171
Confirmed. Closing. Build error is another issue that will be handled separately.

<img width="477" alt="Screenshot 2022-06-23 at 12 17 38 AM" src="https://user-images.githubusercontent.com/11865/175067493-3f17ce12-0cbb-4d67-abba-11ba3e760efc.png">

[2022-06-22 15:17] #171 closed

[2022-06-22 15:39] ronaldtse commented on #172
I think this is not the ask right now. I don't know why there is this interpretation. The point is clicking on a citation to the Meeting (in the content) should lead directly to the URL (if the bibliographic entry is hidden), which is provided in the Relaton data for the CIPM Meeting.

[2022-06-22 15:40] opoudjis commented on #172
Ronald, I repeat, Metanorma is not magic. The citation only leads to the URL, because there is something in the bibliographic entry recognised as a resource URL. Shoving a URL in the title is not going to make it recognised as a resource URL.

[2022-06-22 15:53] opoudjis commented on #172
It clearly doesn't, since the bibitem **is not being fetched**:

[code]

`formattedref` is what happens when the bibitem is not fetched.

[code]

[2022-06-22 15:57] ronaldtse commented on #172
I'm confused.
* In the screenshot they are CGPM Meetings 9 and 14, CIPM Meeting 41.
* In the list you are seeking for CIPM Meeting 4, 43 and 51.

Can you elaborate?

[2022-06-22 16:02] opoudjis commented on #172
Do

[code]

It works.

Do

[code]

It returns nothing.

The broken meetings are:

CIPM Meeting 4
CIPM Meeting 43
CIPM Meeting 51

[2022-06-22 16:07] ronaldtse commented on #172
You could have been more specific... The problem is due to these lines:

[code]

These lines were necessary because the Relaton database doesn't have these entries.

The Relaton database does not have these entries because they are not entered at the BIPM's website:
https://www.bipm.org/en/committees/ci/cipm/meetings

Meetings 4, 43 and 51 are not provided.
<img width="1067" alt="Screenshot 2022-0

[2022-06-22 16:09] #172 closed, assigned to opoudjis

[2022-06-23 03:23] opoudjis commented on #169
By my reckoning the only remaining issues are:

* https://github.com/metanorma/metanorma-bipm/issues/175 = https://github.com/relaton/relaton-bipm/issues/27

Could @manuelfuenmayor or @ronaldtse confirm?

[2022-06-23 11:47] manuelfuenmayor commented on #173
Task is merged, closing.

[2022-06-23 11:47] #173 closed

[2022-06-23 12:09] manuelfuenmayor commented on #169
@opoudjis, yes.

[2022-06-24 02:12] ronaldtse commented on #169
Correct. And we've requested BIPM to enter the meetings that were missing from their site and they've done it too. The automatic fetching of those entries are now pending on https://github.com/metanorma/bipm-data-outcomes/issues/13 and a re-run of Relaton-BIPM.

[2022-06-27 06:13] ronaldtse commented on #169
Confirm that the remaining issue is fixed:

Thank you everyone!

[2022-06-27 06:13] #169 closed

[2022-06-27 06:15] ronaldtse commented on #172
Confirmed that the Meeting bibliography items are no longer showing.

[2022-06-27 12:06] opoudjis commented on #169
Nooooot so faast. This is only working because of my "hack", so called, of replacing English words with French in Presentation XML cross-references: it isn't the official fix of selecting on the French version of the identifier. This is not a blocker, so I'm keeping this issue closed, but I'm reopening https://github.com/metanorma/metanorma-bipm/issues/175

[2022-06-27 15:56] ronaldtse opened #178 "Replace AsciiBib encoding of CIPM meetings 4, 43 and 51 with parsed entries"
https://github.com/metanorma/bipm-data-outcomes/issues/14

The CIPM meetings 4, 43 and 51 used to be missing from the BIPM website but they have now entered them upon our request.

Once metanorma/bipm-data-outcomes#14 is complete, relaton-data-bipm should be updated, and then we can remove the AsciiBib encodings from the SI Brochure, then all the CIPM meetings will be automatically fetched.

[2022-06-29 09:36] andrew2net commented on #178
The relaton-data-bipm autoupdated daily now. There is also "Run workflow" button for the `fetch_data` workflow to update it as you need.

[2022-06-29 10:23] ronaldtse commented on #178
Actually we need to replace the asciibib in this repo. Reopening.

[2022-06-29 10:48] ronaldtse commented on #178
PR created in metanorma/bipm-si-brochure#179

[2022-07-05 04:46] ronaldtse opened #180 "(CRITICAL) Failure to generate SI Brochure collection"
This is a critical error in what it seems to be in Relaton, where the edition is expected to be an object but the data is an integer.

It is possible that this error stems from the fact that Metanorma is generating the metadata of the language-specific SI Brochure with edition as a number.

This is blocking the publication of the SI Brochure.

[code]

[2022-07-05 07:39] opoudjis commented on #180
I fixed this latest release.

[2022-07-05 13:27] #178 closed

[2022-07-05 13:36] ronaldtse opened #181 "When compiled in a bilingual collection, the English version should not be showing the French SI Brochure reference"
The French version is showing an empty bibliography. When there are no items to show, the bibliography should not be shown.

<img width="594" alt="Screenshot 2022-07-05 at 10 31 50 PM" src="https://user-images.githubusercontent.com/11865/177339730-7339e9af-69b8-4a26-9c0e-706c393a3e8a.png">

The English version is showing the French document as its sole bibliography item.

<img width="597" alt="Scr

[2022-07-05 14:00] opoudjis commented on #181
dropid is indeed preventing metanorma from recognising current-metanorma-collection/si-brochure-en as a repository identifier.

[2022-07-05 14:22] opoudjis commented on #181
the order of processing the nested prefixes of document identifiers in standoc is the wrong way around.

[2022-07-05 14:43] #181 closed

[2022-07-06 00:25] ronaldtse opened #182 "When collection omits all bibliographic items, the empty bibliography should not be rendered"
(This is a follow up from #181 )

collection_en.pdf:

<img width="487" alt="image" src="https://user-images.githubusercontent.com/11865/177437518-c8fba865-c9d5-410c-8477-743cab7a733c.png">

collection_fr.pdf:
<img width="494" alt="Screenshot 2022-07-06 at 9 23 02 AM" src="https://user-images.githubusercontent.com/11865/177437557-e9a567b0-d2fe-4da3-887b-a53ea1ba7ac5.png">

collection.pdf:
French:
<

[2022-07-06 03:24] opoudjis commented on #182
I could have sworn I already had code to do this automatically, but I can't find it, so I'll reintroduce it.

[2022-07-11 18:31] ronaldtse commented on #182
Reopening to track progress.

## Using `main` branch with latest released gems

The French bibliography is empty and it shows.
<img width="610" alt="Screenshot 2022-07-12 at 2 22 12 AM" src="https://user-images.githubusercontent.com/11865/178322024-a0a91403-3761-4c77-9732-827265c0d0f9.png">

The English bibliography is not empty (regression of #181 ):

<img width="621" alt="Screenshot 2022-07-12 a

[2022-07-12 02:54] opoudjis commented on #182
Released gem does not include this commit. Rereleasing.

[2022-07-12 03:22] opoudjis commented on #182
No, not rereleasing. That code was authored after release.

Ronald, pull isodoc from github. I did confirm this my side last week. And spurious bug reports are an abuse of my limited time.

[2022-07-12 03:57] ronaldtse commented on #182
Well, this is half fixed.

The "bibliography" sections are gone, but the pages for bibliography still exist:

<img width="482" alt="image" src="https://user-images.githubusercontent.com/11865/178403202-b6d7b4eb-cb67-43c5-a620-809575d39cc2.png">
<img width="478" alt="Screenshot 2022-07-12 at 12 36 42 PM" src="https://user-images.githubusercontent.com/11865/178403236-89ed5b93-ac7b-4603-bf83-9bd0a9f7

[2022-07-12 04:18] Intelligent2013 commented on #182
@ronaldtse yes, the empty bibliography should be ignored.  Will fix.

[2022-07-12 04:50] Intelligent2013 commented on #182
@ronaldtse BIPM xslt updated, but doesn't updated in metanorma-bipm due the error:
`Error: The format of 'metanorma-ci' is not a valid email address with display name` (https://github.com/metanorma/mn-native-pdf/runs/7295258351?check_suite_focus=true)

[2022-07-12 06:54] ronaldtse commented on #182
Thanks @Intelligent2013 , @CAMOBAP is now investigating the action failures at mn-native-pdf

[2022-07-12 10:05] ronaldtse commented on #182
@CAMOBAP @Intelligent2013 confirm this is completed. Thank you!

[2022-07-12 10:05] #182 closed

[2022-07-13 12:36] ronaldtse opened #183 "Generation failure on ubuntu using packed-mn"
https://github.com/metanorma/bipm-si-brochure/runs/7307986207?check_suite_focus=true

This job is failing at Ubuntu (is this the only workflow that runs packed-mn?):

[code]

According to @maxirmx , it seems that this job failed when expecting `/home/runner/.metanorma/fonts` exist but it doesn't.

@CAMOBAP do you have any idea what is going on here? Thanks.

[2022-07-15 13:59] CAMOBAP commented on #183
Can be related to the https://github.com/metanorma/metanorma-snap/issues/14 issue, in progress

[2022-09-07 05:32] ronaldtse opened #185 "Use site generate to build collection"
As per https://github.com/metanorma/metanorma-cli/issues/205

[2022-09-07 06:09] ronaldtse opened #187 "`metanorma site generate` with a collection source file generates output in the wrong location"
This is a bug in the functionality implemented in https://github.com/metanorma/metanorma-cli/issues/205.

This refers to a bug in the functionality implemented in https://github.com/metanorma/metanorma-cli/issues/205

Notice that `collection.yaml` has this line:
https://github.com/metanorma/bipm-si-brochure/blob/a588390f6d323ae9df8ad119027d440543bf5cd8/collection.yml#L30

But the `site generate` c

[2022-09-07 06:22] ronaldtse commented on #185
This is being implemented in #186.

[2022-09-13 04:37] ronaldtse opened #188 "PDF: Wrong fonts used when generated on GHA"
In the site artifact generated by https://github.com/metanorma/bipm-si-brochure/actions/runs/2997291371 , the fonts used for the SI Brochure generated through the `collection` command (English, French and bilingual) are wrong:

* `collection.pdf`
* `collection_en.pdf`
* `collection_fr.pdf`

<img width="621" alt="Screen Shot 2022-09-13 at 12 34 57 PM" src="https://user-images.githubusercontent.com/

[2022-09-13 06:43] Intelligent2013 commented on #188
@ronaldtse the parameter `--font-manifest ...` is missing in the command line for collection PDF processing:
[code]
therefore mn2pdf puts default Noto fonts.

For instance, there is `-font-manifest ...` in the command line for usual documents:
[code]

A 1.5 years ago, we've had the similar issue: https://github.com/metanorma/bipm-si-brochure/issues/108#issuecomment-816585382

@CAMOBAP could you ch

[2022-09-13 07:29] ronaldtse commented on #188
Then this could be an issue with the new "collection" command. It must be failing to properly inherit those parameters like the "site generate" command. @abunashir can you please help here? This is important. Thanks.

[2022-09-15 08:18] ronaldtse opened #189 "BIPM final review: content errors to be fixed"
To @metanorma/editors

BIPM has performed their final review and discovered the following issues. Most of the issues concern the French version (this is the first time the French version was reviewed).

The Excel file is provided here and also reproduced below for convenience:
[20220915-bipm-si-brochure-final-review.xlsx](https://github.com/metanorma/bipm-si-brochure/files/9573309/20220915-bipm-si

[2022-09-15 08:20] ronaldtse opened #190 "BIPM final review: presentational errors to be fixed"
To @metanorma/editors

This issue follows #189 to fix the remaining presentational errors.

The original excel sheet:
* [20220915-bipm-si-brochure-final-review.xlsx](https://github.com/metanorma/bipm-si-brochure/files/9573309/20220915-bipm-si-brochure-final-review.xlsx)

NOTE: The equations don't look right on GitHub, you need to check the Excel file.

Number | Page | Clause/paragraph | Comment
--

[2022-09-15 08:23] ronaldtse opened #191 "BIPM final review: "NOTE :" French typographic rule inserts empty space before colons"
From BIPM Janet Miles:

* Issue 19 in #189
* Issue 8 in #190

This applies to the "NOTE:" display, where an empty space needs to be "NOTE :" not "NOTE:".

[2022-09-15 08:31] ronaldtse opened #192 "BIPM final review: Links to BIPM outcomes should follow document language"
From BIPM Janet Miles:

This refers to:
* Issue 12, 40 in #190

Right now, Relaton does not to provide links for both languages:
* https://github.com/relaton/relaton-data-bipm/blob/9fd0943b7b142a23903bee0a8386463736e1a1af/data/cipm/meeting/resolution/1948-00.yaml#L17

bipm-data-outcomes already provides both language-specific links:
* https://github.com/metanorma/bipm-data-outcomes/blob/main/cipm/

[2022-09-15 08:36] ronaldtse opened #193 "BIPM final review: Update reference conventions to CIPM/CGPM/CCTF outcomes"
From BIPM Janet Miles:

When referring to the Resolutions I’d provided you with the English description but not the French: in French the model for “CGPM Resolution X (YYYY)” would be
* Résolution X **_de la_** CGPM (YYYY)

And there’s another slight complication in that the wording is “**_de la_**” for the CGPM, but “**_du_**” for the CIPM and Consultative Committees:
* Recommandation 2 _**du**_

[2022-09-15 08:40] ronaldtse opened #194 "BIPM final review: number spacing in groups of 3, but don't let 1 digit hanging"
From BIPM Janet Miles:

Concerning the presentation of numbers… there’s another twist written explicitly in the SI Brochure, so I think we need to respect it here:

As you know, digits are presented in groups of threes, with an inseparable space between the groups of three – unless there’s a trailing digit (left all on its own), in which case it’s included (without a space) with the previous group

[2022-09-15 10:42] opoudjis commented on #191
Crap, that is in fact universal for inserted text. It will need to be a `l10n( )` function, and because `l10n()` is already used to capture issues with Chinese, that should be sufficient.

[2022-09-15 12:51] ronaldtse commented on #191
Thank you @opoudjis , it's comforting to know that the existing l10n implementation can handle this.

[2022-09-15 17:51] ronaldtse opened #195 "Failure in generation on Ubuntu"
https://github.com/metanorma/bipm-si-brochure/actions/runs/3005333094/jobs/4900544087

The latest builds are failing on Ubuntu, it seems that the fonts are not downloaded (or can't be downloaded)?

[2022-09-16 05:00] manuelfuenmayor commented on #189
[Delegated](https://github.com/metanorma/metanorma-bipm/issues/193)

[Delegated](https://github.com/metanorma/metanorma-bipm/issues/194)

[Delegated](https://github.com/metanorma/metanorma-bipm/issues/195)

[Delegated](https://github.com/metanorma/metanorma-bipm/issues/196)

All other issues has been fixed in [markup](https://github.com/metanorma/bipm-si-brochure/pull/196).

[2022-09-16 14:34] manuelfuenmayor commented on #190
@ronaldtse the provided Excel sheet does not correspond to the table shown in the description.

[2022-09-16 15:30] ronaldtse commented on #189
Fixed in #196. Remaining issues have been posted by @manuelfuenmayor .

[2022-09-16 15:30] #189 closed

[2022-09-16 16:20] manuelfuenmayor commented on #189
Yes, the additional space is (particularly) added by the Theta (Θ) special character.

[2022-09-17 04:45] manuelfuenmayor opened #198 "Brochure: Update configuration of grouping decimals"
In relation to https://github.com/metanorma/bipm-si-brochure/issues/190

*Message from BIPM:*

In cases like:

![issue11-1](https://user-images.githubusercontent.com/33627611/190840734-1fe4d162-af1d-41fe-af49-37fa3ae7f22f.PNG)

![issue11-2](https://user-images.githubusercontent.com/33627611/190840736-76fa4a1a-a5db-4f3d-816c-193975a5089e.PNG)

The last four decimals should be grouped together in or

[2022-09-17 04:48] manuelfuenmayor commented on #198
Wrong repository to publish. Closing.

[2022-09-17 04:48] #198 closed

[2022-09-17 19:01] manuelfuenmayor opened #199 "Brochure: Clarification about BIPM request"
From https://github.com/metanorma/bipm-si-brochure/issues/190, BIPM is requesting to address this:

<html>
<body>

49 | 140 | footnote (d) | Add hyperlinks to Metrologia citations.Reference should be "16th CGPM (1979, Resolution 6)
-- | -- | -- | --

</body>
</html>

Being the source of the issue, this part:
![issue49-3](https://user-images.githubusercontent.com/33627611/190872417-5edd3c3e-2f42-48

[2022-09-17 20:10] manuelfuenmayor commented on #190
2 | 10 | header | Superscript for the "e" = 9e

[Delegated](https://github.com/metanorma/metanorma-bipm/issues/204)

41 | 120 |   | missing vertical spaces between the four list items

[Delegated](https://github.com/metanorma/metanorma-bipm/issues/197)

42 | 120 |   | note not aligned on right side; insert a vertical space between the two paragraphs

[Delegated](https://github.com/metanorma/metano

[2022-09-18 03:01] opoudjis commented on #199
I think this is poorly worded, and that the change request applies only to the first instance: "1979, Resolution 6" is cited twice ("1979, Resolution 6" and "CGPM Resolution 6 (1979)" ---the first is intended as a  discursive explanation of the the reference, the second as the actual citation. I think the intent here is to drop the second.

The hyperlinks should be automated for Metrologia, as we'

[2022-09-18 13:20] manuelfuenmayor commented on #199
Thanks @opoudjis, I'm taking your approach.

[2022-09-18 15:57] #199 closed

[2022-09-19 03:52] ronaldtse commented on #190
Closing this since the rest has been made individual tickets:

* [ ] https://github.com/metanorma/metanorma-bipm/issues/195

* [ ] https://github.com/metanorma/metanorma-bipm/issues/197

* [ ] https://github.com/metanorma/metanorma-bipm/issues/198

* [ ] https://github.com/metanorma/metanorma-bipm/issues/199

* [ ] https://github.com/metanorma/metanorma-bipm/issues/200

* [ ] https://github.com/me

[2022-09-19 03:55] #190 closed

[2022-09-19 03:57] ronaldtse commented on #189
* [ ] https://github.com/metanorma/metanorma-bipm/issues/193
* [ ] https://github.com/metanorma/metanorma-bipm/issues/194
* [ ] https://github.com/metanorma/metanorma-bipm/issues/195
* [ ] https://github.com/metanorma/metanorma-bipm/issues/196

[2022-09-22 12:44] opoudjis commented on #192
This requires the URLs to be differentiated by language, just as relaton titles are, so that I can select on one.

[2022-09-22 12:55] opoudjis commented on #193
No, I don't see what the impact on relaton-render would be. "Résolution X de la CGPM" is either a title or an identifier, but in either case, relaton-bipm is composing it, not me.

[2022-09-22 12:59] opoudjis commented on #193
I'll hold this issue, but only to confirm its integration into the brochure.

[2022-09-25 05:08] opoudjis commented on #191
French practice varies by locale. We haven't done locales yes, and our assumption of two-character languages is so universal in the code, that it would be more straight forward to introduce locale as a distinct parameter in configuration, alongside language and script. I'm going to code this in, although for now we are only going to implement French practice.

https://fr.wikipedia.org/wiki/Compara

[2022-09-25 06:04] opoudjis commented on #191
This raises the prospect of whether we should be applying such localisation retrospectively to main body text. For the time being, we won't, too much risk of things going wrong.

[2022-09-25 06:22] opoudjis commented on #191
@ronaldtse Please query ISO and IEC whether they want to apply Swiss French or France French localisation to colons. If I don't hear back, I'll leave it France French.

[2022-09-25 08:18] opoudjis commented on #191
Needed to remove direct dependency of isodoc on isodoc-i18n, since isodoc depends on relaton-render and mn-requirements, which also depend on isodoc-i18n

[2022-09-25 09:38] #194 closed

[2022-09-25 09:56] opoudjis commented on #191
The good news is that French punctuation localisation is implemented, although it's caused @CAMOBAP some grief because of circular development dependencies. We are seeing it show up now in Requirements encoding as well.

The bad news is... what "NOTE:"? The automatically inserted text is just "NOTE".

Imagine my irritation when I discovered...

<img width="748" alt="Στιγμιότυπο 2022-09-25, 19 52

[2022-09-25 11:11] Intelligent2013 commented on #191
@opoudjis  in BIPM XSLT, colon puts after:

1. `Part.sg` localized string + `bibdata/ext/structuredidentifier/part`:
![image](https://user-images.githubusercontent.com/5559926/192139590-4b49a895-02d5-4707-9ced-ffce974f61c6.png)

(example PDF: https://github.com/metanorma/bipm-si-brochure/blob/gh-pages/documents/mep-mole-definition-en.pdf, page 3)

2. `Sub-part`, or `Partie de sub` (depends on lang

[2022-09-25 11:12] Intelligent2013 opened #202 "BIPM XSLT: Remove colons insertions"
From issue: https://github.com/metanorma/bipm-si-brochure/issues/191#issuecomment-1257158689

To do:

[2022-09-25 11:22] opoudjis commented on #191
Shit.

OK, this is more work than I'd hoped for, to move all this logic into Presentation XML, but that is what I'm going to have to do.

For whatever reason, the first note in the preface is *not* getting space before the colon. But I'm going to take responsibility for all of this over, including the Note/Remarque distinction (which needs to appear in HTML too).

[2022-09-25 12:00] opoudjis commented on #202
I'm not going to get this done before tomorrow's release, so please don't push anything before Tuesday.

[2022-09-25 12:01] opoudjis commented on #191
@Intelligent2013 1, 2: these are inserted into `<title language="en" format="text/plain" type="part">` and type="subpart", right? And that happens consistently for all documents with part titles?

[2022-09-25 12:01] opoudjis commented on #191
3 is what failed, and I don't know why.

[2022-09-25 12:49] opoudjis commented on #191
I've implemented 3-6.

[2022-09-25 12:56] Intelligent2013 commented on #191
@opoudjis

Yes, the part's localized string and part's number render before these titles.

Currently, the part/subpart titles render only for Appendix documents (with value in `bibdata/ext/structuredidentifier/appendix`) on two pages:

- cover page:
![image](https://user-images.githubusercontent.com/5559926/192144272-34e5a009-370f-4587-9528-c0b11a0bf9da.png)
(Example from mep-mole-definition-en.pd

[2022-09-25 12:59] opoudjis commented on #191
Crap. This is horrid.

... What if I generate two titles? One "part", and one "part-with-numbering"? Can you select one or the other?

[2022-09-25 13:00] Intelligent2013 commented on #191
Yes, sure.

[2022-09-25 14:03] anermina opened #203 "Displaying fetched non-ASCII characters"
Rendering non-ASCII characters doesn't work correctly. Currently, we get these characters displayed the same as they are fetched (no translation is performed).
[code]
![image](https://user-images.githubusercontent.com/55683568/191350861-329212b2-04fb-4f48-9443-2031fbe9930c.png)

[2022-09-25 14:10] anermina opened #204 "Indentation of table title"
Titles of tables and figures are indented if they span multiple rows. However, I'm not sure if the current output is correct, since the original MEP document doesn't have the titles indented at all.

Example (original is on the left and the generated document is on the right):
![image](https://user-images.githubusercontent.com/55683568/192147825-2d7bb48e-fb35-4725-b581-de4dbb28a1de.png)

[2022-09-25 14:33] opoudjis commented on #203
https://github.com/relaton/relaton-bipm/issues/40

Andrew is going away for a week, but this is a source data issue, Relaton should be publishing data in UTF-8.

[2022-09-25 20:09] Intelligent2013 commented on #191
@opoudjis there is a typo in my comment (updated above). Instead of `termnote` should be `note`, i.e.:

3. `note/name` in the `preface`:
    - If language is `fr`, then text `&#xa0;: ` added after `termnote/name`

should be:

3. `note/name` in the `preface`:
    - If language is `fr`, then text `&#xa0;: ` added after `note/name`

I've generated FR presentation xml with metanorma-bipm from branch `

[2022-09-26 03:56] ronaldtse commented on #204
I think we need to decide on the proper representation of the table caption, whether it is inline like the left or in a table form like the right.

[2022-09-26 05:17] ronaldtse commented on #203
This issue requires Relaton to deal with BibTeX parsing and semantics. As you remember the `{...}` means that capitalization should not be changed for the text in between. We've never dealt with those and will need to.

In any case, this issue is not part of the SI Brochure, this is for the MEPs, so should not be affected by the milestone.

[2022-09-26 08:17] Intelligent2013 commented on #204
Initially, BIPM XSLT was developed for BIPM SI Brochure.

Original PDF From https://www.bipm.org/en/publications/si-brochure:
![image](https://user-images.githubusercontent.com/5559926/192225832-4b7fc94f-298b-4573-a8d1-67d6c9d7adfd.png)

Currently rendered PDF by BIPM XSLT:
![image](https://user-images.githubusercontent.com/5559926/192225310-99584350-5586-4fc7-8772-e7fd5e3b4809.png)

Any rendered

[2022-09-26 11:00] ronaldtse commented on #204
No, we should only have one style. BIPM will only use the same style across documents, starting from the SI Brochure.

However, it seems that the caption in @anermina 's screenshot is too much indented towards the right side?

[2022-09-26 11:24] Intelligent2013 commented on #204
This occurs due the difference length `Tableau` (fr) and `Table` (en). I'll fix this issue (change the paragraph layout with indentation to the list with one item, or non-bordered table with one row).

[2022-09-26 12:02] ronaldtse commented on #204
Thanks!

[2022-09-27 00:43] opoudjis commented on #191
I didn't understand the subtlety. OK, preface notes are capitalised, main body notes are not, got it.

The spacing around gems is introduced by isodoc-i18n, major version update, so it will work now (release was yesterday). As you know, there's a lot of dependencies.

[2022-09-27 01:51] opoudjis commented on #191
I've updated `title[@type = 'part']` to have a duplicate part-with-numbering, and I've capitalised preface note names.

It is obvious what has happened with the B. and J.:

`<ol id="_276917e4-1d26-3d0f-0985-80cfaec695be" type="upperalpha">`

Asciidoctor is interpreting "B. " and "J. " at the beginning of a line as ordered list ordinals. Yes, I know it's stupid.

Your workaround is to replace the s

[2022-09-27 05:54] opoudjis commented on #203
Removed milestone marker.

[2022-09-27 11:27] opoudjis commented on #192
Implementing the selector, but the relaton record is wrong, so it will not work until the relaton record is corrected. The langauge-specific URIs need to be provided for both languages and be of type "citation". URI with type "src" are not external links that can be linked to from documents (and the language-specific URIs so coded are raw YAML, they are actually "src".)

[2022-09-27 14:41] opoudjis commented on #192
isodoc-i18n processing of XML fragments was buggy: was using HTML parser instead of XML parser.

[2022-09-27 14:58] opoudjis commented on #192
Waiting on debugging of https://github.com/relaton/relaton-bipm/issues/38

[2022-09-27 18:02] Intelligent2013 opened #205 "BIPM: Initials vs. list items issue"
From https://github.com/metanorma/bipm-si-brochure/issues/191#issuecomment-1257269763:

`00-preface.adoc` changed in https://github.com/metanorma/bipm-si-brochure/commit/8acfc07f13e388945fc0c3c3b0cd715be064bbe6#diff-e71d3792f85922d11579c041ba90b3aa12e272669aa164e473cb33130c1f68cf:
![image](https://user-images.githubusercontent.com/5559926/192163080-b6761ea1-a502-4d81-9bdb-f6f4da192046.png)

and in

[2022-09-27 20:03] Intelligent2013 commented on #202
For independent Appendixes need use both `type="part"` and `type="part-with-numbering"`:
[code]
First title on the cover page, second one on 3rd page.

[2022-09-28 03:08] opoudjis commented on #191
And isodoc

[2022-09-28 08:08] Intelligent2013 commented on #191
Gemfile:
[code]

`bundle update`:
[code]

[2022-09-28 09:33] Intelligent2013 commented on #191
Ok now.

[2022-09-28 12:51] Intelligent2013 commented on #191
Found issue.
Currently, in `mep-mole-definition-en.presentation.xml`:
[code]

but expected:
[code]
I.e.
[code]

[2022-09-28 14:21] Intelligent2013 commented on #191
Fixed:
[code]

@opoudjis thanks!

[2022-09-28 14:21] #191 closed

[2022-09-28 15:36] Intelligent2013 commented on #204
BIPM XSLT updated in https://github.com/metanorma/metanorma-bipm/pull/211:

![image](https://user-images.githubusercontent.com/5559926/192822679-783b6814-2618-477b-ba17-dbd886fc87fe.png)

[2022-09-28 15:38] Intelligent2013 commented on #202
BIPM XSLT update.
Done in https://github.com/metanorma/metanorma-bipm/pull/211.

[2022-09-28 15:38] #202 closed

[2022-09-28 23:48] manuelfuenmayor commented on #205
@Intelligent2013, I have inserted `&#xa0;` only in table environments which I think is what we need.
Thanks!

[2022-09-29 09:11] Intelligent2013 commented on #205
@manuelfuenmayor thanks!

[2022-09-29 09:11] #205 closed

[2022-10-10 12:24] ronaldtse commented on #204
Thanks @Intelligent2013 !

[2022-10-10 12:24] #204 closed

[2022-10-11 10:26] opoudjis commented on #174
Work on this in Plurimath

[2022-10-19 16:01] andrew2net opened #206 "Unable to install dependencies"
@opoudjis is there a reason the line is commented out? The relaton-data-bipm fails to build the bipm-si-brochure because it fails to install dependencies.
https://github.com/metanorma/bipm-si-brochure/blob/47677fc1ef1ed42d9dc65a5c05f1abe6f30d7697/Gemfile#L9

[2022-10-19 16:06] opoudjis commented on #206
[code]

This line allows an alternate Gemfile.devel to be read in, in order to override the Gemfile during testing with instances of gems fetched directly from github.

But I'm not seeing what difference it makes to comment it or not: my "bundle update" currently works fine.

I've reinstated

[code]

let me know if that takes care of it.

[2022-10-19 17:00] #206 closed

[2022-10-25 14:04] opoudjis commented on #192
Confirmed working (once I clear out the relaton cache folder!)

[2022-10-25 14:04] #192 closed

[2022-10-25 14:45] opoudjis commented on #174
@ronaldtse agrees that this should crash, he is objecting to the error message. The syntax has been changed in bipm brochure, so this issue goes away in favour of https://github.com/plurimath/asciimath2unitsml/issues/32

[2022-10-26 06:23] ronaldtse commented on #188
@abunashir is this fixed? Thanks!

[2022-10-26 06:28] abunashir commented on #188
Nope, not yet. I am looking into it next!

[2022-11-06 14:14] abunashir commented on #188
Hi @ronaldtse, I finally managed to drill down the issue. Looks like the `font-mainfest` was never being used for collection document, so even though we were trying to set it but the pdf generation was ignoring that. I have created two separate pull request, and once that is merged then this issue should be resolved. Here are pull request:

- https://github.com/metanorma/metanorma-standoc/pull/699

[2022-11-07 07:41] #185 closed

[2022-11-07 07:41] ronaldtse opened #209 "Site generate for collection should not generate component PDFs twice"
The `si-brochure-en.pdf` and `si-brochure-fr.pdf` files are compiled twice when using `metanorma site generate`, once under `site/documents` and once under `site/brochure`.

This needs to be fixed. (cc @abunashir)

_Originally posted by @ronaldtse in https://github.com/metanorma/bipm-si-brochure/issues/186#issuecomment-1305199238_

[2022-11-07 09:21] ronaldtse commented on #209
Here's the full log. You can clearly see the duplicated commands:

[code]

## Duplicated commands: English

[code]

## Duplicated commands: French

[code]

[2022-11-08 12:22] ronaldtse opened #211 "Fix build"
Build needs to be fixed after the recent changes at actions-mn.

[2022-11-08 13:49] CAMOBAP commented on #211
Fixed

[2022-11-08 13:49] #211 closed

[2022-11-08 14:09] ronaldtse commented on #211
@CAMOBAP is it pushed? It's not fixed yet...

[2022-11-08 14:20] ronaldtse commented on #211
@CAMOBAP how about we use Metanorma Docker instead of Metanorma Snap?

[2022-11-08 14:21] CAMOBAP commented on #211
I think we have both workflows for this repo

[2022-11-12 12:26] abunashir commented on #188
@ronaldtse: I assume we are done with this one, can we close this?

[2022-11-13 13:36] abunashir commented on #209
Hi @ronaldtse, I was trying to look into it but I'm not sure if I understand it correctly. So, we are basically explicitly specifying the files once in [metanorma.yml](https://github.com/metanorma/bipm-si-brochure/blob/main/metanorma.yml#L59), where the file is specifying that the compiler should output `pdf` along with others.

And we are also specifying to generate `pdf` files in [collection.yml